{% extends 'admin/layout.html.twig' %}
 {% block body_id 'nbrvat_vatadjustment_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('nbrvat_vatadjustment') }}">  {{ 'Tax Payable'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add Payable/Receivable'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Tax Payable/Receivable'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="{{ path('nbrvat_vatadjustment') }}" class="btn btn-sm  gray-bg white-font"><i class="fa fa-list"></i>{{ 'VAT Adjustment'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create Tax Payable/Receivable'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right form-validation'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                 <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.adjument, 'Tax Payable/Receivable'|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.adjument) }}
                                                {{ form_errors(form.adjument) }}
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.amount, 'Amount'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-4">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.amount) }}
                                                {{ form_errors(form.amount) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.remark, 'Remark', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.remark) }}
                                                {{ form_errors(form.remark) }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                                <div class="form-actions right">
                                    <div class="col-md-12">

                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'Save & Create', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}