{% extends 'admin/layout.html.twig' %}
 {% block body_id 'nbrvat_treasuary_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Mushok 6.4 (Contractual Production Challan)'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% if searchForm.item is defined %}
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h5>{{ 'Report Preview'|trans }} {{ 'Mushok 6.4 (Contractual Production Challan)'|trans }} </h5>
                        <div class="card-header-right">
                            <div class="btn-group btn-group-sm" role="group">
                                <a href="{{ path('nbrvat_report_mushuk_6_4_print',{'id':searchForm.item,'mode':'download'}) }}" target="_blank" class="btn btn-sm  green-bg white-font"><i class="feather icon-download"></i> Download</a>
                                <a href="{{ path('nbrvat_report_mushuk_6_4_print',{'id':searchForm.item,'mode':'print'}) }}" target="_blank" class="btn btn-sm  indigo-bg white-font"><i class="feather icon-printer"></i> Print</a>
                                <a href="{{ path('nbrvat_report_mushuk_6_4_print',{'id':searchForm.item,'mode':'pdf'}) }}" target="_blank" class="btn btn-sm  blue-bg white-font"><i class="feather icon-share"></i> PDF</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <iframe src="{{ path('nbrvat_report_mushuk_6_4_print',{'id':searchForm.item,'mode':'preview'}) }}" style="width: 100%; height:650px; border: 1px solid transparent" ></iframe>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Mushok 6.4 (Contractual Production Challan)'|trans }}: </div>
                    </div>
                    <div class="portlet-body form">
                        <form id="report" method="get" class="form-horizontal right" action="">
                            <div class="row form-body">
                                <div class="form-inner-no-space">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group" style="margin-bottom: 36px!important;">
                                                <label class="col-md-4 control-label" for="bank_form_accountOwner">Search Production Challan</label>
                                                <div class="col-md-4">
                                                    <select id="item" name="item" class="select2">
                                                        <option value="">--Select Production Challan</option>
                                                        {% for entity in entities %}
                                                            <option   {% if searchForm.item is defined and searchForm.item == entity.id  %} selected="selected" {% endif %} value="{{ entity.id }}">{{ entity.invoice }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                        <div class="col-md-12">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="submit"  class="btn btn-sm blue-bg white-font"><i class="fa fa-refresh"></i>{{ 'Mushok Report'|trans }}</button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
