{% extends 'print/report-base.html.twig' %}
{% block report_header %}
    <table class="style_21" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="__bookmark_3">
        <tr class="style_16" valign="top">
            <th class="style_17" colspan="5" style=" overflow:hidden;" align="left">
                <table class="style_18" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="__bookmark_2">
                    <colgroup><col style=" width: 10%;">
                        <col style=" width: 2%;">
                        <col style=" width: 33%;">
                        <col style=" width: 15%;">
                        <col style=" width: 2%;">
                        <col style=" width: 38%;">
                    </colgroup><tbody><tr valign="top">
                        <td colspan="6" style=" overflow:hidden;" align="left">
                            <table class="style_21" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_2_a4184741-6eaf-4b59-b595-de64171e4bf7">
                                <colgroup><col>
                                </colgroup><tbody><tr valign="top">
                                    <td style=" overflow:hidden;" align="right">
                                        <div class="style_24" id="AUTOGENBOOKMARK_3_ca256296-eb4a-4a64-aec9-25d2e73248aa" style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</div>
                                        <div class="style_25" id="AUTOGENBOOKMARK_4_88ec3bfc-465a-460b-9200-ceed25a0764f" style=" text-align:center;">জাতীয় রাজস্ব বোর্ড</div>
                                    </td>
                                </tr>
                                <tr class="style_26" valign="top">
                                    <td class="musuk-name"><span>মূসক-৬.৪</span></td>
                                </tr>
                                <tr valign="top">
                                    <td style=" overflow:hidden;">
                                        <div class="style_31" id="AUTOGENBOOKMARK_5_12d7b814-906b-43df-8808-7b3e45d7166a" style=" text-align:center;">চুক্তিভিত্তিক উৎপাদনের চালানপত্র&nbsp;</div>
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td style=" overflow:hidden;">
                                        <div class="style_34" id="AUTOGENBOOKMARK_6_f48515ec-8d1e-4b01-8506-220c6975c6d5" style=" text-align:center;">[বিধি ৪০ এর উপ-বিধি (১) এর দফা (ঘ) দ্রষ্টব্য]</div>
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left">
                            <div class="style_40" id="AUTOGENBOOKMARK_7_a40c3128-5966-405b-8f7d-1ff90c2e32bd">নিবন্ধিত ব্যক্তির নাম</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_8_8ea20de0-f951-47a6-a32f-8956627da09a" style=" text-align:center;">:</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">{{ domain.organizationName }}</td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left">
                            <div class="style_40" id="AUTOGENBOOKMARK_9_5a7faef8-6872-492a-a99d-bbe5b0dfdd18">নিবন্ধিত ব্যক্তির বিআইএন</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_10_609c0183-80b8-4006-8e51-377e169c4a34" style=" text-align:center;">:</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">{% if domain.binNo is not empty %}{{ domain.binNo }} {% else %} {{ domain.nid }}{% endif %}</td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left">
                            <div class="style_40" id="AUTOGENBOOKMARK_11_f2948a4c-46d3-42ba-bbe1-ebd3f6bdd140">চালানপত্র ইস্যুর ঠিকানা</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_12_8ed545f4-cd82-491d-a053-28f0c86c44b2" style=" text-align:center;">:</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            {{ entity.vendor.address|raw }}
                        </td>
                    </tr>
                    <tr class="style_60" valign="top">
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left"></td>
                        <td style=" overflow:hidden;" align="left"></td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;" align="left">
                            <div class="style_40" id="AUTOGENBOOKMARK_13_54e64cbd-0832-40e8-8849-00de9e23e68b">গ্রহীতার নাম</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_14_473667a1-658f-42b5-add0-a9454741fff9" style=" text-align:center;">:</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            {{ entity.vendor.companyName }}
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            <div class="style_40" id="AUTOGENBOOKMARK_15_8c0328f5-4741-47dd-bc77-14f144975d1e">চালানপত্র নম্বর&nbsp;</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_16_e6edde88-b035-407c-8d2e-e858006f8e16" style=" text-align:center;">:</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                           {{ entity.invoice }}
                        </td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;" align="left">
                            <div class="style_40" id="AUTOGENBOOKMARK_17_72d12abb-57ac-47a8-b538-d5be96695a4b">গ্রহীতার বিআইএন</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_18_363a01fa-86fb-444b-b41e-44d356d13110" style=" text-align:center;">:</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                          {% if  entity.vendor.binNo is not empty %} {{  entity.vendor.binNo }} {% else %} {{  entity.vendor.nid }}{% endif %}
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            <div class="style_40" id="AUTOGENBOOKMARK_19_f785b8e7-2b8e-4f48-adda-c5878eb21ed2">ইস্যুর তারিখ</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_20_e4efd58e-4d00-4806-9d8c-95fdae6c2411" style=" text-align:center;">:</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            {{  entity.issueDate|date('d-m-Y')|bn_number }}
                        </td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;" align="left">
                            <div class="style_40" id="AUTOGENBOOKMARK_21_c468e116-d0f2-4c3a-a4c6-c36b2ac5cdcf">গন্তব্যস্থল</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_22_cab99b82-6762-4072-b6e0-141a7d4b6a50" style=" text-align:center;">:</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                           {{ entity.address }}
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            <div class="style_40" id="AUTOGENBOOKMARK_23_9501bbe4-1006-4e8e-a9f2-e60847fb649a">ইস্যুর সময়</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_24_f6a89002-7711-4fb7-8e54-a1f1144285a9" style=" text-align:center;">:</div>
                        </td>
                        <td style=" overflow:hidden;" align="left">{{ entity.issueDate|date('h:m A')|bn_number }}</td>
                    </tr>
                    </tbody>
                </table>
            </th>
        </tr>
    </table>
{% endblock %}

{% block report_body %}
    <div id="pdf-report-page">
        <table class="style_15 table" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;text-align:right;" id="__bookmark_1">
            <colgroup>
                <col style=" width: 5%;">
                <col style=" width: 40%;">
                <col style=" width: 35%;">
                <col style=" width: 10%;">
                <col style=" width: 10%;">
            </colgroup>
            <tbody>

            <tr class="style_94" valign="top">
                <th class="style_95" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_25_f0a7a1f9-adeb-4828-a749-d310aa3305fe" style=" text-align:center;">ক্রমিক সংখ্যা</div>
                </th>
                <th class="style_97" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_26_68f149e6-13cb-43cc-8b52-e0ecc828cc34" style=" text-align:center;">প্রকৃতি (উপকরণ বা উৎপাদিত পণ্য)</div>
                </th>
                <th class="style_98" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_27_35e7bd03-465a-48c1-a7f9-69447e689257" style=" text-align:center;">পণ্যের বিবরণ</div>
                </th>
                <th class="style_99" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_28_0208c50b-4161-4f2e-ba8c-ff00cfd72931" style=" text-align:center;">পরিমাণ</div>
                </th>
                <th class="style_100" style=" overflow:hidden;" align="center">
                    <div class="style_96" id="AUTOGENBOOKMARK_29_885bc58f-cc09-4aae-b0e6-4837066fb299" style=" text-align:center;">মন্তব্য</div>
                </th>
            </tr>
            {% if entity.batchItems is not empty %}
                {% set i = 1 %}
                {% set totalRows = entity.batchItems|length %}
                {% set totalQuantity = 0 %}
            {% for item in entity.batchItems %}
                <tr class="style_94" valign="top">
                    <th class="style_95" colspan="5"  align="left">
                      {{ item.item.name }}
                    </th>

                </tr>
                {% if loop.index == i %}
                    {% for element in item.productionItem.elements %}
                        {% set totalQuantity = totalQuantity + (element.quantity * item.issueQuantity) %}
                    <tr class="style_101" valign="top">
                <th class="style_102" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_30_114121e7-f375-4a79-b1a2-cb0722f32523" style=" text-align:center;">({{ loop.index|bn_number }})</div>
                </th>
                <th class="style_103" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_31_1797b312-9b57-40bd-85d5-5add6560a43c" style=" text-align:center;">{{ element.material.name }}</div>
                </th>
                <th class="style_104" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_32_056e6a47-b36d-459c-95b4-e96dc6a6bfec" style=" text-align:center;"></div>
                </th>
                <th class="style_105" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_33_cb9935b1-67d1-44e9-b3e2-187e9ea2f02f" style=" text-align:center;">{{ ( element.quantity * item.issueQuantity)|number_format(2)|bn_number }} {{ element.uom }}</div>
                </th>
                <th class="style_106" style=" overflow:hidden;" align="center" rowspan="{{ totalRows }}">
                    <div class="style_96" id="AUTOGENBOOKMARK_34_95d3747e-327c-4fee-ba08-680598e94d75" style=" text-align:center;"></div>
                </th>
            </tr>
                {% else %}
                    <tr class="style_101" valign="top">
                <th class="style_102" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_30_114121e7-f375-4a79-b1a2-cb0722f32523" style=" text-align:center;">({{ loop.index|bn_number }})</div>
                </th>
                <th class="style_103" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_31_1797b312-9b57-40bd-85d5-5add6560a43c" style=" text-align:center;">{{ item.productionItem.name }}</div>
                </th>
                <th class="style_104" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_32_056e6a47-b36d-459c-95b4-e96dc6a6bfec" style=" text-align:center;">{{ item.productionItem.name }}</div>
                </th>
                <th class="style_105" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_33_cb9935b1-67d1-44e9-b3e2-187e9ea2f02f" style=" text-align:center;">{{ item.issueQuantity }}</div>
                </th>

            </tr>
                        {% endfor %}
                {% endif %}
                {% set i = i + 1 %}
            {% endfor %}
            {% endif %}
            <tr class="style_119" valign="top">
                <td class="style_120" style=" overflow:hidden;"></td>
                <td class="style_121" style=" overflow:hidden;"></td>
                <td class="style_122" style=" overflow:hidden;" align="center">
                    <div class="style_123" id="AUTOGENBOOKMARK_35_3be88929-cf15-408d-b127-34bacd0201e8" style=" text-align:right;">সর্বমোট</div>
                </td>
                <td class="style_124" style=" overflow:hidden;">

                </td>
                <td class="style_126" style=" overflow:hidden;"></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block report_footer %}
    <table class="style_15" style="margin-top: 25px; border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;">
        <tbody>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <div class="style_151" id="AUTOGENBOOKMARK_40_c4825729-6fc2-4ccb-92a0-da3fbec67cbc" style=" text-align:left;"><br>প্রতিষ্ঠান কর্তৃপক্ষের দায়িত্বপ্রাপ্ত ব্যক্তির নামঃ  {{ entity.issuePerson }}</div>
                <div class="style_151" id="AUTOGENBOOKMARK_41_15ab335c-869f-436f-b4c6-ebe0efc2e48e" style=" text-align:left;">পদবীঃ {{ entity.issueDesignation }}</div>
                <div class="style_151" id="AUTOGENBOOKMARK_42_58a57886-b6be-48b1-bf09-976ef9577184" style=" text-align:left;">স্বাক্ষরঃ</div>
                <div class="style_151" id="AUTOGENBOOKMARK_43_022bbd85-4485-4639-9937-a568947e918f" style=" text-align:left;">সীলঃ</div>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

