{% extends 'print/report-base.html.twig' %}
{% block report_header %}
{% endblock %}
{% block report_body %}
    <style type="text/css">
        .style_29 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt; border-right: thin solid black;}
        .style_28 { font-family: Nikosh;}
        .style_24 { padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
        .style_27 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt; border: thin solid black;}
        .style_26 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt; vertical-align: middle}
        .style_8 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
        .style_9 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
        .style_7 { margin-top: 20pt;}
        .style_0 { font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10pt; color: black; text-indent: 0em; letter-spacing: normal; word-spacing: normal; text-transform: none; white-space: normal; line-height: normal;}
        .style_21 { border: thin solid rgb(128, 128, 128);}
        .style_1 { font-weight: bold;}
        .style_23 { padding: 1pt 3pt; border: thin solid rgb(0, 0, 0);}
        .style_22 { font-family: Nikosh; font-weight: bold;}
        .style_4 { margin-bottom: 15pt;}
        .style_5 { font-weight: bold;}
        .style_2 { font-weight: bold;}
        .style_3 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
        .style_18 { border: thin solid black;}
        .style_17 { font-size: 10pt;}
        .style_19 { font-family: Nikosh;}
        .style_14 { font-family: Nikosh; font-size: 16pt;}
        .style_13 { margin-top: 20pt;}
        .style_16 { font-weight: bold; font-size: 12pt;}
        .style_15 { font-size: 12pt;}
        .style_10 { margin-top: 20pt; padding-right: 3pt; padding-left: 3pt;}
        .style_12 { margin-top: 20pt; padding-right: 1pt; padding-left: 1pt;}
        .style_11 { margin-top: 20pt;}
        .style_30 { font-family: Nikosh;}
    </style>
    <table cellpadding="0" rules="none" border="0" style="empty-cells: show; width:100%;">
        <col></col>
        <tr>
            <td valign="top">
                <table class="style_14" style="border-collapse: collapse; empty-cells: show; width: 100%;" id="AUTOGENBOOKMARK_1_7376cf5e-20bf-4926-8f01-ea4b70360e22">
                    <col style=" width: 50%;"></col>
                    <col></col>
                    <col></col>
                    <tr valign="top">
                        <td colspan="3">
                            <div class="style_15" id="AUTOGENBOOKMARK_2_e77de7c3-7e1a-41de-a141-cca73e88ce5a" style=" text-align:center;">চালান ফরম&#xa0;</div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2">
                            <div class="style_16" id="AUTOGENBOOKMARK_3_286158e6-3320-4bfd-b747-0d59f38f8a57" style=" text-align:center;">&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;টি , আর ফরম নং ৬ (এস, আর ৩৭ দ্রষ্টব্য )</div>
                        </td>
                        <td>
                            <table class="style_17" style="border-collapse: collapse; empty-cells: show; width: 100%;text-align:right;" id="AUTOGENBOOKMARK_4_26c57097-6744-4378-ab40-fd7ae9f7308e">
                                <col></col>
                                <col></col>
                                <col></col>
                                <tr valign="top">
                                    <td class="style_18">
                                        <div id="AUTOGENBOOKMARK_5_c767f2f4-6450-4c10-9e6f-8f7c868c23a2" style=" text-align:center;">১ম (মূল) কপি&#xa0;</div>
                                    </td>
                                    <td class="style_18">
                                        <div id="AUTOGENBOOKMARK_6_6850cd6e-4a72-477c-8d20-44a427149034" style=" text-align:center;">২য় কপি&#xa0;</div>
                                    </td>
                                    <td class="style_18">
                                        <div id="AUTOGENBOOKMARK_7_272ffff0-b2cb-4971-a39b-a0fb876c0749" style=" text-align:center;">৩য় কপি&#xa0;</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="style_19" style="border-collapse: collapse; empty-cells: show; width: 100%;" id="AUTOGENBOOKMARK_8_646a9e61-b52a-45fc-b39f-73f20565f15d">
                    <col></col>
                    <tr valign="top">
                        <td>
                            <div id="AUTOGENBOOKMARK_9_5d251c9c-5eb3-47e2-be7c-d575e7ad4b17">
                                <div style="visibility:hidden">&#xa0;</div>
                            </div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td>
                            <div id="__bookmark_1">চালান নং: {{ entity.treasuryChallanNo }}................................................................তারিখ: .....................................{{ entity.issueDate|date('d-m-Y')|bn_number }}.....................................</div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td>
                            <div id="AUTOGENBOOKMARK_10_95357e6d-820e-4d88-b0e6-7bdc4e31e8af">বাংলাদেশ ব্যাংক / সোনালী ব্যাংকের .......{{ entity.district.name }}.....জেলায়.......{{ entity.bankBranch }}........শাখায় টাকা জমা দেয়ার চালান</div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td>
                            <span id="AUTOGENBOOKMARK_11_f66b6786-40e2-4447-a3b7-cf2259403075">কোড নং&#xa0;</span>
                            <table style="border-collapse: collapse; empty-cells: show; display:inline-block; zoom:1; *+display:inline;" id="AUTOGENBOOKMARK_12_a8aaba1c-d761-4639-85f1-866fae726aa3">
                                <col style=" width: 0.22in;"></col>
                                <tr style=" height: 0.22in;" valign="top">
                                    <td class="style_18"></td>
                                </tr>
                            </table>
                            <table style="border-collapse: collapse; empty-cells: show; display:inline-block; zoom:1; *+display:inline;" id="AUTOGENBOOKMARK_13_7c3b0481-2dbd-462a-9cb6-0a552c8f6249">
                                <col style=" width: 0.22in;"></col>
                                <col style=" width: 0.22in;"></col>
                                <col style=" width: 0.22in;"></col>
                                <col style=" width: 0.22in;"></col>
                                <tr style=" height: 0.22in;" valign="top">
                                    <td class="style_18"></td>
                                    <td class="style_18"></td>
                                    <td class="style_18"></td>
                                    <td class="style_18"></td>
                                </tr>
                            </table>
                            <table style="border-collapse: collapse; empty-cells: show; display:inline-block; zoom:1; *+display:inline;" id="AUTOGENBOOKMARK_14_e7236eb7-c10d-47e7-ac2c-3d44fdc8091c">
                                <col style=" width: 0.22in;"></col>
                                <col style=" width: 0.22in;"></col>
                                <col style=" width: 0.22in;"></col>
                                <col style=" width: 0.22in;"></col>
                                <tr style=" height: 0.22in;" valign="top">
                                    <td class="style_18"></td>
                                    <td class="style_18"></td>
                                    <td class="style_18"></td>
                                    <td class="style_18"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="style_21" style="border-collapse: collapse; empty-cells: show; width: 100%;" id="__bookmark_2">
                    <col></col>
                    <col style=" width: 15%;"></col>
                    <col style=" width: 15%;"></col>
                    <col></col>
                    <col></col>
                    <col></col>
                    <col></col>
                    <tr class="style_22" valign="top" align="center">
                        <th class="style_23" colspan="4" align="left">
                            <div id="AUTOGENBOOKMARK_15_13067954-e6c3-4824-b722-289a63b7c48b" style=" text-align:center;">জমা প্রদানকারী কর্তৃক পূরণ করিতে হইবে</div>
                        </th>
                        <th class="style_23" colspan="2" align="left">
                            <div id="AUTOGENBOOKMARK_16_e3c3b5ec-dc9c-48d1-a9b9-c2071cac6f75" style=" text-align:center;">টাকার অংক&#xa0;</div>
                        </th>
                        <th class="style_23" rowspan="2" align="left">
                            <div id="AUTOGENBOOKMARK_17_2d11541d-c2b8-4186-887c-0b9ff89ba8aa" style=" text-align:center;">বিভাগের নাম, চালানের পৃষ্ঠাংকনকারী কর্মকর্তার নাম, পদবী ও দপ্তর । *</div>
                        </th>
                    </tr>
                    <tr class="style_22" valign="top" align="center">
                        <th class="style_23" align="left">
                            <div id="AUTOGENBOOKMARK_18_ebf4ac69-9a98-4af3-a984-42ef25b2b013">যাহার মারফত প্রদত্ত হইল তাহার নাম ও ঠিকানা।</div>
                        </th>
                        <th class="style_23" align="left">
                            <div id="AUTOGENBOOKMARK_19_9c5c5257-6f23-46fb-a97d-3887b11f86d6">যে ব্যাক্তি / প্রতিষ্ঠানের পক্ষ হইতে টাকা প্রদত্ত হইলো তাহার নাম, পদবী ও ঠিকানা।&#xa0;</div>
                        </th>
                        <th class="style_23" align="left">
                            <div id="AUTOGENBOOKMARK_20_6feb5fc6-b162-49cf-a2b7-70618766021a" style=" text-align:center;">কি বাবদ জমা দেয়া হইলো তাহার বিবরণ।</div>
                        </th>
                        <th class="style_23" align="left">
                            <div id="AUTOGENBOOKMARK_21_42535298-be58-4d25-9b0e-bb209f023e4e" style=" text-align:center;">মুদ্রা ও নোটের বিবরণ / ড্রাফট , পে- অর্ডার ও চেকের বিবরণ।</div>
                        </th>
                        <th class="style_23" align="left">
                            <div id="AUTOGENBOOKMARK_22_c8939848-b531-453f-a868-1dc6f1fbc84e" style=" text-align:center;">টাকা</div>
                        </th>
                        <th class="style_23" align="left">
                            <div id="AUTOGENBOOKMARK_23_63f5f0e9-67ac-4191-992a-fa6a17df7819" style=" text-align:center;">&#xa0;পয়সা&#xa0;</div>
                        </th>
                    </tr>
                    <tr valign="top">
                        <td class="style_24">
                            <div>{{ entity.issuePerson }}<br/>{{ entity.issueAddress }}</div>
                        </td>
                        <td class="style_24">
                            <div>{{ domain.organizationName }} <br/>
                            {{ domain.address|raw }}
                            </div>
                        </td>
                        <td class="style_24">
                            <div>{{ entity.treasuaryCode.name }}<br/>{{ entity.treasuaryCode.accountCode }}</div>
                        </td>
                        <td class="style_24">
                            <div></div>
                        </td>
                        <td class="style_24">
                            <div style=" text-align:right;">{{ entity.amount|number_format|bn_number }}</div>
                        </td>
                        <td class="style_24">
                            <div style=" text-align:right;">০.০০</div>
                        </td>
                        <td class="style_24"></td>
                    </tr>
                    <tr valign="top">
                        <td class="style_26"></td>
                        <td class="style_26"></td>
                        <td class="style_26"></td>
                        <td class="style_27">
                            <div class="style_19">মোট টাকা&#xa0;</div>
                        </td>
                        <td class="style_27" colspan="3">
                            <div>{{ entity.amount|number_format|bn_number }}</div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td class="style_27" colspan="5">
                            <span class="style_28" id="AUTOGENBOOKMARK_25_109367c1-5e11-40e5-a271-017b9e0cb3b7">টাকা (কথায় ): {{ inWords }}</span>

                        </td>
                        <td class="style_26"></td>
                        <td class="style_29"></td>
                    </tr>
                    <tr valign="top">
                        <td class="style_27" colspan="5">
                            <div class="style_19" id="AUTOGENBOOKMARK_26_3fd450ed-54eb-449d-b5ae-d3d479196560">টাকা পাওয়া গেল&#xa0;</div>
                        </td>
                        <td class="style_26"></td>
                        <td class="style_29"></td>
                    </tr>
                    <tr class="style_18" valign="top">
                        <td class="style_26">
                            <div class="style_19" id="AUTOGENBOOKMARK_27_7367cbbe-13aa-4f01-8328-015c38091a7e">তারিখ</div>
                        </td>
                        <td class="style_26">
                            {{ entity.created|date('d-m-Y')|bn_number }}
                        </td>
                        <td class="style_26"></td>
                        <td class="style_26"></td>
                        <td class="style_26"></td>
                        <td class="style_26" colspan="2">
                            <div class="style_30" id="AUTOGENBOOKMARK_28_fb63491e-7ae8-429b-88de-6f51db422d3c" style=" text-align:center;">ম্যানেজার&#xa0;<br/>বাংলাদেশ ব্যাংক / সোনালী ব্যাংক</div>
                        </td>
                    </tr>
                </table>
                <div id="AUTOGENBOOKMARK_29_c74ebbde-3c31-411d-882d-0b665f313d1e">
                    <div style="visibility:hidden">&#xa0;</div>
                </div>
                <div class="style_19" id="AUTOGENBOOKMARK_30_b86cfda7-ae2e-4feb-b631-bf01ff07f22e"><br/>&#xa0;<br/><br/>নোট : ১। সংশ্লিষ্ট দপ্তরের সাথে যোগাযোগ করিয়া সঠিক কোড নম্বর জানিয়া লইবেন।&#xa0;<br/>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0; ২। *যে সকল ক্ষেত্রে কর্মকর্তা কর্তৃক পৃষ্ঠাংকন প্রয়োজন , সে সকল ক্ষেত্রে প্রযোজ্য হইবে।&#xa0;<br/><br/>বাংলাদেশ সরকারের ই - সিটিজেন সার্ভিস এপ্লিকেশন থেকে মুদ্রিত।&#xa0;&#xa0;</div>
            </td>
        </tr>
        <tr>
            <td>
                <table style="border-collapse: collapse; empty-cells: show; width: 100%;" id="AUTOGENBOOKMARK_31_00a763ad-f7ff-4390-9842-179eed9e6bd6">
                    <col style=" width: 1.5in;"></col>
                    <col></col>
                    <col style=" width: 1.5in;"></col>
                    <tr valign="top">
                        <td class="style_3" colspan="3"></td>
                    </tr>
                    <tr valign="top">
                        <td class="style_3 text-center">
                            <div class="style_7">Printed: {{ "now"|date('d-m-Y') }}</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}

{% block report_footer %}

{% endblock %}
