{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('nbrvat_treasuary') }}">  {{ 'Bank Treasuary'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Bank Treasuary'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('nbrvat_treasuary_new') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Treasuary'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable" id="datatable">
                        <thead class="thead-dark">
                        <div id="check-btn">
                            <button data-action="{{ path('nbrvat_treasuary_process_group',{'mode':'cheked'}) }}" class="btn indigo-bg white-font btn-sm" type="button" id="checkBtn"><i class="feather icon-check"></i> All Check</button>
                            <button data-action="{{ path('nbrvat_treasuary_process_group',{'mode':'approved'}) }}" class="btn green-bg white-font btn-sm" type="button" id="approveBtn"><i class="feather icon-check-square"></i> All Approve</button>
                        </div>
                        <tr>
                           {# <th><input type="checkbox" class="allCheckbox" id="allCheck" name="allCheck"></th>#}
                            <th>{{ 'Challan No'|trans }}</th>
                            <th>{{ 'Bank'|trans }}</th>
                            <th>{{ 'Branch'|trans }}</th>
                            <th>{{ 'Created'|trans }}</th>
                            <th>{{ 'Account Name'|trans }}</th>
                            <th>{{ 'Account Code'|trans }}</th>
                            <th>{{ 'Amount'|trans }}</th>
                            <th>{{ 'Process'|trans }}</th>
                            <th>{{ 'Remark'|trans }}</th>
                            <th>{{ 'Action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr id="remove-{{ entity.id }}">
                               {# <input class="process" type="checkbox" name="process" id="process" value="{{ entity.id }}">#}
                                <td>{{ entity.treasuryChallanNo }}</td>
                                <td>{{ entity.bank.name }}</td>
                                <td>{{ entity.bankBranch }}</td>
                                <td>{{ entity.created|date('d-m-Y') }}</td>
                                <td>{% if entity.treasuaryCode is not empty %}{{ entity.treasuaryCode.name }}{% endif %}</td>
                                 <td>{% if entity.treasuaryCode is not empty %}{{ entity.treasuaryCode.accountCode }}{% endif %}</td>
                                <td>{{ entity.amount|number_format(2) }}</td>
                                <td>{{ entity.process|capitalize }}</td>
                                <td>{{ entity.remark }}</td>
                                <td>
                                    <div class="btn-group">
                                        {% if entity.process != "approved" %}
                                        <a href="javascript:" data-action="{{ path('nbrvat_treasuary_process',{'id':entity.id}) }}" data-id="{{ entity.id }}" class="btn approveProcess indigo-bg white-font btn-mini"><i class="feather icon-check-square"></i> {{ 'Approve'|trans }}</a>
                                        <a href="javascript:" data-action="{{ path('nbrvat_treasuary_delete',{id:entity.id}) }}" class="btn btn-mini  btn-transparent red-font remove"><i class="fa fa-remove"></i></a>
                                        {% endif %}
                                        {% if entity.process == "approved" %}
                                            <a target="_blank" href="{{ path('nbrvat_report_mushuk_tr_preview',{id:entity.id,'mode':'pdf'}) }}" class="btn btn-mini  blue-bg white-font"><i class="fa fa-download"></i> Mushuk TR-6</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 25,
    "pagination": true,
    'columnDefs': [ {
    'targets': [0,6],
    'orderable': false
    }]
    });
{% endblock %}
