{% extends 'admin/layout.html.twig' %}
 {% block body_id 'nbrvat_treasuary_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('nbrvat_treasuary') }}">  {{ 'Bank Treasuary'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add Treasuary'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Bank Treasuary'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group">

                            <a href="{{ path('nbrvat_treasuary_new') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Treasuary'|trans }}</a>
                            <a href="{{ path('nbrvat_treasuary') }}" class="btn btn-sm  gray-bg white-font"><i class="fa fa-list"></i>{{ 'Bank Treasuary'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create Bank Treasuary'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right form-validation'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                 <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.treasuaryCode, 'Treasury Deposit Account Head', {'label_attr': {'class': 'col-md-2'}}) }}
                                            <div class="col-md-10">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.treasuaryCode) }}
                                                {{ form_errors(form.treasuaryCode) }}
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.issueDate, 'Issue Date', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-4">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.issueDate) }}
                                                {{ form_errors(form.issueDate) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.treasuryChallanNo, 'Treasury Challan No', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-4">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.treasuryChallanNo) }}
                                                {{ form_errors(form.treasuryChallanNo) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.amount, 'Amount', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-4">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.amount) }}
                                                {{ form_errors(form.amount) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.issuePerson, 'Issue Person', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.issuePerson) }}
                                                {{ form_errors(form.issuePerson) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.issueDesignation, 'Issue Designation', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.issueDesignation) }}
                                                {{ form_errors(form.issueDesignation) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.issueAddress, 'Issue Address', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.issueAddress) }}
                                                {{ form_errors(form.issueAddress) }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form_label(form.district, 'District Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.district) }}
                                                {{ form_errors(form.district) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.bank, 'Bank Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.bank) }}
                                                {{ form_errors(form.bank) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.bankBranch, 'Branch Name', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.bankBranch) }}
                                                {{ form_errors(form.bankBranch) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.address, 'Bank Address', {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.address) }}
                                                {{ form_errors(form.address) }}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4"></label>
                                            <div class="col-md-8">
                                                {{ form_widget(form.status) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <div class="col-md-12">

                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'Save & Create', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}