{% extends 'print/report-base.html.twig' %}

{% block report_body %}
    <div id="pdf-report-page">
        <table align="left" border="1" cellpadding="0" cellspacing="0" id="mushok_6_2" style="width:100%">
            <tbody>
            <tr>
                <td colspan="21" style="text-align:right; vertical-align:middle;margin-bottom:0">মূসক-৬.২</td>
            </tr>
            <tr>
                <td colspan="21" style="text-align:center; vertical-align:middle">
                    <p><strong>প্রতিষ্ঠানের নাম, ঠিকানা এবং ব্যবসা সনাক্তকরণ সংখ্যা</strong></p>

                    <p><strong>বিক্রয় হিসাব পুস্তক</strong></p>

                    <p><strong>(পণ্য বা সেবা প্রক্রিয়াকরণে সম্পৃক্ত এমন নিবন্ধিত বা তালিকাভুক্ত ব্যক্তির জন্য প্রযোজ্য)</strong></p>

                    <p><strong>[বিধি ৪০ এর উপদফা (১) এর দফা (খ) এবং ৪১ এর দফা (ক) দ্রষ্টব্য ]</strong></p>
                </td>
            </tr>
            <tr>
                <td colspan="21" style="text-align:center; vertical-align:middle"><strong>পণ্য/সেবার বিক্রয়</strong></td>
            </tr>
            <tr>
                <td colspan="1" rowspan="2" style="text-align:center; vertical-align:top">ক্রমিক সংখ্যা</td>
                <td colspan="1" rowspan="2" style="text-align:center; vertical-align:top">তারিখ</td>
                <td colspan="2" rowspan="1" style="text-align:center; vertical-align:top">উৎপাদিত পণ্য/সেবার<br />
                    প্রারম্ভিক জের</td>
                <td colspan="2" rowspan="1" style="text-align:center; vertical-align:top">উৎপাদন</td>
                <td colspan="2" rowspan="1" style="text-align:center; vertical-align:top">মোট উৎপাদিত পণ্য/সেবা</td>
                <td colspan="3" rowspan="1" style="text-align:center; vertical-align:top">ক্রেতা/ সরবরাহ গ্রহীতা</td>
                <td colspan="2" rowspan="1" style="text-align:center; vertical-align:top">চালানপত্রের বিবরণ</td>
                <td colspan="5" rowspan="1" style="text-align:center; vertical-align:top">বিক্রিত/সরবরাহকৃত পণ্যের বিবরণ</td>
                <td colspan="2" rowspan="1" style="text-align:center; vertical-align:top">পণ্যের প্রান্তিক&nbsp;জের</td>
                <td colspan="1" rowspan="2" style="text-align:center; vertical-align:top">মন্তব্য</td>
            </tr>
            <tr>
                <td style="text-align:center">পরিমাণ<br />
                    (একক)</td>
                <td style="text-align:center">মূল্য<br />
                    (সকল প্রকার কর ব্যতীত)</td>
                <td style="text-align:center">পরিমাণ<br />
                    (একক)</td>
                <td style="text-align:center">মূল্য<br />
                    (সকল প্রকার কর ব্যতীত)</td>
                <td style="text-align:center">পরিমাণ<br />
                    (একক)</td>
                <td style="text-align:center">মূল্য<br />
                    (সকল প্রকার কর ব্যতীত)</td>
                <td style="text-align:center; vertical-align:top">নাম</td>
                <td style="text-align:center; vertical-align:top">ঠিকানা</td>
                <td style="text-align:center; vertical-align:top">নিবন্ধন/তালিকাভুক্তি/ জাতীয় পরিচয়পত্র নং</td>
                <td style="text-align:center; vertical-align:top">নম্বর</td>
                <td style="text-align:center; vertical-align:top">তারিখ</td>
                <td style="text-align:center; vertical-align:top">বিবরণ</td>
                <td style="text-align:center; vertical-align:top">পরিমাণ</td>
                <td style="text-align:center; vertical-align:top">করযোগ্য মূল্য</td>
                <td style="text-align:center; vertical-align:top">সম্পূরক শুল্ক<br />
                    (যদি থাকে)</td>
                <td style="text-align:center; vertical-align:top">মূসক</td>
                <td style="text-align:center; vertical-align:top">পরিমাণ<br />
                    (একক)</td>
                <td style="text-align:center; vertical-align:top">মূল্য<br />
                    (সকল প্রকার কর ব্যতীত)</td>
            </tr>
            <tr>
                <td style="text-align:center; vertical-align:middle">(১)</td>
                <td style="text-align:center; vertical-align:middle">(২)</td>
                <td style="text-align:center; vertical-align:middle">(৩)</td>
                <td style="text-align:center; vertical-align:middle">(৪)</td>
                <td style="text-align:center; vertical-align:middle">(৫)</td>
                <td style="text-align:center; vertical-align:middle">(৬)</td>
                <td style="text-align:center; vertical-align:middle">(৭)<br />
                    =(৩+৫)</td>
                <td style="text-align:center; vertical-align:middle">(৮)<br />
                    =(৪+৬)</td>
                <td style="text-align:center; vertical-align:middle">(৯)</td>
                <td style="text-align:center; vertical-align:middle">(১০)</td>
                <td style="text-align:center; vertical-align:middle">(১১)</td>
                <td style="text-align:center; vertical-align:middle">(১২)</td>
                <td style="text-align:center; vertical-align:middle">(১৩)</td>
                <td style="text-align:center; vertical-align:middle">(১৪)</td>
                <td style="text-align:center; vertical-align:middle">(১৫)</td>
                <td style="text-align:center; vertical-align:middle">(১৬)</td>
                <td style="text-align:center; vertical-align:middle">(১৭)</td>
                <td style="text-align:center; vertical-align:middle">(১৮)</td>
                <td style="text-align:center; vertical-align:middle">(১৯)<br>=(৭-১১)</td>
                <td style="text-align:center; vertical-align:middle">(২০)<br>=(৮-২৬)</td>
                <td style="text-align:center; vertical-align:middle">(২১)</td>
            </tr>
            {% if entity.salesItems is not empty %}
                {% for item in entity.salesItems  %}
                    <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

        <h3><strong>বিশেষ দ্রষ্টব্যঃ</strong></h3>

        <ul>
            <li>যেইক্ষেত্রে অনিবন্ধিত ব্যক্তির নিকট পণ্য বিক্রয় করা হইবে সেইক্ষেত্রে উক্ত ব্যক্তির পূর্ণাঙ্গ নাম, ঠিকানা ও জাতীয় পরিচয়পত্র নম্বর যথাযথভাবে সংশ্লিষ্ট কলাম [(৯), (১০) ও (১১)] আবশ্যিকভাবে উল্লেখ করিতে হইবে।</li>
        </ul>

    </div>
{% endblock %}
