{% extends 'print/report-base.html.twig' %}

{% block report_header %}
    {#<table class="table" >
        <colgroup>
            <col style=" width: 20%;">
            <col style=" width: 60%;">
            <col style=" width: 20%;">
        </colgroup>
        <tbody>
        <tr valign="top">
            <td><img class="nbr-logo"  src="{{ asset('assets/images/nbr.png') }}"></td>
            <td style="vertical-align: middle">
                <div class="style_16" style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</div>
                <div class="style_17" id="AUTOGENBOOKMARK_3_e6f87220-df2a-4b91-aa02-53e3300828d4" style=" text-align:center; vertical-align: middle">জাতীয় রাজস্ব বোর্ড ,&nbsp; ঢাকা</div>
            </td>
            <td class="musuk-name"><span>মূসক - ৯.১</span></td>
        </tr>
        </tbody>
    </table>#}
{% endblock %}

{% block report_body %}
    {% if subForm is not empty %}
    <div class="style_22" id="AUTOGENBOOKMARK_287_f506ea60-adaa-480d-b598-447e36b10b32" style=" text-align:right;">
        <div style="visibility:hidden">&nbsp;</div>
    </div>
    <div class="style_120" id="AUTOGENBOOKMARK_288_d19eea3d-73b3-4793-b322-65aed04671de" style=" text-align:left;"> {{ note.settingType.name }} - {{ note.name }}</div>
        <div class="style_22" id="AUTOGENBOOKMARK_287_f506ea60-adaa-480d-b598-447e36b10b32" style=" text-align:right;">
            <div style="visibility:hidden"><br/></div>
        </div>
    <table class="table body-table" >
        <colgroup><col style=" width: 3%;">
            <col style=" width: 14%;">
            <col style=" width: 10%;">
            <col style=" width: 23%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 5%;">
        </colgroup><tbody>
        <tr class="style_24" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_289_bf2f41ea-7005-4bc8-9277-72d7ad46e6c8" style=" text-align:center;">ক্রমিক নং</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_291_96b762f5-94de-4430-b1f4-9f6394d1c939" style=" text-align:center;">পন্য/সেবার কোড</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_292_7d42c9f1-a94a-4042-aad3-8f717d3ba894" style=" text-align:center;">পন্য/সেবার নাম</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_293_0dd0dc1b-cff4-42e4-8ae9-9678c9c18e02" style=" text-align:center;">একক মূল্য </div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_293_0dd0dc1b-cff4-42e4-8ae9-9678c9c18e02" style=" text-align:center;">পরিমান </div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_293_0dd0dc1b-cff4-42e4-8ae9-9678c9c18e02" style=" text-align:center;">মোট  মূল্য </div>
            </th>

            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_294_41c3336f-f59f-444e-b8af-f7f30e1df7de" style=" text-align:center;">মূল্য সংযোজন কর (%)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_295_4e412ea8-5a11-4aa5-b589-5048a99c6ef9" style=" text-align:center;">মোট সংযোজন কর </div>
            </th>
        </tr>
        {% set total = 0 %}
        {% set totalVat = 0 %}
        {% set refundVat = 0 %}
            {% for entity in subForm %}
                {% set total = total + (entity.quantity * entity.price)  %}
                {% set totalVat = totalVat + entity.rebateVat %}
                {% set refundVat = refundVat + entity.valueAddedTax %}
                <tr class="style_24" valign="top" align="center">
                    <td class="table-body-td">{{ loop.index|bn_number }}</td>
                    <td class="table-body-td">{{ entity.hsCode }}</td>
                    <td class="table-body-td">{{ entity.itemName }}</td>
                    <td class="table-body-td">{{ entity.price|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.quantity|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ (entity.quantity * entity.price)|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.vatPercent|number_format(2)|bn_number }}</td>
                    {%  if note.settingType.slug == 'increasing-adjutment' %}
                    <td class="table-body-td">{{ entity.rebateVat|number_format(2)|bn_number }}</td>
                    {% elseif  note.settingType.slug == 'decreasing-adjutment' %}
                        <td class="table-body-td">{{ entity.valueAddedTax|number_format(2)|bn_number }}</td>
                    {% endif %}

                </tr>
            {% endfor %}
        <tr valign="top">
            <td class="style_130 text-right" colspan="5">
                মোট
            </td>
            <th class="style_131" align="center">
                {{ total|number_format(2)|bn_number }}
            </th>
            <td></td>
            <th class="style_131" align="center">
                {%  if note.settingType.slug == 'increasing-adjutment' %}
                    {{ totalVat|number_format(2)|bn_number }}
                {% elseif  note.settingType.slug == 'decreasing-adjutment' %}
                    {{ refundVat|number_format(2)|bn_number }}
                {% endif %}
            </th>
            <td class="style_134" align="center"></td>
        </tr>
        </tbody>
    </table>
{% endif %}
{% endblock %}

{% block report_footer %}
    <table class="footer-table" >
        <colgroup>
            <col>
        </colgroup>
        <tbody>
        </tbody>
    </table>
{% endblock %}
