{% extends 'print/report-base.html.twig' %}

{% block report_header %}
    <table class="table" >
        <colgroup>
            <col style=" width: 20%;">
            <col style=" width: 60%;">
            <col style=" width: 20%;">
        </colgroup>
        <tbody>
        <tr valign="top">
            <td><img class="nbr-logo"  src="{{ asset('assets/images/nbr.png') }}"></td>
            <td style="vertical-align: middle">
                <div class="style_16" style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</div>
                <div class="style_17" id="AUTOGENBOOKMARK_3_e6f87220-df2a-4b91-aa02-53e3300828d4" style=" text-align:center; vertical-align: middle">জাতীয় রাজস্ব বোর্ড ,&nbsp; ঢাকা</div>
            </td>
            <td class="musuk-name"><span>মূসক - ৯.১</span></td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block report_body %}
    <div class="style_119" id="AUTOGENBOOKMARK_285_c19208d2-db3a-49b1-8071-efd0ee484714" style=" text-align:center;">সাবফর্ম সমূহ</div>
    {% set notes = [1,2,3,4,5,7,10,11,12,13,14,15,16,17,19,20,21,22] %}
    {% if note.noteNo in  notes %}
    <div class="style_120" id="AUTOGENBOOKMARK_286_ba412cef-62a1-46c1-a8a9-a0a2eaaf0891" style=" text-align:left;">সাবফর্ম - ক ( নোট ১, ২, ৩, ৪, ৫, ৬, ৭, ১০, ১১, ১২, ১৩, ১৪, ১৫, ১৬, ১৭, ১৯, ২০, ২১, ২২ এর জন্য প্রযোজ্য)</div>
    <div class="style_22" id="AUTOGENBOOKMARK_287_f506ea60-adaa-480d-b598-447e36b10b32" style=" text-align:right;">
        <div style="visibility:hidden">&nbsp;</div>
    </div>
    <div class="style_120" id="AUTOGENBOOKMARK_288_d19eea3d-73b3-4793-b322-65aed04671de" style=" text-align:left;">&nbsp;নোট {{ note.noteNo|bn_number }}</div>
    <table class="table body-table" >
        <colgroup><col style=" width: 3%;">
            <col style=" width: 14%;">
            <col style=" width: 10%;">
            <col style=" width: 23%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 5%;">
        </colgroup><tbody>
        <tr class="style_24" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_289_bf2f41ea-7005-4bc8-9277-72d7ad46e6c8" style=" text-align:center;">ক্রমিক নং</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_290_40f0bcc4-f4a6-4dd2-a1e8-6ac2f0a0fcc1" style=" text-align:center;">পন্য/সেবার বর্ণনা</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_291_96b762f5-94de-4430-b1f4-9f6394d1c939" style=" text-align:center;">পন্য/সেবার কোড</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_292_7d42c9f1-a94a-4042-aad3-8f717d3ba894" style=" text-align:center;">পন্য/সেবার নাম</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_293_0dd0dc1b-cff4-42e4-8ae9-9678c9c18e02" style=" text-align:center;">মূল্য (ক)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_294_41c3336f-f59f-444e-b8af-f7f30e1df7de" style=" text-align:center;">সম্পূরক শুল্ক (খ)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_295_4e412ea8-5a11-4aa5-b589-5048a99c6ef9" style=" text-align:center;">মূল্য সংযোজন কর (গ)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121"  style=" text-align:center;">মন্তব্য</div>
            </th>
        </tr>
        {% set total = 0 %}
        {% set totalSd = 0 %}
        {% set totalVat = 0 %}
        {% if subForm is not empty %}
            {% for entity in subForm %}
                {% set total = total + entity.subTotal  %}
                {% set totalSd = totalSd + entity.sd %}
                {% set totalVat = totalVat + entity.vat %}
                <tr class="style_24" valign="top" align="center">
                    <td class="table-body-td">{{ loop.index|bn_number }}</td>
                    <td class="table-body-td">{{ entity.hsName }}</td>
                    <td class="table-body-td">{{ entity.hsCode }}</td>
                    <td class="table-body-td">{{ entity.itemName }}</td>
                    <td class="table-body-td">{{ entity.subTotal|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.sd|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.vat|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.narration }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr valign="top">
            <td class="style_130 text-right" colspan="4">
                মোট
            </td>
            <td class="style_131" align="center">
                {{ total|number_format(2)|bn_number }}
            </td>
            <td class="style_131" align="center">
                {{ totalSd|number_format(2)|bn_number }}
            </td>
            <td class="style_131" align="center">
                {{ totalVat|number_format(2)|bn_number }}
            </td>
            <td class="style_134" align="center"></td>
        </tr>
        </tbody>
    </table>
    {% endif %}
    {% if note.noteNo == 8 %}
    <div class="style_22" id="AUTOGENBOOKMARK_473_f124e66a-315d-4341-9e8b-38447b6bab1e" style=" text-align:right;">
        <div style="visibility:hidden">&nbsp;</div>
    </div>
    <div class="style_120" id="AUTOGENBOOKMARK_474_ba7b3489-6065-44a9-8d3e-93382ea6e789" style=" text-align:left;">সাবফর্ম - খ ( নোট ৮ এর জন্য প্রযোজ্য)</div>
    <table class="table body-table">
        <colgroup><col style=" width: 3%;">
            <col style=" width: 10%;">
            <col style=" width: 10%;">
            <col style=" width: 10%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 7%;">
        </colgroup><tbody><tr class="style_24" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_475_bf46f8f0-588d-466c-9d20-173f80df9698" style=" text-align:center;">ক্রমিক নং</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_476_5bbd4822-2c9e-4d70-b6a1-2416c817bc8b" style=" text-align:center;">ক্যাটাগরী</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_477_58acba19-5ca0-48fe-943d-affb00407e90" style=" text-align:center;">পন্য/সেবার বাণিজ্যিক বর্ণনা</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_478_bedca0c7-86fe-48b5-915b-64ca9b80612b" style=" text-align:center;">পন্য/সেবার কোড</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_479_53a4fbf1-8112-4ad9-9bd4-9009b7434d0b" style=" text-align:center;">পন্য/সেবার নাম</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_480_0bf65bc6-1e99-4b10-a682-98762feef1f9" style=" text-align:center;">মূল্য (ক)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_481_fdfdba4d-de07-45a6-980e-1126804bfe6d" style=" text-align:center;">সম্পূরক শুল্ক (খ)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_482_58fd2514-2518-49ba-92e3-c78ba9106b36" style=" text-align:center;">মূল্য সংযোজন কর (গ)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_483_9d1fd3f4-2125-440e-a08c-277feb3c47a2" style=" text-align:center;">মন্তব্য</div>
            </th>
        </tr>
        {% set total = 0 %}
        {% set totalSd = 0 %}
        {% set totalVat = 0 %}
        {% if subForm is not empty %}
            {% for entity in subForm %}
                {% set total = total + entity.subTotal  %}
                {% set totalSd = totalSd + entity.sd %}
                {% set totalVat = totalVat + entity.vat %}
                <tr class="style_24" valign="top" align="center">
                    <td class="table-body-td">{{ loop.index|bn_number }}</td>
                    <td class="table-body-td">{{ entity.tradeCategory }}</td>
                    <td class="table-body-td">{{ entity.hsName }}</td>
                    <td class="table-body-td">{{ entity.hsCode }}</td>
                    <td class="table-body-td">{{ entity.itemName }}</td>
                    <td class="table-body-td">{{ entity.subTotal|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.sd|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.vat|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.narration }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr valign="top">
            <td class="style_130 text-right" colspan="5">
                মোট
            </td>
            <td class="style_131" align="center">
                {{ total|number_format(2)|bn_number }}
            </td>
            <td class="style_131" align="center">
                {{ totalSd|number_format(2)|bn_number }}
            </td>
            <td class="style_131" align="center">
                {{ totalVat|number_format(2)|bn_number }}
            </td>
            <td class="style_134" align="center"></td>
        </tr>
        </tbody>
    </table>
    {% endif %}
    {% if note.noteNo == 6  or note.noteNo == 18 %}
    <div class="style_22" id="AUTOGENBOOKMARK_490_d82d18e4-02dc-4b61-9f13-053e8c34537f" style=" text-align:right;">
        <div style="visibility:hidden">&nbsp;</div>
    </div>
    <div class="style_120" id="AUTOGENBOOKMARK_491_46c1a7a6-e32a-4040-8e33-fe5b6405b0a4" style=" text-align:left;">সাবফর্ম - গ ( নোট ৬, ১৮ এর জন্য প্রযোজ্য)</div>
    <table class="table body-table">
        <colgroup><col style=" width: 3%;">
            <col style=" width: 10%;">
            <col style=" width: 10%;">
            <col style=" width: 10%;">
            <col style=" width: 7%;">
            <col style=" width: 10%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 5%;">
        </colgroup>
        <tbody>
        <tr class="style_24" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_492_b4733c90-4a24-48f0-ba87-4407496ce71a" style=" text-align:center;">ক্রমিক নং</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_493_acaf7221-93f7-4152-ba4f-d0d8ce0533d4" style=" text-align:center;">পন্য/সেবার বর্ণনা</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_494_3a4ddf1d-60ae-4f7c-a36b-8d35263922d0" style=" text-align:center;">পন্য/সেবার বাণিজ্যিক কোড</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_495_370ab592-ba42-470e-92af-b8d64dc5db49" style=" text-align:center;">পন্য/সেবার নাম</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_496_b1a8f95b-659d-486f-82e7-92b457c96208" style=" text-align:center;">পরিমাপের একক (ক)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_497_d50a30b5-0045-41dd-ad0c-395e1ae8e669" style=" text-align:center;">পরিমাণ(খ)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_498_e3474761-cd40-4677-8e47-368f767c632e" style=" text-align:center;">প্রকৃত বিক্রয়/ক্রয় মূল্য (গ)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_499_e44b170c-175b-4fd5-af5d-2904ed1d6190" style=" text-align:center;">সম্পূরক শুল্ক (ঘ)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_500_b0d5a594-229b-4d07-81cb-943bfc015a43" style=" text-align:center;">মূল্য সংযোজন কর (ঙ)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_501_5d4569c5-509a-45fd-a80d-b76ad2a43ad9" style=" text-align:center;">মন্তব্য</div>
            </th>
        </tr>
        {% set totalQnt = 0 %}
        {% set total = 0 %}
        {% set totalSd = 0 %}
        {% set totalVat = 0 %}
        {% if subForm is not empty %}
            {% for entity in subForm %}
                {% set totalQnt = totalQnt + entity.quantity  %}
                {% set total = total + entity.subTotal  %}
                {% set totalSd = totalSd + entity.sd %}
                {% set totalVat = totalVat + entity.vat %}
                <tr class="style_24" valign="top" align="center">
                    <td class="table-body-td">{{ loop.index|bn_number }}</td>
                    <td class="table-body-td">{{ entity.hsName }}</td>
                    <td class="table-body-td">{{ entity.hsCode }}</td>
                    <td class="table-body-td">{{ entity.itemName }}</td>
                    <td class="table-body-td">{{ entity.uom }}</td>
                    <td class="table-body-td">{{ entity.quantity|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.subTotal|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.sd|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.vat|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.narration }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr valign="top">
            <td class="style_130 text-right" colspan="5">
                মোট
            </td>
            <td class="style_131" align="center">
                {{ totalQnt|number_format(2)|bn_number }}
            </td>
            <td class="style_131" align="center">
                {{ total|number_format(2)|bn_number }}
            </td>
            <td class="style_131" align="center">
                {{ totalSd|number_format(2)|bn_number }}
            </td>
            <td class="style_131" align="center">
                {{ totalVat|number_format(2)|bn_number }}
            </td>
            <td class="style_134" align="center"></td>
        </tr>
        </tbody>
    </table>
{% endif %}
{% if note.noteNo == 24 %}
    <div class="style_22"  style=" text-align:right;">
        <div style="visibility:hidden">&nbsp;</div>
    </div>
    <div class="style_120" id="AUTOGENBOOKMARK_506_4338dd75-0c62-4e3b-979c-d2bfa9a82658" style=" text-align:left;">সাবফর্ম - ঘ ( নোট ২৪ - "সরবরাহকারীর সরবরাহ হইতে উৎসে কর্তনের জন্য" এর জন্য প্রযোজ্য)</div>
    <table class="table body-table">
        <colgroup><col style=" width: 3%;">
            <col style=" width: 10%;">
            <col style=" width: 10%;">
            <col style=" width: 10%;">
            <col style=" width: 7%;">
            <col style=" width: 10%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 5%;">
        </colgroup><tbody><tr class="style_24" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div class="style_121" >ক্রমিক নং</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" >সরবরাহকারীর বিআইএন নম্বর</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" >সরবরাহকারীর নাম</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" >সরবরাহকারীর ঠিকানা</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" >সরবরাহ মূল্য</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" >কর্তিত মূল্য সংযোজন কর</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" >ইনভয়েস নং (চালানপত্র, বিল নম্বর ইত্যাদি)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121">ইনভয়েস বিলের তারিখ</div>
            </th>
            <th class="table-body-td" align="left">
                VAT Deduction at source, Certificate No
            </th>
             <th class="table-body-td" align="left">
                <div class="style_121">VAT Deduction at source, Certificate date</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121"  style=" text-align:center;">একাউন্ট কোডে কর পরিশোধিত</div>
            </th>
             <th class="table-body-td" align="left">
                <div class="style_121">Tax deposit serial number of Book transfer</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121">Tax deposit date</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" >মন্তব্য</div>
            </th>
        </tr>

        {% set total = 0 %}
        {% set totalVat = 0 %}
        {% if subForm is not empty %}
            {% for entity in subForm %}
                {% set total = total + entity.vdsTotal  %}
                {% set totalVat = totalVat + entity.amount %}

                <tr class="style_24" valign="top" align="center">
                    <td class="table-body-td">{{ loop.index|bn_number }}</td>
                    <td class="table-body-td">{% if entity.binNo is not empty %}{{ entity.binNo }}{% else %} {{ entity.nid }} {% endif %}</td>
                    <td class="table-body-td">{{ entity.companyName }}</td>
                    <td class="table-body-td">{{ entity.address }}</td>
                    <td class="table-body-td">{{ entity.purchaseTotal|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.amount|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.challanNo }}</td>
                    <td class="table-body-td">{{ entity.challanDate|date('d-m-Y') }}</td>
                    <td class="table-body-td">{{ entity.invoice }}</td>
                    <td class="table-body-td">{{ entity.created|date('d-m-Y') }}</td>
                    <td class="table-body-td">N/A</td>
                    <td class="table-body-td"></td>
                    <td class="table-body-td"></td>
                    <td class="table-body-td"></td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr valign="top">
            <td class="style_130 text-right" colspan="4">
                মোট
            </td>
            <td class="style_131" align="center">

            </td>
            <td class="style_131" align="center">
                {{ totalVat|number_format(2)|bn_number }}
            </td>
            <td class="style_134" align="center"></td>
        </tr>
        </tbody>
    </table>
{% endif %}
{% if note.noteNo == 29 %}
    <div class="style_22" id="AUTOGENBOOKMARK_518_990917ac-e6f1-484d-b65d-eff229e8d463" style=" text-align:right;">
        <div style="visibility:hidden">&nbsp;</div>
    </div>
    <div class="style_120" id="AUTOGENBOOKMARK_519_302c0fbd-88f8-4b8a-976a-490004569a5c" style=" text-align:left;">সাবফর্ম - ঙ ( নোট ২৯ - "প্রদত্ত সরবরাহ হইতে উৎসে কর্তনের জন্য" এর জন্য প্রযোজ্য)</div>
    <table class="table body-table" >
        <colgroup><col style=" width: 3%;">
            <col style=" width: 10%;">
            <col style=" width: 10%;">
            <col style=" width: 10%;">
            <col style=" width: 7%;">
            <col style=" width: 10%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 5%;">
        </colgroup><tbody><tr class="style_24" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_520_4c91f386-fcf6-4a7c-a7d5-dc053d70445d" style=" text-align:center;">ক্রমিক নং</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_521_34aadfdb-47ef-472b-b03e-28cbc0afe11c" style=" text-align:center;">ক্রেতার বিআইএন নম্বর</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_522_a1f8cbb8-91b0-4961-8a78-38f7a0d9a3a6" style=" text-align:center;">ক্রেতার নাম</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_523_2c9301f4-2e21-4a2c-89cd-e4d66f89e594" style=" text-align:center;">ক্রেতার ঠিকানা</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_524_8e0afab7-5820-419d-9dc8-86a999f99299" style=" text-align:center;">মূল্য</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_525_c609bb45-56d7-48a8-b842-c737a881f29f" style=" text-align:center;">কর্তিত মূল্য সংযোজন কর</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_526_14a5669a-3b28-4092-b0c0-d1e803459271" style=" text-align:center;">ইনভয়েস নং (চালানপত্র, বিল নম্বর ইত্যাদি)</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_527_a9436dec-bb62-4ea7-abb8-a6d702cfc443" style=" text-align:center;">ইনভয়েস বিলের তারিখ</div>
            </th>
            <th class="table-body-td" align="left">
                VAT Deduction at source, Certificate No
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121">VAT Deduction at source, Certificate date</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121"  style=" text-align:center;">একাউন্ট কোডে কর পরিশোধিত</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121">Tax deposit serial number of Book transfer</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121">Tax deposit date</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_529_5851b024-5588-4b9b-91fb-bf7a3bff72b5" style=" text-align:center;">মন্তব্য</div>
            </th>
        </tr>
        {% set total = 0 %}
        {% set totalVat = 0 %}
        {% if subForm is not empty %}
            {% for entity in subForm %}
                {% set total = total + entity.vdsTotal  %}
                {% set totalVat = totalVat + entity.amount %}

                <tr class="style_24" valign="top" align="center">
                    <td class="table-body-td">{{ loop.index|bn_number }}</td>
                    <td class="table-body-td">{% if entity.binNo is not empty %}{{ entity.binNo }}{% else %} {{ entity.nid }} {% endif %}</td>
                    <td class="table-body-td">{{ entity.companyName }}</td>
                    <td class="table-body-td">{{ entity.address }}</td>
                    <td class="table-body-td">{{ entity.purchaseTotal|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.amount|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.challanNo }}</td>
                    <td class="table-body-td">{{ entity.challanDate|date('d-m-Y') }}</td>
                    <td class="table-body-td">{{ entity.invoice }}</td>
                    <td class="table-body-td">{{ entity.created|date('d-m-Y') }}</td>
                    <td class="table-body-td">N/A</td>
                    <td class="table-body-td"></td>
                    <td class="table-body-td"></td>
                    <td class="table-body-td"></td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr valign="top">
            <td class="style_130 text-right" colspan="4">
                মোট
            </td>
            <td class="style_131" align="center">

            </td>
            <td class="style_131" align="center">
                {{ totalVat|number_format(2)|bn_number }}
            </td>
            <td class="style_134" align="center"></td>
        </tr>
        </tbody>
    </table>
{% endif %}
{% if note.noteNo == 30 %}
    <div class="style_22" id="AUTOGENBOOKMARK_531_0fab13ef-de82-4016-ba9b-3251e710cedb" style=" text-align:right;">
        <div style="visibility:hidden">&nbsp;</div>
    </div>
    <div class="style_120" id="AUTOGENBOOKMARK_532_108824b5-e155-4d79-a5fb-f9aae8911156" style=" text-align:left;">সাবফর্ম - চ ( নোট ৩০ - "আমদানি পর্যায়ে প্রদেয় আগাম কর" এর জন্য প্রযোজ্য)</div>
    <table class="table body-table" >
        <colgroup><col style=" width: 3%;">
            <col style=" width: 25%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 30%;">
            <col style=" width: 12%;">
        </colgroup>
        <tbody>
        <tr class="style_24" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_533_d9e433cc-57a0-4fd0-9910-70e8adb0f3d7" style=" text-align:center;">ক্রমিক নং</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_534_0c14e607-10a5-45ca-82c4-fe4ef0e29d7b" style=" text-align:center;">বিল অব এন্ট্রি নম্বর</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_535_1b3830a9-cd15-4fc2-ba55-ea602e619b89" style=" text-align:center;">তারিখ</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_536_09b2d9e8-5fad-4d42-8ec0-bcf7efef34d7" style=" text-align:center;">কাস্টম হাউস/শুল্ক স্টেশন</div>
            </th>
            <th class="table-body-td">
                <div class="style_121 text-right">আগাম করের পরিমাণ</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121" id="AUTOGENBOOKMARK_538_bd671294-b802-4479-a43c-f4362d8fe565" style=" text-align:center;">মন্তব্য</div>
            </th>
        </tr>
        {% set total = 0 %}
        {% set totalSd = 0 %}
        {% set totalVat = 0 %}
        {% if subForm is not empty %}
            {% for entity in subForm %}
                {% set total = total + entity.rebateAt  %}
                <tr>
                    <td class="table-body-td">{{ loop.index|bn_number }}</td>
                    <td class="table-body-td text-center">{{ entity.billOfEntryNo|bn_number }}</td>
                    <td class="table-body-td text-center">{{ entity.billOfEntryDate|date('d-m-Y')|bn_number }}</td>
                    <td class="table-body-td text-center" >{{ entity.customHouse }}</td>
                    <td class="table-body-td" align="right">{{ entity.rebateAt|number_format(2)|bn_number }}</td>
                    <td class="table-body-td"></td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr valign="top">
            <td class="style_130" colspan="4">
                <div class="style_121 text-right">মোট</div>
            </td>
            <td class="style_131" align="right">
                {{ total|number_format(2)|bn_number }}
            </td>
            <td class="style_134" align="center"></td>
        </tr>
        </tbody>
    </table>
{% endif %}

    {% set notes = [52,53,54,55,56,57,58,59.60,61] %}
    {% if note.noteNo in  notes %}
        <div class="style_22" id="AUTOGENBOOKMARK_540_15412665-ec7f-4a71-830f-abdbc78b1604" style=" text-align:right;">
            <div style="visibility:hidden">&nbsp;</div>
        </div>
    <div class="style_120" id="AUTOGENBOOKMARK_541_fb8088c4-e48a-4701-ae0d-7132e1ea472c" style=" text-align:left;">সাবফর্ম - ছ ( নোট ৫২, ৫৩, ৫৪, ৫৫, ৫৬, ৫৭, ৫৮, ৫৯, ৬০, ৬১ এর জন্য প্রযোজ্য)</div>
    <div class="style_22" id="AUTOGENBOOKMARK_542_34edcd59-4690-425f-83dd-be6197f5127d" style=" text-align:right;">
        <div style="visibility:hidden">&nbsp;</div>
    </div>
    <div class="style_120" id="AUTOGENBOOKMARK_543_2609ac75-9081-44e7-bac1-3f4028c5412f" style=" text-align:left;">নোট {{ note.noteNo|bn_number }}</div>
    <table class="table body-table" >
        <colgroup><col style=" width: 5%;">
            <col style=" width: 15%;">
            <col style=" width: 20%;">
            <col style=" width: 15%;">
            <col style=" width: 10%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 5%;">
        </colgroup>
        <tbody>
        <tr class="style_24" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div class="style_121 text-left">ক্রমিক নং</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121 text-left">ট্রেজারী চালান নম্বর</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121 text-left">ব্যাংক</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121 text-left">শাখা</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121 text-left">তারিখ</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121 text-left">একাউন্ট কোডে কর পরিশোধিত</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121 text-right">পরিমাণ</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="style_121 text-left">মন্তব্য</div>
            </th>
        </tr>
        {% set total = 0 %}
        {% set totalSd = 0 %}
        {% set totalVat = 0 %}
        {% if subForm is not empty %}
            {% for entity in subForm %}
                {% set total = total + entity.amount  %}
                <tr>
                    <td class="table-body-td">{{ loop.index|bn_number }}</td>
                    <td class="table-body-td">{{ entity.treasuryChallanNo|bn_number }}</td>
                    <td class="table-body-td">{{ entity.bank.name }}</td>
                    <td class="table-body-td">{{ entity.bankBranch }}</td>
                    <td class="table-body-td">{{ entity.updated|date('d-m-Y')|bn_number }}</td>
                    <td class="table-body-td">{{ entity.treasuaryCode.accountCode|bn_number }}</td>
                    <td class="table-body-td text-right">{{ entity.amount|number_format(2)|bn_number }}</td>
                    <td class="table-body-td">{{ entity.remark }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr valign="top">
            <td class="style_130" colspan="6">
                <div class="style_121 text-right">মোট</div>
            </td>
            <td class="style_131 text-right">
                {{ total|number_format(2)|bn_number }}
            </td>
            <td class="style_134" align="center"></td>
        </tr>
        </tbody>
    </table>
{% endif %}
{% endblock %}

{% block report_footer %}
    <table class="footer-table" >
        <colgroup>
            <col>
        </colgroup>
        <tbody>

        </tbody>
    </table>
{% endblock %}
