{% extends 'admin/layout.html.twig' %}
 {% block body_id 'nbrvat_treasuary_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                         <li class="breadcrumb-item"> <a href="javascript:">{{ 'Mushak 9.1 (VAT Return)'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% if searchForm.taxPeriod is defined %}
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Report Preview'|trans }} {{ 'Mushak 9.1 (VAT Return)'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="{{ path('nbrvat_report_mushuk_9_1_sub_form_preview',{'taxReturnId':searchForm.taxPeriod,'subFormId':searchForm.subFormId}) }}" target="_blank" class="btn btn-sm  green-bg white-font"><i class="feather icon-download"></i> Download</a>
                            <a href="{{ path('nbrvat_report_mushuk_9_1_sub_form_preview',{'taxReturnId':searchForm.taxPeriod,'subFormId':searchForm.subFormId}) }}" target="_blank" class="btn btn-sm  indigo-bg white-font"><i class="feather icon-printer"></i> Print</a>
                            <a href="{{ path('nbrvat_report_mushuk_9_1_sub_form_preview',{'taxReturnId':searchForm.taxPeriod,'subFormId':searchForm.subFormId}) }}" target="_blank" class="btn btn-sm  blue-bg white-font"><i class="feather icon-share"></i> PDF</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <iframe src="{{ path('nbrvat_report_mushuk_9_1_sub_form_preview',{'taxReturnId':searchForm.taxPeriod,'subFormId':searchForm.subFormId}) }}" style="width: 100%; height:650px; border: 1px solid transparent" ></iframe>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Mushak 9.1 (VAT Return)'|trans }}: </div>
                    </div>
                    <div class="portlet-body form">
                       <form id="report" method="get" class="form-horizontal right" action="">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" style="margin-bottom: 36px!important;">
                                            <label class="col-md-2 control-label" for="month">Select Tax Month</label>
                                            <div class="col-md-2">
                                                <div class="input-group">
                                                  <select class="span12 m-wrap action form-control" id="taxPeriod" name="taxPeriod" >
                                                      {% for entity in entities %}
                                                        <option {% if searchForm.taxPeriod is defined and searchForm.taxPeriod == entity.id %} selected="selected" {% endif %} value="{{ entity.id }}">{{ entity.taxPeriod }}</option>
                                                      {% endfor %}
                                                  </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                  <select class="span12 m-wrap action form-control select2" id="subFormId" name="subFormId" >
                                                      <option>--- Select Sub-form ---</option>
                                                      {% for setting in settings %}
                                                        <optgroup label="{{ setting.name }}">
                                                            {% for child in setting.nbrSettings  %}
                                                                {% if child.subForm == 1 %}
                                                                    <option {% if searchForm.subFormId is defined and searchForm.subFormId == child.id %} selected="selected" {% endif %}  value="{{ child.id }}">{{ child.noteNo }} - {{ child.name }} {% if child.mode is not empty %}({{ child.mode|capitalize }}){% endif %}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </optgroup>
                                                      {% endfor %}
                                                  </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <div class="col-md-12">
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="submit"  class="btn btn-sm blue-bg white-font"><i class="fa fa-refresh"></i>{{ 'Mushok Report'|trans }}</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                       </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
 <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
