{% extends 'print/report-base.html.twig' %}
{% block report_header %}
    <table class="style_15" style="border-collapse: collapse; empty-cells: show; width: 100%;">
        <tbody>
        <tr valign="top">
            <td><img class="nbr-logo"  src="{{ asset('assets/images/nbr.png') }}"></td>
            <td style="vertical-align: middle">
                <div class="style_16  text-center">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</div>
                <div class="style_17  text-center">জাতীয় রাজস্ব বোর্ড ,&nbsp; ঢাকা</div>
                <br/>
                <div class="style_34 text-center"><strong>কর চালানপত্র </strong></div>
                <div class="style_34  text-center">[বিধি ৪০ এর উপ-বিধি (১) এর দফা (গ) ও দফা (চ) দ্রষ্টব্য]</div>

            </td>
            <td class="musuk-name"><span>মূসক - ৬.৩</span><br/><br/>  {% if entity.downloadCount > 1  %}   অনুলিপি  নং - {{ entity.downloadCount|bn_number }}{% endif %}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block report_body %}
    <div id="pdf-report-page">
        <table class="style_18" border="0" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="__bookmark_2">
            <colgroup>
                <col style=" width: 10%;">
                <col style=" width: 2%;">
                <col style=" width: 33%;">
                <col style=" width: 15%;">
                <col style=" width: 2%;">
                <col style=" width: 38%;">
            </colgroup><tbody>
            <tr valign="top"><td colspan="7"><br/></td></tr>
            <tr valign="top">
                <td style=" overflow:hidden;"  colspan="7" class="text-center">
                    <div class="style_40" id="AUTOGENBOOKMARK_6_29a7adb1-50c9-4819-93ad-121edbc93b9d">নিবন্ধিত ব্যক্তির নাম : {{ domain.organizationName }}</div>
                </td>
            </tr>
            <tr valign="top">
                <td style=" overflow:hidden;"  colspan="7" class="text-center">
                    <div class="style_40" id="AUTOGENBOOKMARK_6_29a7adb1-50c9-4819-93ad-121edbc93b9d">ননিবন্ধিত ব্যক্তির বিআইএন : {{ domain.binNo|bn_number }}</div>
                </td>
            </tr>
            <tr valign="top">
                <td style=" overflow:hidden;"  colspan="7" class="text-center">
                    <div class="style_40" id="AUTOGENBOOKMARK_6_29a7adb1-50c9-4819-93ad-121edbc93b9d">চালানপত্র ইস্যুর ঠিকানা : {{ domain.address|bn_number }}</div>
                </td>
            </tr>
            <tr valign="top"><td colspan="7"><br/></td></tr>
            </tbody>
        </table>
        <table class="style_18" border="0" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="__bookmark_2">
            <colgroup>
                <col style=" width: 10%;">
                <col style=" width: 2%;">
                <col style=" width: 33%;">
                <col style=" width: 20%;">
                <col style=" width: 13%;">
                <col style=" width: 2%;">
                <col style=" width: 20%;">
            </colgroup><tbody>

            <tr valign="top">
                <td style=" overflow:hidden;" align="left">
                    <div class="style_40" id="AUTOGENBOOKMARK_12_30fb375a-1da9-4d86-86ba-16a92dce85e2">ক্রেতার নাম</div>
                </td>
                <td style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_13_a3bfa5b1-f995-4636-af2a-6b4c3ff87e1f" style=" text-align:center;">:</div>
                </td>
                <td style=" overflow:hidden;" align="left">
                    <div class="style_71">{% if entity.customer %}{{ entity.customer.companyName }}{% endif %}</div>
                </td>
                <td></td>
                <td style=" overflow:hidden;" align="left">
                    <div class="style_40" id="AUTOGENBOOKMARK_14_30303930-85f0-47a7-a2bd-c111ffa90dd0">চালানপত্র নম্বর&nbsp;</div>
                </td>
                <td style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_15_2d05b5af-5494-4425-9562-b5c0b4333041" style=" text-align:center;">:</div>
                </td>
                <td style=" overflow:hidden;" align="left">
                    <div class="style_75">{{ entity.invoice|bn_number }}</div>
                </td>
            </tr>
            <tr valign="top">
                <td style=" overflow:hidden;" align="left">
                    <div class="style_40" id="AUTOGENBOOKMARK_16_628b0b61-4ed7-49a4-89d0-49864d79aa3f">ক্রেতার বিআইএন</div>
                </td>
                <td style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_17_0e6a669f-5c94-46eb-9471-a592a6937833" style=" text-align:center;">:</div>
                </td>
                <td style=" overflow:hidden;" align="left">
                    <div class="style_80">{% if entity.customer and entity.customer.binNo %}{{ entity.customer.binNo }} {% else %} {{ entity.customer.nid }} {% endif %}</div>
                </td>
                <td></td>
                <td style=" overflow:hidden;" align="left">
                    <div class="style_40" id="AUTOGENBOOKMARK_18_f3a88966-3e9e-4203-94b4-a3f8093cef75">ইস্যুর তারিখ</div>
                </td>
                <td style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_19_88d2fa0b-e436-4838-9fdc-487f9114b486" style=" text-align:center;">:</div>
                </td>
                <td style=" overflow:hidden;" align="left">
                    <div class="style_40">{{ entity.created|date('d-m-Y')|bn_number }}</div>
                </td>
            </tr>
            <tr valign="top">
                <td style=" overflow:hidden;" align="left">
                    <div class="style_40" id="AUTOGENBOOKMARK_20_bd241d83-bb1d-4c60-80a0-7b01bf8d2b71">পণ্যের গন্তব্যস্থল</div>
                </td>
                <td style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_21_04bfca7c-81bc-45c3-8762-34bf3bb26a9f" style=" text-align:center;">:</div>
                </td>
                <td style=" overflow:hidden;" align="left">
                    <div>
                        {{ entity.deliveryAddress|raw }}
                    </div>
                </td>
                <td></td>
                <td style=" overflow:hidden;" align="left">
                    <div class="style_40" id="AUTOGENBOOKMARK_22_6ecda795-5e95-4e1a-8f26-52f1d673b8de">ইস্যুর সময়</div>
                </td>
                <td style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_23_5b98ccb8-80fb-4314-b394-9caf3db6f492" style=" text-align:center;">:</div>
                </td>
                <td style=" overflow:hidden;" align="left">
                    <div class="style_93">{{ entity.created|date('h:m a')|bn_number }}</div>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="style_15 table" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;text-align:right;" id="__bookmark_1">
            <colgroup>
                <col style=" width: 4%;">
                <col style=" width: 27%;">
                <col style=" width: 6%;">
                <col style=" width: 7%;">
                <col style=" width: 9%;">
                <col style=" width: 11%;">
                <col style=" width: 8%;">
                <col style=" width: 7%;">
                <col style=" width: 10%;">
                <col style=" width: 11%;">
            </colgroup><tbody>

            <tr class="style_94" valign="top">
                <th class="style_95" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_24_cffafd1d-3296-48d2-b2ed-fccfd209d7ed" style=" text-align:center;">ক্রমিক সংখ্যা</div>
                </th>
                <th class="style_97" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_25_adafb57e-9bf1-48fa-8c6a-719b27d59802" style=" text-align:center;">পণ্য বা সেবার বর্ণনা (প্রযোজ্য ক্ষেত্রে ব্র্যান্ড নামসহ)</div>
                </th>
                <th class="style_98" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_26_1c1b2d6f-5c3f-4545-824d-9efdb6e045f6" style=" text-align:center;">সরবরাহের একক&nbsp;</div>
                </th>
                <th class="style_99" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_27_7e1c3efd-16aa-4c2a-ba36-871809eb91bb" style=" text-align:center;">পরিমাণ</div>
                </th>
                <th class="style_100" style=" overflow:hidden;" align="center">
                    <span class="style_101" id="AUTOGENBOOKMARK_28_ca22bacd-8aef-4146-af79-b0fe317e8c85" style=" text-align:center;">একক মূল্য</span>
                    <span class="style_102" id="AUTOGENBOOKMARK_29_7676357c-5cd5-475d-a06f-3b36068c3bb5" style=" text-align:center;">১</span>
                    <div class="style_96" id="AUTOGENBOOKMARK_30_6a889ec3-935c-4715-93fe-5bb2ad9f7fe0" style=" text-align:center;">(টাকায়)</div>
                </th>
                <th class="style_103" style=" overflow:hidden;" align="center">
                    <span class="style_101" id="AUTOGENBOOKMARK_31_5ee695b3-55cf-448d-ab45-fde7b6eff0db" style=" text-align:center;">মোট মূল্য</span>
                    <span class="style_102" id="AUTOGENBOOKMARK_32_72ab34ea-72f4-4181-8efd-60838f48ffaa" style=" text-align:center;">১</span>
                    <div class="style_96" id="AUTOGENBOOKMARK_33_703afc5e-185f-424c-880a-9bbf314fea3b" style=" text-align:center;">(টাকায়)</div>
                </th>
                <th class="style_104" style=" overflow:hidden;" align="center">
                    <div class="style_96" id="AUTOGENBOOKMARK_34_9cf9ce40-a312-4398-97ed-8be0c1a5be53" style=" text-align:center;">সম্পূরক শুল্কের পরিমাণ (টাকায়)</div>
                </th>
                <th class="style_105" style=" overflow:hidden;" align="center">
                    <div class="style_96" id="AUTOGENBOOKMARK_35_52a27023-1f78-4f13-b0f4-5eb6a1538383" style=" text-align:center;">মূল্য সংযোজন করের হার/সুনির্দিষ্ট কর</div>
                </th>
                <th class="style_106" style=" overflow:hidden;" align="left">
                    <div class="style_96" id="AUTOGENBOOKMARK_36_b530ba2e-afe7-428c-909f-c76588c5018a" style=" text-align:center;">মূল্য সংযোজন কর/সুনির্দিষ্ট কর এর পরিমাণ (টাকায়)</div>
                </th>
                <th class="style_107" style=" overflow:hidden;" align="center">
                    <div class="style_108" id="AUTOGENBOOKMARK_37_f072c882-9959-4624-acb6-8e495bbe04de">সকল প্রকার শুল্ক ও করসহ মূল্য</div>
                </th>
            </tr>
            {% if entity.salesItems is not empty %}
                {% for item in entity.salesItems %}
                    <tr valign="top">
                        <td class="style_110" style=" overflow:hidden;">
                            <div style="display: none;">1.00</div>
                            <div class="style_34" style=" text-align:center;">{{ loop.index|bn_number }}.</div>
                        </td>
                        <td class="style_112" style=" overflow:hidden;" align="left">
                            <span class="style_113">{{ item.name }}</span>
                        </td>
                        <td class="style_114" style=" overflow:hidden;" align="center">
                            <div class="style_115">{{ item.uom }}</div>
                        </td>
                        <td class="style_116" style=" overflow:hidden;" align="center">
                            <div class="style_117" style=" text-align:right;">{{ item.quantity|number_format(2)|bn_number }}</div>
                            <div style="display: none; text-align:right;">5.00</div>
                        </td>
                        <td class="style_119" style=" overflow:hidden;" align="center">
                            <div class="style_117" style=" text-align:right;">{{ item.salesPrice|number_format(2)|bn_number}}</div>
                            <div style="display: none;">1,200.00</div>
                        </td>
                        <td class="style_121" style=" overflow:hidden;" align="center">
                            <div class="style_117" style=" text-align:right;">{{ item.subTotal|number_format(2)|bn_number}}</div>
                            <div style="display: none;">6,000.00</div>
                        </td>
                        <td class="style_123" style=" overflow:hidden;" align="center">
                            {% if entity.mode == 'local' %}
                                <div class="style_117" style=" text-align:right;">{{ item.supplementaryDuty|number_format(2)|bn_number}}</div>
                            {% endif %}
                            <div style="display: none; text-align:right;">0.00</div>
                        </td>
                        <td class="style_125" style=" overflow:hidden;">
                            {% if entity.mode == 'local' %}
                            <div class="style_117" style=" text-align:right;">{{ item.valueAddedTaxPercent|number_format(2)|bn_number}}</div>
                            {% else %}
                                {{ 0|bn_number }}
                            {% endif %}
                            <div style="display: none;">15.00</div>
                        </td>
                        <td class="style_127" style=" overflow:hidden;">
                            <div class="style_117" style=" text-align:right;">
                                {% if entity.mode == 'local' %}
                                {{ item.totalTaxIncidence|number_format(2)|bn_number}}</div>
                            {% else %}
                                {{ 0|bn_number }}
                            {% endif %}
                            <div style="display: none;">900.00</div>
                        </td>
                        <td class="style_129" style=" overflow:hidden;">
                            <div class="style_117" style=" text-align:right;">{{ item.total|number_format(2)|bn_number }}</div>
                            <div style="display: none;">6,900.00</div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr valign="top">
                <td class="style_145" colspan="5" style=" overflow:hidden;" align="right">
                    <div class="style_146" id="AUTOGENBOOKMARK_39_962c3649-7d8f-44fa-81ef-d5f8b68e500a" style=" text-align:right;">উৎসে কর্তনযোগ্য করের পরিমাণ&nbsp;</div>
                </td>
                <td class="style_147" colspan="5" style=" overflow:hidden;" align="right">
                    <div class="style_148" id="__bookmark_4" style=" text-align:right;">{{ entity.totalTaxIncidence|number_format(2)|bn_number }}</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block report_footer %}
    <table class="style_15" style="margin-top: 25px; border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;">
        <tbody>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <div class="style_151" id="AUTOGENBOOKMARK_40_c4825729-6fc2-4ccb-92a0-da3fbec67cbc" style=" text-align:left;"><br>প্রতিষ্ঠান কর্তৃপক্ষের দায়িত্বপ্রাপ্ত ব্যক্তির নামঃ  {{ entity.issuePerson }}</div>
                <div class="style_151" id="AUTOGENBOOKMARK_41_15ab335c-869f-436f-b4c6-ebe0efc2e48e" style=" text-align:left;">পদবীঃ {{ entity.issueDesignation }}</div>
                <div><br/</div>
                <div class="style_151" id="AUTOGENBOOKMARK_42_58a57886-b6be-48b1-bf09-976ef9577184" style=" text-align:left;">স্বাক্ষরঃ</div>
                <div><br/</div>
                <div class="style_151" id="AUTOGENBOOKMARK_43_022bbd85-4485-4639-9937-a568947e918f" style=" text-align:left;">সীলঃ</div>
                <div class="style_151" id="AUTOGENBOOKMARK_44_5c29fb41-f603-452f-b622-1a36dbf65db2" style=" text-align:left;"><br>* উৎসে কর্তনযোগ্য সরবরাহের ক্ষেত্রে ফর্মটি সমন্বিত কর চালানপত্র ও উৎসে কর কর্তন সনদপত্র হিসেবে বিবেচিত হইবে এবং উৎসে কর্তনযোগ্য সরবরাহের ক্ষেত্রে প্রযোজ্য হবে।&nbsp;</div>
                <div class="style_151" id="AUTOGENBOOKMARK_45_2f551867-75b5-4245-bd23-6929f25111c9" style=" text-align:left;"><br><br>___________________________________________<br>১। সকল প্রকার কর ব্যতীত মূল্য।&nbsp;&nbsp;</div>
            </td>
        </tr>
        </tbody>
        <tfoot><tr><td class="text-center"><br/>Printed Date: {{ "now"|date('d-m-Y')|bn_number }}</td></tr></tfoot>
    </table>
{% endblock %}

