{% extends 'print/report-base.html.twig' %}
{% block report_header %}
    <table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;">
        <colgroup><col>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td style=" overflow:hidden;"></td>
        </tr>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <div style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার<br>জাতীয় রাজস্ব বোর্ড<br></div>
            </td>
        </tr>
        </tbody>
    </table>
    <table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed; border: 1px solid #000;border-bottom: none;margin-bottom: -3px">
        <colgroup>
            <col>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <div style="text-align:right;"> মূসক-৬.২.১ </div>
            </td>
        </tr>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <h4 class="text-center"><strong>{{ domain.organizationName }}, {{ domain.address|raw }} এবং {{ domain.binNo|bn_number }}</strong></h4>
                <h4 style="text-align:center; margin: 0;">ক্রয়-বিক্রয় হিসাব</h4>
                <h4 style="text-align:center; margin: 0;">(পণ্য বা সেবা প্রক্রিয়াকরণে সম্পৃক্ত নয় (ব্যবসায়ী) এমন নিবন্ধিত বা তালিকাভুক্ত ব্যক্তির জন্য প্রযোজ্য)</h4>
                <h4 style="text-align:center; margin: 0 0 3px 0;">[বিধি ৪০ এর উপ-বিধি (১) এর দফা (খ)ও ৪১(ক) দ্রষ্টব্য ]</h4>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block report_body %}
    <style type="text/css">
        .style_29 { font-weight: bold; border-top: thin double black;}
        .style_28 { font-weight: bold; border-top: thin double black;}
        .style_25 { font-weight: bold; border-top: thin double black;}
        .style_24 { font-weight: bold; border-top: thin double black;}
        .style_27 { font-weight: bold; border-top: thin double black;}
        .style_26 { font-weight: bold; border-top: thin double black;}
        .style_8 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
        .style_9 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
        .style_7 { margin-top: 20pt;}
        .style_0 { font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10pt; color: black; text-indent: 0em; letter-spacing: normal; word-spacing: normal; text-transform: none; white-space: normal; line-height: normal;}
        .style_21 { font-weight: bold; border-top: thin solid black; border-right: thin solid black; border-bottom: thin solid rgb(128, 128, 128); border-left: thin solid black;}
        .style_1 { font-weight: bold;}
        .style_20 { padding: 1pt 3pt; border: thin solid rgb(0, 0, 0);}
        .style_23 { font-weight: bold; padding-right: 3pt; padding-left: 3pt; border: thin solid black;}
        .style_22 { padding-left: 3pt;}
        .style_4 { margin-bottom: 15pt;}
        .style_5 { font-weight: bold;}
        .style_2 { font-weight: bold;}
        .style_3 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
        .style_32 { padding-right: 3pt; padding-left: 3pt; border-right: thin solid black; border-left: thin solid black;}
        .style_31 { padding-right: 3pt; padding-left: 3pt;}
        .style_30 { border: thin solid black;}
        .style_47 { font-family: Nikosh; font-weight: bold;}
        .style_46 { border: thin solid rgb(128, 128, 128);}
        .style_49 { font-weight: bold; padding-right: 3pt; padding-left: 3pt;}
        .style_48 { font-family: Nikosh; font-weight: bold; font-size: 9pt;}
        .style_45 { padding-right: 3pt; padding-left: 3pt; border-left: thin solid black;}
        .style_18 { padding: 1pt 3pt; border: thin solid rgb(0, 0, 0);}
        .style_17 { font-family: Nikosh; font-weight: bold;}
        .style_19 { font-family: Nikosh;}
        .style_14 { padding: 1%;}
        .style_13 { margin-top: 20pt;}
        .style_16 { border: thin solid rgb(128, 128, 128);}
        .style_15 { font-family: Nikosh;}
        .style_10 { margin-top: 20pt; padding-right: 3pt; padding-left: 3pt;}
        .style_12 { margin-top: 20pt; padding-right: 1pt; padding-left: 1pt;}
        .style_11 { margin-top: 20pt;}
        .style_50 { border: thin solid rgb(0, 0, 0);}
        .style_52 { font-family: Nikosh; border-top: thin solid black;}
        .style_51 { font-family: Nikosh;}
    </style>
    <div id="pdf-report-page">
        <table class="style_16" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="__bookmark_1">
            <colgroup><col style=" width: 2%;">
                <col style=" width: 4%;">
                <col style=" width: 4%;">
                <col style=" width: 5%;">
                <col style=" width: 4%;">
                <col style=" width: 5%;">
                <col style=" width: 4%;">
                <col style=" width: 5%;">
                <col style=" width: 4%;">
                <col style=" width: 4%;">
                <col style=" width: 4%;">
                <col style=" width: 3%;">
                <col style=" width: 4%;">
                <col style=" width: 4%;">
                <col style=" width: 4%;">
                <col style=" width: 5%;">
                <col style=" width: 4%;">
                <col style=" width: 4%;">
                <col style=" width: 4%;">
                <col style=" width: 4%;">
                <col style=" width: 4%;">
                <col style=" width: 3%;">
                <col style=" width: 4%;">
                <col style=" width: 4%;">
                <col style=" width: 5%;">
                <col style=" width: 2%;">
            </colgroup><tbody>

            <tr class="style_17" valign="top" align="center">
                <th class="style_18" colspan="26" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_8_0471f620-c869-46f9-a1be-550cdffaf9c4" style=" text-align:center;">পণ্য/সেবার বিক্রয়</div>
                </th>
            </tr>
            <tr class="style_17" valign="top" align="center">
                <th class="style_18" rowspan="3" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_9_9f59bd6c-230e-4073-a2e8-1451eacb9b0a" style=" text-align:center;">ক্রমিক সংখ্যা</div>
                </th>
                <th class="style_18" rowspan="3" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_10_06bec963-269e-4a1f-aa53-4c46e2c41d85" style=" text-align:center;">তারিখ</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_11_6888f511-5b09-4712-ad8b-90b9347d44c4" style=" text-align:center;">বিক্রয়যোগ্য পণ্যের<br>প্রারম্ভিক জের</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_12_9c650405-1118-43ca-a2bc-79b0210c00a4" style=" text-align:center;">ক্রয়</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_13_0c910c4a-1c8e-4d73-b6c5-aadb28529f81" style=" text-align:center;">মোট পণ্য</div>
                </th>
                <th class="style_18" colspan="3" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_14_aa50a55d-6e6f-42f1-8686-a66d5b35a1f3" style=" text-align:center;">বিক্রেতার তথ্য</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_15_b3af6a63-dac2-4757-9ca9-5cfd186c9537" style=" text-align:center;">ক্রয় চালানপত্রের/বিল অব এন্ট্রির বিবরণ</div>
                </th>
                <th class="style_18" colspan="5" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_16_5d347a0b-f46e-426c-ad36-fb24e4536196" style=" text-align:center;">বিক্রিত/সরবরাহকৃত পণ্যের বিবরণ</div>
                </th>
                <th class="style_18" colspan="3" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_17_fe94bbcc-1dc8-4c3c-bf05-78b431d9c1ef" style=" text-align:center;">ক্রেতার তথ্য</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_18_b9cbe7e3-f377-4f03-afe8-7160fecda63d" style=" text-align:center;">বিক্রয় চালানপত্রের বিবরণ</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_19_8534ac62-dee7-447e-aa52-2625f5895aae" style=" text-align:center;">পণ্যের প্রান্তিক<br>জের</div>
                </th>
                <th class="style_18" rowspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_20_23fa368d-22d5-49ae-b181-b6bb52c92e9c" style=" text-align:center;">মন্তব্য</div>
                </th>
            </tr>
            <tr class="style_17" valign="top" align="center">
                <th class="style_20" rowspan="2" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_21_496ce7ee-9b5c-4171-b125-6090fcb92523">পরিমাণ (একক)</div>
                </th>
                <th class="style_18" rowspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_22_c7e0510c-0dc5-4723-bf38-3ad785b3b9ac" style=" text-align:center;">মূল্য (সকল প্রকার কর ব্যতীত)</div>
                </th>
                <th class="style_18" rowspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_23_255c28a7-5a6e-4da2-8521-166732582de5" style=" text-align:center;">পরিমাণ (একক)</div>
                </th>
                <th class="style_18" rowspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_24_a3300e86-db8c-47fd-892a-157eb1d7fd6e" style=" text-align:center;">মূল্য (সকল প্রকার কর ব্যতীত)</div>
                </th>
                <th class="style_18" rowspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_25_306cbae9-8a3f-4c80-91d5-c9b72c445809" style=" text-align:center;">পরিমাণ (একক)</div>
                </th>
                <th class="style_18" rowspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_26_6d08c5c8-cc96-4f16-ba73-6d6fbcb2ec98" style=" text-align:center;">মূল্য (সকল প্রকার কর ব্যতীত)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_27_6a78c589-e11e-4aee-bf7d-3f5a5d66fd7f" style=" text-align:center;">নম্বর</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_28_2aa670b6-a016-473d-b420-97adf0d151fc" style=" text-align:center;">তারিখ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_29_7159189b-b861-402b-80e5-9f89043d45dc" style=" text-align:center;">বিবরণ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_30_b2507336-b33a-47a9-9298-9d99e86a23de" style=" text-align:center;">পরিমাণ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_31_51d8ea89-26b0-41af-9ec8-351b6dd8733c" style=" text-align:center;">করযোগ্য মূল্য (সকল প্রকার কর ব্যতীত)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_32_28d6ae25-fb93-496d-8938-9292e49be7cd" style=" text-align:center;">সম্পূরক শুল্ক<br>(যদি থাকে)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_33_c3ee0cb3-0559-4bf5-9c5e-c21fc7f3a977" style=" text-align:center;">মূসক</div>
                </th>
                <th class="style_18" colspan="3" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_34_f96d21ae-4032-450b-9c7f-6b3e636c7795" style=" text-align:center;">পরিমাণ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_35_dd1766da-2a1f-469c-b542-1cd18e5d2c63" style=" text-align:center;">মূল্য (সকল প্রকার কর ব্যতীত)</div>
                </th>
            </tr>
            <tr class="style_17" valign="top" align="center">
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_36_df18e607-921f-4104-b6e8-64e05751b094" style=" text-align:center;">নাম</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_37_c29bb97f-bcec-4fa1-8216-d36ecaf7c5f2" style=" text-align:center;">ঠিকানা</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_38_a0c4433a-48e9-4f64-849e-3814dc93c676" style=" text-align:center;">নিবন্ধন/তালিকাভুক্তি/ জাতীয় পরিচয়পত্র নং</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_39_f814afbf-4903-47e3-9887-342aa6a6db8e" style=" text-align:center;">নাম</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_40_5213cea2-7528-4089-acc4-1dd56ff83969" style=" text-align:center;">ঠিকানা</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_41_143c4646-0698-4148-a0a6-2bf15df00781" style=" text-align:center;">নিবন্ধন/তালিকাভুক্তি/ জাতীয় পরিচয়পত্র নং</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_42_3d09d2cf-8360-4fcc-9259-23d7605c1186" style=" text-align:center;">নম্বর</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_43_ce6e4135-912b-43a2-9847-929176ed0a66" style=" text-align:center;">তারিখ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
                <th class="style_18" style=" overflow:hidden;" align="left"></th>
            </tr>
            <tr class="style_5" valign="top" align="center">
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_44_e1c794d2-41ed-4a81-9830-5f02b541c30a" style=" text-align:center;">(১)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_45_3046529a-d0d4-41e0-a245-4080ea552e78" style=" text-align:center;">(২)</div>
                </th>
                <th class="style_20" style=" overflow:hidden;" align="center">
                    <div id="AUTOGENBOOKMARK_46_666a4729-1c45-4a8f-bcb1-adbdc45df1f5" style=" text-align:center;">(৩)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_47_40ba93d1-d64e-4db9-836a-032f1dfbd9ae">(৪)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_48_2a8a150a-881f-4197-bfc4-a323c31857d2" style=" text-align:center;">(৫)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_49_d5313573-8946-4ca5-9058-b666fa30eac3" style=" text-align:center;">(৬)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_50_813ce88c-5c4d-4e21-bd62-ba4434d6052b" style=" text-align:center;">(৭)=(৩+৫)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_51_bcfac172-312d-4b9b-8ccf-3decaa95275e" style=" text-align:center;">(৮)=(৪+৬)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_52_57f8b4ec-9592-4571-bb5f-87b6a015f1f5" style=" text-align:center;">(৯)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_53_fbbdacd7-626e-4651-a57b-20c3b30f36b1" style=" text-align:center;">(১০)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_54_e9534ea3-0644-4f3a-94e2-6ac1f6e727c1">(১১)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_55_c5d5b660-e663-4524-8004-8beb118c8a58">(১২)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_56_41af62ef-9dcd-40b7-b35f-71a67811ccf3" style=" text-align:center;">(১৩)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_57_77c33d9a-8da4-4d41-92d4-2172f76dd55d" style=" text-align:center;">(১৪)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_58_00682474-8286-4759-ac62-7163cca57861" style=" text-align:center;">(১৫)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_59_36e46b46-e7e3-41c8-b197-5d2d72e608d2" style=" text-align:center;">(১৬)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_60_ef6b5793-a7c7-4e9d-9b39-219864d2592f" style=" text-align:center;">(১৭)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_61_c2c03023-713b-4534-9d2c-4ac9bd21958a" style=" text-align:center;">(১৮)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_62_d3c6d448-7a88-4100-9b93-5c323cac0487" style=" text-align:center;">(১৯)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_63_0bef9546-878d-455c-af24-a71522273427" style=" text-align:center;">(২০)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_64_5667a367-66fb-4993-b523-d826bd3c2216" style=" text-align:center;">(২১)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_65_302b1c0b-98c8-4d14-b54a-6bed867f1895" style=" text-align:center;">(২২)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_66_9210174e-5d8f-4dc4-a943-d0915d9eff50" style=" text-align:center;">(২৩)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_67_b91af656-9738-4cd9-b234-808bc1ec8ee7" style=" text-align:center;">(২৪)=(৭-১৫)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_68_53fedda4-7490-4256-a4c6-97f0b76e3421" style=" text-align:center;">(২৫)=(৮-১৬)</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_69_9bfc97ff-35c7-46b0-b312-81a67a4d5cc9" style=" text-align:center;">(২৬)</div>
                </th>
            </tr>
            {% for stockItem in entities %}
                <tr class="style_5" valign="top" align="center">
                    <th class="style_18" style=" overflow:hidden;">
                        {{ loop.index|bn_number }}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        <div id="AUTOGENBOOKMARK_45_3046529a-d0d4-41e0-a245-4080ea552e78" style=" text-align:center;">{{ stockItem.updated|date('d-m-y')|bn_number }}</div>
                    </th>
                    <th class="style_20" style=" overflow:hidden;" align="center">
                        <div id="AUTOGENBOOKMARK_46_666a4729-1c45-4a8f-bcb1-adbdc45df1f5" style=" text-align:center;">{{ stockItem.openingQuantity|number_format(2)|bn_number }}</div>
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {{ stockItem.openingBalance|number_format(2)|bn_number }}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.purchase is not empty and  stockItem.mode == 'purchase' %}
                        {{ stockItem.quantity|number_format(2)|bn_number }}
                        {% endif %}
                        {% if stockItem.salesReturnItem is not empty and  stockItem.mode == 'sales-return' %}
                            {{ stockItem.quantity|number_format(2)|bn_number }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.purchase is not empty and  stockItem.mode == 'purchase' %}
                        {{ stockItem.subTotal|number_format(2)|bn_number }}
                        {% endif %}
                        {% if stockItem.salesReturnItem is not empty and  stockItem.mode == 'sales-return' %}
                            {{ stockItem.subTotal|number_format(2)|bn_number }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.purchase is not empty and  stockItem.mode == 'purchase' %}
                        {{ stockItem.closingQuantity|number_format(2)|bn_number }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.purchase is not empty and  stockItem.mode == 'purchase' %}
                        {{ stockItem.closingBalance|number_format(2)|bn_number }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.purchase is not empty and  stockItem.mode == 'purchase' %}
                            {{ stockItem.purchaseItem.purchase.vendor.companyName }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.purchase is not empty and  stockItem.mode == 'purchase' %}
                            {{ stockItem.purchaseItem.purchase.vendor.address|raw }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.purchase is not empty and  stockItem.mode == 'purchase' %}
                            {% if stockItem.purchaseItem.purchase.vendor.binNo is not empty %}
                                {{ stockItem.purchaseItem.purchase.vendor.binNo|bn_number }}
                            {% else %}
                                {{ stockItem.purchaseItem.purchase.vendor.nidNo|bn_number }}
                            {% endif %}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.purchase is not empty and  stockItem.mode == 'purchase' %}
                            {{ stockItem.purchaseItem.purchase.challanNo|bn_number }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.purchase is not empty and  stockItem.mode == 'purchase' %}
                            {{ stockItem.purchaseItem.purchase.receiveDate|date('d-m-y')|bn_number }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;">&nbsp;</th>
                    <th class="style_18" style=" overflow:hidden;" align="center">
                        {% if stockItem.salesQuantity %}
                            <span style=" text-align:center;">{{ stockItem.salesQuantity|number_format|bn_number }}</span>
                            <span> {% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}</span>
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;">
                        <div style=" text-align:center;">
                            {% if stockItem.salesItem is not empty and  stockItem.mode == 'sales' %}
                                {{ stockItem.salesItem.subTotal|number_format|bn_number }}
                            {% endif %}
                        </div>
                    </th>
                    <th class="style_18" style=" overflow:hidden;">
                        <div style=" text-align:center;">
                            {% if stockItem.salesItem is not empty and  stockItem.mode == 'sales' %}
                                {{ stockItem.salesItem.supplementaryDuty|number_format(2)|bn_number }}
                            {% endif %}
                        </div>
                    </th>
                    <th class="style_18" style=" overflow:hidden;">
                        {% if stockItem.salesItem is not empty and  stockItem.mode == 'sales' %}
                            <div style=" text-align:center;">{{ stockItem.salesItem.valueAddedTax|number_format(2)|bn_number }}</div>
                        {% endif %}
                    </th>

                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.salesItem is not empty and stockItem.salesItem.sales.customer is not empty  %}
                            {{ stockItem.salesItem.sales.customer.name }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.salesItem is not empty and stockItem.salesItem.sales.customer is not empty %}
                            {{ stockItem.salesItem.sales.customer.address|raw }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.salesItem is not empty and stockItem.salesItem.sales.customer is not empty %}
                            {{ stockItem.salesItem.sales.customer.binNo }}
                        {% elseif stockItem.salesItem is not empty and stockItem.salesItem.sales.customer is not empty %}
                            {{ stockItem.salesItem.sales.customer.nid }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.salesItem is not empty and stockItem.mode == 'sales' %}
                            {{ stockItem.salesItem.sales.invoice }}
                        {% elseif stockItem.salesReturnItem is not empty and stockItem.mode == 'sales-return' %}
                            {{ stockItem.salesReturn.invoice }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="left">
                        {% if stockItem.salesItem is not empty %}
                            {{ stockItem.salesItem.updated|date('d-m-y')|bn_number }}
                        {% elseif stockItem.salesReturnItem is not empty and stockItem.mode == 'sales-return' %}
                            {{ stockItem.updated|date('d-m-y')|bn_number }}
                        {% endif %}
                    </th>
                    <th class="style_18" style=" overflow:hidden;" align="center">
                        <span style=" text-align:center;">{{ stockItem.closingQuantity|number_format(2)|bn_number }}</span>
                        <span>{% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}</span>
                    </th>
                    <th class="style_18" style=" overflow:hidden;">
                        <div style=" text-align:center;">{{ stockItem.closingBalance|number_format(2)|bn_number }}</div>
                    </th>
                    <th class="style_18" style=" overflow:hidden;">
                        {{ stockItem.remark|capitalize }}
                        <div id="__bookmark_16" style="display: none; text-align:center;">
                            <div style="visibility:hidden">&nbsp;</div>
                        </div>
                    </th>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <div id="AUTOGENBOOKMARK_70_43471c4d-9d0d-43a4-9909-8db68137ffdd">
            <div style="visibility:hidden">&nbsp;</div>
        </div>
        <table class="style_46" style="border-collapse: collapse; empty-cells: show; display: none; width: 100%; overflow:hidden; table-layout:fixed;" id="__bookmark_2">
            <colgroup><col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup><tbody><tr class="style_5" valign="top" align="center">
                <th class="style_18" colspan="10" style=" overflow:hidden;" align="left">
                    <div class="style_47" id="AUTOGENBOOKMARK_71_66787c7f-ea5f-4fbe-a4bf-be92215e4cbd">সারাংশ</div>
                </th>
            </tr>
            <tr class="style_48" valign="top" align="center">
                <th class="style_18" colspan="2" rowspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_72_1d05b857-b90a-419b-aa9c-4ee00e517670">পণ্য</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_73_28b3759d-1814-426b-85fa-13d855b72366" style=" text-align:center;">প্রারম্ভিক জের</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_74_860fda32-2500-43b6-9bf6-172b4a4e6357" style=" text-align:center;">আমদানি/ক্রয়কৃত পণ্য</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_75_11bc43f3-5763-4b0a-96e0-25438edd32eb" style=" text-align:center;">সরবরাহকৃত পণ্য</div>
                </th>
                <th class="style_18" colspan="2" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_76_3c695f8a-ef62-44d4-b4f7-098afdbcbf39" style=" text-align:center;">প্রান্তিক জের</div>
                </th>
            </tr>
            <tr class="style_17" valign="top" align="center">
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_77_cdd53955-4cf7-4cf2-823f-890d1aef4c89">পরিমাণ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_78_31070afc-c77e-46b7-9de5-8ac6a9709442" style=" text-align:center;">মূল্য</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_79_d49802b9-ef3e-4ed2-bc25-3041ed5099cb">পরিমাণ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_80_8b227a4f-f440-4a15-9a9a-a1c268acecbe" style=" text-align:center;">মূল্য</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_81_7dd38bdf-aabf-4dd7-8b13-5012d999b96d">পরিমাণ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_82_2013f1e6-0b67-4c22-866c-be0a34889121" style=" text-align:center;">মূল্য</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_83_fee9d3f0-896f-461a-89b4-78709759b1bb">পরিমাণ</div>
                </th>
                <th class="style_18" style=" overflow:hidden;" align="left">
                    <div id="AUTOGENBOOKMARK_84_67a011f9-ec6e-48de-889f-918b8b471f63" style=" text-align:center;">মূল্য</div>
                </th>
            </tr>
            <tr class="style_49" valign="top" id="__TOC_0">
                <td class="style_50" colspan="2" style=" overflow:hidden;"></td>
                <td class="style_50" style=" overflow:hidden;"></td>
                <td class="style_50" style=" overflow:hidden;"></td>
                <td class="style_50" style=" overflow:hidden;"></td>
                <td class="style_50" style=" overflow:hidden;"></td>
                <td class="style_50" style=" overflow:hidden;"></td>
                <td class="style_50" style=" overflow:hidden;"></td>
                <td class="style_50" style=" overflow:hidden;"></td>
                <td class="style_50" style=" overflow:hidden;"></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block report_footer %}
    <table class="style_15" style="margin-top: 25px; border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;">
        <colgroup>
            <col>
        </colgroup>
        <tbody>
        <tr><td><br/></td></tr>
        <tr valign="top">
            <td style="overflow:hidden;">
                <h4 style="text-align:left; margin: 0;">বিশেষ দ্রষ্টব্য</h4>
                <p style="text-align:left; margin: 0;">১। যে ক্ষেত্রে অনিবন্ধিত ব্যক্তির নিকট হইতে পণ্য ক্রয় করা হইবে সেই ক্ষেত্রে উক্ত ব্যক্তির পূর্ণাঙ্গ নাম, ঠিকানা ও জাতীয় পরিচয়পত্র নম্বর যথাযথভাবে সংশ্লিষ্ট কলাম [(৭), (৮) ও (৯)] এ আবশ্যিকভাবে উল্লেখ করিতে হইবে। </p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
