{% extends 'admin/layout.html.twig' %}
 {% block body_id 'nbrvat_treasuary_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                         <li class="breadcrumb-item"> <a href="javascript:">{{ 'Mushak 6.8 (Debit Note)'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% if searchForm.startDate is defined and searchForm.startDate is not empty  %}
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Report Preview'|trans }} {{ 'Purchase Return'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="{{ path('nbrvat_report_purchase_return_preview',{'startDate':searchForm.startDate,'endDate':searchForm.endDate,'mode':'report'}) }}" target="_blank" class="btn btn-sm  green-bg white-font"><i class="feather icon-download"></i> Download</a>
                            <a href="{{ path('nbrvat_report_purchase_return_preview',{'startDate':searchForm.startDate,'endDate':searchForm.endDate,'mode':'report'}) }}" target="_blank" class="btn btn-sm  indigo-bg white-font"><i class="feather icon-printer"></i> Print</a>
                            <a href="{{ path('nbrvat_report_purchase_return_preview',{'startDate':searchForm.startDate,'endDate':searchForm.endDate,'mode':'report'}) }}" target="_blank" class="btn btn-sm  blue-bg white-font"><i class="feather icon-share"></i> PDF</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead class="thead-dark">
                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>Vendor</th>
                            <th>Vendor Address</th>
                            <th>BIN/NID</th>
                            <th>Product Name</th>
                            <th>ChallanNo</th>
                            <th>ChallanDate</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>SD</th>
                            <th>VAT</th>
                            <th>Return Qnt</th>
                            <th>Price</th>
                            <th>SD</th>
                            <th>VAT</th>
                            <th>Debite No</th>
                            <th>Issue Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% set totalSd = 0 %}
                        {% set totalVat = 0 %}
                        {% for entity in entities  %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.companyName }}</td>
                                <td>{{ entity.companyAddress }}</td>
                                <td>{% if entity.binNo is not empty %}{{ entity.binNo }} {% else %}{{ entity.nid }}{% endif %}</td>
                                <td>{{ entity.itemName }}</td>
                                <td>{{ entity.challanNo }}</td>
                                <td>{{ entity.challandate|date('d-m-Y') }}</td>
                                <td>{{ entity.purchaseQuantity }}</td>
                                <td>{{ entity.purchasePrice }}</td>
                                <td>{{ entity.purchaseSd }}</td>
                                <td>{{ entity.purchaseVat }}</td>
                                <td>{{ entity.quantity }}</td>
                                <td>{{ entity.subTotal }}</td>
                                <td>{{ entity.sd }}</td>
                                <td>{{ entity.vat }}</td>
                                <td>{{ entity.returnInvoice }}</td>
                                <td>{{ entity.issueDate|date('d-m-Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Purchase Return Reports'|trans }}: </div>
                    </div>
                    <div class="portlet-body form">
                       <form id="report" method="get" class="form-horizontal right" action="">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" style="margin-bottom: 36px!important;">
                                            <label class="col-md-4 control-label" for="invoice">Search Start/End Date</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <input type="text" required="required" class="form-control monthEndRange col-md-4" name="startDate" id="startDate" value="{% if searchForm.startDate is defined and searchForm.startDate is not empty  %} {{ searchForm.startDate }} {% endif %}">
                                                    <input type="text" required="required" class="form-control monthEndRange col-md-4" name="endDate" id="endDate" value=" {% if searchForm.endDate is defined and searchForm.endDate is not empty  %} {{ searchForm.endDate }} {% endif %}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <div class="col-md-12">
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="submit"  class="btn btn-sm blue-bg white-font"><i class="fa fa-refresh"></i>{{ 'Mushok Report'|trans }}</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                       </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
 <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
