<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-th-large"></i>

        </div>
    </div>
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead class="thead-dark">
                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>Vendor</th>
                            <th>Vendor Address</th>
                            <th>BIN/NID</th>
                            <th>Product Name</th>
                            <th>ChallanNo</th>
                            <th>ChallanDate</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>SD</th>
                            <th>VAT</th>
                            <th>Return Qnt</th>
                            <th>Price</th>
                            <th>SD</th>
                            <th>VAT</th>
                            <th>Debite No</th>
                            <th>Issue Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% set totalSd = 0 %}
                        {% set totalVat = 0 %}
                        {% for entity in entities  %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.companyName }}</td>
                                <td>{{ entity.companyAddress }}</td>
                                <td>{% if entity.binNo is not empty %}{{ entity.binNo }} {% else %}{{ entity.nid }}{% endif %}</td>
                                <td>{{ entity.itemName }}</td>
                                <td>{{ entity.challanNo }}</td>
                                <td>{{ entity.challandate|date('d-m-Y') }}</td>
                                <td>{{ entity.purchaseQuantity }}</td>
                                <td>{{ entity.purchasePrice }}</td>
                                <td>{{ entity.purchaseSd }}</td>
                                <td>{{ entity.purchaseVat }}</td>
                                <td>{{ entity.quantity }}</td>
                                <td>{{ entity.subTotal }}</td>
                                <td>{{ entity.sd }}</td>
                                <td>{{ entity.vat }}</td>
                                <td>{{ entity.returnInvoice }}</td>
                                <td>{{ entity.issueDate|date('d-m-Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
