{% extends 'print/report-base.html.twig' %}

{% block report_header %}
    <table class="style_15" style="border-collapse: collapse; empty-cells: show; width: 100%;">
        <tbody>
        <tr valign="top">
            <td align="center">
                <div class="style_16" >গণপ্রজাতন্ত্রী বাংলাদেশ সরকার<br>জাতীয় রাজস্ব বোর্ড<br><br></div>
            </td>
        </tr>
        <tr valign="top">
            <td class="musuk-name text-right"><span>মূসক - ৬.৫</span></td>
        </tr>
        <tr valign="top">
            <td>
                <div class="style_19" id="AUTOGENBOOKMARK_5_e3c8f782-b37e-4707-ac17-abbb8f0912f7" style=" text-align:center;">কেন্দ্রিয় নিবন্ধিত প্রতিষ্ঠানের পণ্য স্থানান্তর চালানপত্র</div>
            </td>
        </tr>
        <tr valign="top">
            <td>
                <div id="AUTOGENBOOKMARK_6_c175b133-46fb-4e50-b04b-084fd9bb85cf" style=" text-align:center;">[বিধি ৪২ এর উপ-বিধি (১) এর দফা (ঙ) দ্রষ্টব্য]</div>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="style_15" style="border-collapse: collapse; empty-cells: show; width: 100%;" id="__bookmark_1">
        <colgroup><col style=" width: 25%;">
            <col style=" width: 30%;">
            <col style=" width: 20%;">
            <col style=" width: 25%;">
        </colgroup><tbody>
        <tr valign="top">
            <td>
                <div id="AUTOGENBOOKMARK_8_c084a3ac-d112-47d3-9310-7a24ec0b6d2b">নিবন্ধিত ব্যক্তির নামঃ</div>
            </td>
            <td colspan="5">
                <div class="style_22" id="__bookmark_1">{{ domain.organizationName }}</div>
            </td>
        </tr>
        <tr valign="top">
            <td>
                <div id="AUTOGENBOOKMARK_8_926b458c-118a-413f-830c-4d78fafb700c">নিবন্ধিত ব্যক্তির বিআইএন :</div>
            </td>
            <td colspan="3">
                <div class="style_22" id="__bookmark_1">{{ domain.binNo|bn_number }}</div>
            </td>
            <td> <div>চালান নম্বর :</div></td>
            <td>{{ post.invoice|bn_number }}</td>
        </tr>
        <tr valign="top">
            <td>
                <div>প্রেরণকারী শাখার নাম ও ঠিকানা :</div>
            </td>
            <td colspan="3">
                <div>{{ domain.address|raw }}</div>
            </td>
            <td>ইস্যুর তারিখ :</td>
            <td>{{ post.updated|date('d-m-Y')|bn_number }}</td>
        </tr>
        <tr valign="top">
            <td>
                <div>গ্রহীতা শাখার নাম :</div>
            </td>
            <td colspan="3">
                <div>{{ post.branch.name|raw }}</div>
            </td>
            <td>ইস্যুর সময় :</td>
            <td> <div>{{ post.updated|date('h:m a')|bn_number }}</div></td>
        </tr>
        </tbody></table>
{% endblock %}
{% block report_body %}
    <table class="style_23" style="border-collapse: collapse; empty-cells: show; width: 100%;" id="__bookmark_2">
        <colgroup><col style=" width: 7%;">
            <col style=" width: 30%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 18%;">
        </colgroup>
        <tbody>
        <tr class="style_24" valign="top" align="center">
            <th class="style_25" align="left">
                <div  style=" text-align:center;">ক্রমিক সংখ্যা</div>
            </th>
            <th class="style_25" align="left">
                <div style=" text-align:center;">পণ্যের (প্রযোজ্য ক্ষেত্রে সুনিদির্স্ট ব্রান্ড নামসহ) বিবরণ</div>
            </th>
            <th class="style_25" align="left">
                <div style=" text-align:center;">পরিমাণ</div>
            </th>
            <th class="style_25" align="left">
                <div style=" text-align:center;">কর ব্যাতীতমূল্য</div>
            </th>
            <th class="style_25" align="left">
                <div  style=" text-align:center;">প্রযোজ্য করের পরিমাণ</div>
            </th>
            <th class="style_25" align="left">
                <div  style=" text-align:center;">মন্তব্য</div>
            </th>
        </tr>
        <tr class="style_24" valign="top" align="center">
            <th class="style_25" align="left">
                <div style=" text-align:center;">(১)</div>
            </th>
            <th class="style_25" align="left">
                <div  style=" text-align:center;">(২)</div>
            </th>
            <th class="style_25" align="left">
                <div  style=" text-align:center;">(৩)</div>
            </th>
            <th class="style_25" align="left">
                <div style=" text-align:center;">(৪)</div>
            </th>
            <th class="style_25" align="left">
                <div  style=" text-align:center;">(৫)</div>
            </th>
            <th class="style_25" align="left">
                <div style=" text-align:center;">(৬)</div>
            </th>
        </tr>
        {% if post.branchIssueItems is defined and post.branchIssueItems is not empty %}
        {% set totalQuantity = 0 %}
        {% for item in post.branchIssueItems %}
            {% set totalQuantity  =+ item.totalQuantity  %}
            <tr class="" valign="top" align="center">
            <td class="style_25" align="left">
                <div  style=" text-align:center;">({{ loop.index|bn_number }})</div>
            </td>
            <td class="style_25" align="left">
                <div  style=" text-align:center;">
                    {{ item.item.name }}</div>
            </td>
            <td class="style_25" align="left">
                <div  style=" text-align:center;">
                    {{ item.totalQuantity|number_format(2)|bn_number }}
                </div>
            </td>
            <td class="style_25" align="left">
                <div  style=" text-align:center;">
                    {{ (item.salesPrice * item.totalQuantity)|number_format(2)|bn_number }}
                </div>
            </td>
            <td class="style_25" align="left">
                <div style=" text-align:center;">
                    {{ item.totalTaxIncidence|number_format(2)|bn_number }}
                </div>
            </td>
            <td class="style_25" align="left">
                <div style=" text-align:center;"></div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr valign="top">
            <th class="style_32" colspan="2"  align="right">
                <div class="style_33"  style=" text-align:right;">মোট</div>
            </th>
            <th class="style_34" align="center">
                <div class="">{{ totalQuantity|number_format(2)|bn_number }}</div>
                <div style="display: none;">
                    <div style="visibility:hidden">&nbsp;</div>
                </div>
            </th>
            <th class="style_32" align="center">
                <div class="" >{{ post.subTotal|number_format(2)|bn_number }}</div>
                <div style="display: none;">
                    <div style="visibility:hidden">&nbsp;</div>
                </div>
            </th>
            <th class="style_32" align="center">
                <div>{{ post.totalTaxIncidence|number_format(2)|bn_number }}</div>
                <div style="display: none;">
                    <div style="visibility:hidden">&nbsp;</div>
                </div>
            </th>
            <td class="style_36"></td>
        </tr>
        </tbody>
    </table>
    <style>

        .inner-table tr td{
          border: 1px solid #464646 !important;
            border-left:transparent!important;
        }
        .inner-table tr td:last-child{
            border-right: transparent!important;
        }
        .inner-table tr:last-child td{
            border-bottom: transparent!important;
        }
        .inner-table tr:first-child td{
            bottom-top: 1px yellow !important;
        }
    </style>
{% endblock %}

{% block report_footer %}
    <table class="style_15" style="margin-top: 25px; border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;">
        <colgroup>
            <col>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <div class="style_151" id="AUTOGENBOOKMARK_40_c4825729-6fc2-4ccb-92a0-da3fbec67cbc" style=" text-align:left;"><br>প্রতিষ্ঠান কর্তৃপক্ষের দায়িত্বপ্রাপ্ত ব্যক্তির নামঃ {{ post.issuePerson }} </div>
                <div class="style_151" id="AUTOGENBOOKMARK_41_15ab335c-869f-436f-b4c6-ebe0efc2e48e" style=" text-align:left;">পদবীঃ {{ post.issueDesignation }}</div>
                <div class="style_151" id="AUTOGENBOOKMARK_42_58a57886-b6be-48b1-bf09-976ef9577184" style=" text-align:left;">স্বাক্ষরঃ<br/><br/><br/></div>
                <div class="style_151" id="AUTOGENBOOKMARK_43_022bbd85-4485-4639-9937-a568947e918f" style=" text-align:left;">সীলঃ</div>
            </td>
        </tr>
        </tbody>
    </table>
<style>
    .style_28 { padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
    .style_25 { padding: 1pt 3pt; border: thin solid rgb(0, 0, 0);}
    .style_24 { font-family: Nikosh; font-weight: bold;}
    .style_27 { padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
    .style_8 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
    .style_9 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
    .style_7 { margin-top: 20pt;}
    .style_0 { font-family: sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10pt; color: black; text-indent: 0em; letter-spacing: normal; word-spacing: normal; text-transform: none; white-space: normal; line-height: normal;}
    .style_21 { padding-right: 1pt; padding-bottom: 1pt;}
    .style_1 { font-weight: bold;}
    .style_20 { padding-bottom: 3pt;}
    .style_23 { border: thin solid rgb(128, 128, 128);}
    .style_22 { padding-right: 3pt;}
    .style_4 { margin-bottom: 15pt;}
    .style_5 { font-weight: bold;}
    .style_2 { font-weight: bold;}
    .style_3 { font-family: sans-serif; font-size: 9pt; color: rgb(96, 96, 96);}
    .style_18 { border: thin solid black;}
    .style_19 { font-weight: bold; font-size: 14pt;}
    .style_14 { padding: 1% 3%;}
    .style_36 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
    .style_13 { margin-top: 20pt;}
    .style_35 { font-weight: bold; border-top: thin double black;}
    .style_16 { font-family: Nikosh;}
    .style_15 { font-family: Nikosh;}
    .style_37 { padding: 1%;}
    .style_10 { margin-top: 20pt; padding-right: 3pt; padding-left: 3pt;}
    .style_32 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt; border-top: thin solid rgb(0, 0, 0); border-right: thin solid rgb(0, 0, 0); border-left: thin solid rgb(0, 0, 0);}
    .style_12 { margin-top: 20pt; padding-right: 1pt; padding-left: 1pt;}
    .style_34 { margin-right: 0pt; margin-left: 0pt; padding-right: 3pt; padding-left: 3pt; border-top: thin solid rgb(0, 0, 0); border-right: thin solid rgb(0, 0, 0); border-left: thin solid rgb(0, 0, 0);}
    .style_11 { margin-top: 20pt;}
    .style_33 { font-family: Nikosh;}
    .style_30 { padding-right: 3pt; padding-left: 3pt; border: thin solid rgb(0, 0, 0);}
</style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/mushuk.css') }}">
 {% endblock  %}