{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('nbrvat_taxpayable') }}">  {{ 'Tax Payable/Receivable'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tax Payable/Receivable'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('nbrvat_taxpayable_new') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Payable'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th>{{ 'Created'|trans }}</th>
                            <th>{{ 'Item Name'|trans }}</th>
                            <th>{{ 'Note'|trans }}</th>
                            <th>{{ 'Amount'|trans }}</th>
                            <th>{{ 'Process'|trans }}</th>
                            <th>{{ 'Remark'|trans }}</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr id="remove-{{ entity.id }}">
                                <td>{{ entity.created|date('d-m-Y') }}</td>
                                <td>{% if entity.taxPayable is not empty %}{{ entity.taxPayable.name }}{% endif %}</td>
                                <td>{% if entity.taxPayable is not empty %}{{ entity.taxPayable.noteNo }}{% endif %}</td>
                                <td>{{ entity.amount|number_format(2) }}</td>
                                <td>{{ entity.process|capitalize }}</td>
                                <td>{{ entity.remark }}</td>
                                <td>
                                    <div class="btn-group">
                                        {% if entity.process != "approved" %}
                                        <a href="javascript:" data-action="{{ path('nbrvat_taxpayable_process',{'id':entity.id}) }}" data-id="{{ entity.id }}" class="btn btn-mini blue-bg white-font approveProcess"><i class="feather icon-check"></i> {{ 'Approve'|trans }}</a>
                                        <a href="{{ path('nbrvat_taxpayable_delete',{id:entity.id}) }}" class="btn btn-mini  btn-transparent red-font remove"><i class="fa fa-remove"></i></a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 25,
    "pagination": true,
    'columnDefs': [ {
    'targets': [0,6],
    'orderable': false
    }]
    });
{% endblock %}
