{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage VAT Item'|trans }}</h5>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <td colspan="2">
                                <input  type="text" class="form-control  input-sm" name="hscode" id="hscode" placeholder="HS Code">
                            </td>
                            <td colspan="8">
                                <input  type="text" class="form-control  input-sm" name="name" id="name" placeholder="Item Name">
                            </td>
                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>HS CODE</th>
                            <th>Name</th>
                            <th>CD</th>
                            <th>SD </th>
                            <th>VAT</th>
                            <th>AIT</th>
                            <th>RD</th>
                            <th>AT</th>
                            <th>TTI</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>

    </style>
{% endblock %}
 {% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script  src="{{ asset('assets/module/nbrvat/taxtarrif/ajax-pagination.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

