{% extends 'admin/layout.html.twig' %}
 {% block body_id 'nbrvat_treasuary_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                         <li class="breadcrumb-item"> <a href="javascript:">{{ 'Mushak 6.10 (Sale-Purchase of Over 2 Lac)'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% if searchForm.startDate is defined and searchForm.endDate is defined %}
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Report Preview'|trans }} {{ 'Mushak 6.10 (Sale-Purchase of Over 2 Lac)'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="{{ path('nbrvat_report_mushuk_6_10_preview',{'mode':'report','startDate':searchForm.startDate,'endDate':searchForm.endDate}) }}" target="_blank" class="btn btn-sm  green-bg white-font"><i class="feather icon-download"></i> Download</a>
                            <a href="{{ path('nbrvat_report_mushuk_6_10_preview',{'mode':'report','startDate':searchForm.startDate,'endDate':searchForm.endDate}) }}" target="_blank" class="btn btn-sm  indigo-bg white-font"><i class="feather icon-printer"></i> Print</a>
                            <a href="{{ path('nbrvat_report_mushuk_6_10_preview',{'mode':'report','startDate':searchForm.startDate,'endDate':searchForm.endDate}) }}" target="_blank" class="btn btn-sm  blue-bg white-font"><i class="feather icon-share"></i> PDF</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <iframe src="{{ path('nbrvat_report_mushuk_6_10_preview',{'mode':'report','startDate':searchForm.startDate,'endDate':searchForm.endDate}) }}" style="width: 100%; height:650px; border: 1px solid transparent" ></iframe>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Mushak 6.10 (Sale-Purchase of Over 2 Lac)'|trans }}: </div>
                    </div>
                    <div class="portlet-body form">
                       <form id="report" method="get" class="form-horizontal right" action="">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-8 col-sm-offset-3">
                                        <div class="form-group" style="margin-bottom: 36px!important;">
                                            <label class="col-md-6 control-label" for="bank_form_accountOwner">Search Start /End Date</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input type="text" required="required" class="form-control  col-md-4" name="startDate" id="startDate" value="{% if searchForm.startDate is defined and searchForm.startDate is not empty  %} {{ searchForm.startDate }} {% endif %}">
                                                    <input type="text" required="required" class="form-control col-md-4" name="endDate" id="endDate" value="{% if searchForm.endDate is defined and searchForm.endDate is not empty  %} {{ searchForm.endDate }} {% endif %}" >
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <div class="col-md-12">
                                        <div class="btn-group" role="group">
                                            <button type="submit"  class="btn btn-sm blue-bg white-font"><i class="fa fa-refresh"></i>{{ 'Mushok Report'|trans }}</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                       </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
 <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
