{% extends 'print/report-base.html.twig' %}

{% block report_header %}
    <table class="table" >
        <colgroup>
            <col style=" width: 20%;">
            <col style=" width: 60%;">
            <col style=" width: 20%;">
        </colgroup>
        <tbody>
        <tr valign="top">
            <td><img class="nbr-logo"  src="{{ asset('assets/images/nbr.png') }}"></td>
            <td style="vertical-align: middle">
                <div  class="text-center">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</div>
                <div class="text-center">জাতীয় রাজস্ব বোর্ড ,&nbsp; ঢাকা</div>
            </td>
            <td class="musuk-name"><span>মূসক - ৬.১০</span></td>
        </tr>
        </tbody>
    </table>
    <table class="table" >
        <colgroup><col style=" width: 25%;">
            <col style=" width: 30%;">
            <col style=" width: 20%;">
            <col style=" width: 25%;">
        </colgroup>
        <tbody>


        <tr valign="top">
            <td>
                <div class="text-center"><strong>  ২(দুই) লক্ষ টাকার অধিক মূল্যমানের ক্রয়-বিক্রয় চালানপত্রের তথ্য</strong></div>
            </td>
        </tr>
        <tr valign="top">
            <td>
                <div class="text-center">   [বিধি ৪২ এর উপ-বিধি (১) দ্রষ্টব্য] </div>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table" >
        <colgroup><col style=" width: 25%;">
            <col style=" width: 30%;">
            <col style=" width: 20%;">
            <col style=" width: 25%;">
        </colgroup><tbody>
        <tr valign="top">
            <td><br/><br/></td>

        </tr>
        <tr valign="top">
            <td>
                <div> নিবন্ধিত/তালিকাভুক্ত ব্যক্তির নাম:</div>
            </td>
            <td>{{ domain.organizationName }}</td>
            <td> বিআইএন :</td>
            <td>   {% if  domain.binNo is not empty %}{{ domain.binNo|bn_number }} {% else %} {{  domain.nid }} {% endif %}</td>
        </tr>
        <tr valign="top"><td><br/></td></tr>
        </tbody>
    </table>

{% endblock %}

{% block report_body %}
    <div class="style_25"> <br/> <strong>অংশ - কঃ ক্রয় হিসাব তথ্য </strong> </div>
    <table class="table body-table" >
        <col style=" width: 7%;"></col>
        <col style=" width: 13%;"></col>
        <col style=" width: 12%;"></col>
        <col style=" width: 15%;"></col>
        <col style=" width: 18%;"></col>
        <col style=" width: 20%;"></col>
        <col style=" width: 15%;"></col>
        <tr class="style_27" valign="top" align="center">
            <th class="table-body-td" rowspan="2" align="left">
                <div  class="text-center">ক্রমিক সংখ্যা</div>
            </th>
            <th class="table-body-td" colspan="6" align="left">
                <div  class="text-center">ক্রয়</div>
            </th>
        </tr>
        <tr class="style_27" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div  class="text-center">চালানপত্র নং</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">ইস্যুর তারিখ</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">মূল্য</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">বিক্রেতার নাম</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">বিক্রেতার ঠিকানা</div>
            </th>
            <th class="table-body-td" align="left">
                <div class="text-center">বিক্রেতার বিআইএন / জাতীয় পরিচয়পত্র নং *</div>
            </th>
        </tr>
        <tr class="style_27" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div  class="text-center">(১)</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">(২)</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">(৩)</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">(৪)</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">(৫)</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">(৬)</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">(৭)</div>
            </th>
        </tr>
        {% if sales is not empty %}
        {% for sales in sales %}
        <tr class="style_27" valign="top" align="center">
            <td class="table-body-td" align="left">
                <div  class="text-center">{{ loop.index|bn_number }}</div>
            </td>
            <td class="table-body-td" align="left">
                <div  class="text-center">{{ sales.invoice }}</div>
            </td>
            <td class="table-body-td" align="left">
                <div  class="text-center">{{ sales.issueDate|date('d-m-Y')|bn_number }}</div>
            </td>
            <td class="table-body-td" align="left">
                <div  class="text-center">{{ sales.total|number_format(2)|bn_number }}</div>
            </td>
            <td class="table-body-td" align="left">
                <div  class="text-center">{{ sales.company }}</div>
            </td>
            <td class="table-body-td" align="left">
                <div  class="text-center">{{ sales.address }}</div>
            </td>
            <td class="table-body-td" align="left">
                <div  class="text-center">{% if  sales.binNo is not empty %}{{ sales.binNo|bn_number }} {% else %} {{  sales.nidNo }} {% endif %}</div>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr valign="top">
            <td  colspan="3">
                <div  class="right">সর্বমোট</div>
            </td>
            <td >
                <div  class="right"></div>
                <div style="display: none;">
                    <div style="visibility:hidden">&#xa0;</div>
                </div>
            </td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>
    </table>
    <div class="style_25" > <br/><strong>অংশ - খঃ বিক্রয় হিসাব তথ্য </strong></div>
    <table class="table body-table" >
        <col style=" width: 7%;"></col>
        <col style=" width: 13%;"></col>
        <col style=" width: 12%;"></col>
        <col style=" width: 15%;"></col>
        <col style=" width: 18%;"></col>
        <col style=" width: 20%;"></col>
        <col style=" width: 15%;"></col>
        <tr class="style_27" valign="top" align="center">
            <th class="table-body-td" rowspan="2" align="left">
                <div id="AUTOGENBOOKMARK_27_16e0ed2e-bdf6-4e79-830b-2a8880942578" class="text-center">ক্রমিক সংখ্যা</div>
            </th>
            <th class="table-body-td" colspan="6" align="left">
                <div  class="text-center">বিক্রয়</div>
            </th>
        </tr>
        <tr class="style_27" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div  class="text-center">চালানপত্র নং</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">ইস্যুর তারিখ</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">মূল্য</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">ক্রেতার নাম</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">ক্রেতার ঠিকানা</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">ক্রেতার বিআইএন / জাতীয় পরিচয়পত্র নং *</div>
            </th>
        </tr>
        <tr class="style_27" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div  class="text-center">(১)</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">(২)</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">(৩)</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">(৪)</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">(৫)</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">(৬)</div>
            </th>
            <th class="table-body-td" align="left">
                <div  class="text-center">(৭)</div>
            </th>
        </tr>
        {% if purchase is not empty %}
            {% for purchase in purchase %}
                <tr class="style_27" valign="top" align="center">
                    <td class="table-body-td" align="left">
                        <div  class="text-center">{{ loop.index|bn_number }}</div>
                    </td>
                    <td class="table-body-td" align="left">
                        <div  class="text-center">{{ purchase.invoice }}</div>
                    </td>
                    <td class="table-body-td" align="left">
                        <div  class="text-center">{{ purchase.issueDate|date('d-m-Y')|bn_number }}</div>
                    </td>
                    <td class="table-body-td" align="left">
                        <div  class="text-center">{{ purchase.total|number_format(2)|bn_number }}</div>
                    </td>
                    <td class="table-body-td" align="left">
                        <div  class="text-center">{{ purchase.company }}</div>
                    </td>
                    <td class="table-body-td" align="left">
                        <div  class="text-center">{{ purchase.address }}</div>
                    </td>
                    <td class="table-body-td" align="left">
                        <div  class="text-center">{% if  purchase.binNo is not empty %}{{ purchase.binNo|bn_number }} {% else %} {{  purchase.nidNo }} {% endif %}</div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        <tr valign="top">
            <td  colspan="3">
                <div  class="right">সর্বমোট</div>
            </td>
            <td >
                <div  class="right"></div>
                <div style="display: none;">
                    <div style="visibility:hidden">&#xa0;</div>
                </div>
            </td>
            <td ></td>
            <td ></td>
            <td ></td>
        </tr>
    </table>
{% endblock %}

{% block report_footer %}
    <table class="footer-table" >
        <colgroup>
            <col>
        </colgroup>
        <tbody>
        <tr valign="top"><td>
                <div class="style_15"><br/><br/><br/>দায়িত্বপ্রাপ্ত ব্যক্তির নাম ও স্বাক্ষরঃ</div>
                <br/>
                <div class="style_15" >নামঃ</div>
                <br/>
                <div class="style_15">তারিখঃ  <br/></div>
            </td></tr>
        <tr valign="top">
            <td class="style_38">
                <div class="style_25" ><br/>** যে ক্ষেত্রে অনিবন্ধিত ব্যক্তির নিকট হইতে পণ্য/সেবা ক্রয় করা হইবে বা অনিবন্ধিত ব্যক্তির নিকট পণ্য/সেবা বিক্রয় করা হইবে সেই ক্ষেত্রে উক্ত ব্যক্তির পূর্ণাঙ্গ নাম, ঠিকানা ও জাতীয় পরিচয়পত্র নম্বর যথাযথভাবে সংশ্লিষ্ট কলাম [(৭), (৮) ও (৯)] এ আবশ্যিকভাবে উল্লেখ করিতে হইবে।&#xa0;</div>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
