{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ 'Tax Setup For   Output'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <form action="{{ actionUrl }}" novalidate="novalidate" method="post" class="form-horizontal" id="postForm" data-action="{{ actionUrl }}" enctype="multipart/form-data">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tax Setup For Input & Output'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width:5%">S/N</th>
                            <th scope="col" style="width:30%">Name</th>
                            <th scope="col" class="text-center">Note No</th>
                            <th scope="col">Mode</th>
                            <th scope="col" style="width:40%">Value</th>
                            <th scope="col" class="text-center">Tax Mode</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in outputs %}
                            {% if entity.noteNo != 9  %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.name }}</td>
                                <td class="text-center">{{ entity.noteNo }}</td>
                                <td>
                                    <select class="action text-left form-control" data-id="{{ taxes[entity.noteNo].id }}" id="inputMode-{{ taxes[entity.noteNo].id }}" name="inputMod[]">
                                        {% set modes = {'Dropdown':'dropdown','Input':'input'} %}
                                        {% for mode,key in modes %}
                                        <option {% if taxes[entity.noteNo].inputMode == key %} selected="selected" {% endif %} value="{{ key }}">{{ mode }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input data-id="{{ taxes[entity.noteNo].id }}" placeholder="Input data for tax" class="action text-left form-control" name="inputValue[]" id="inputValue-{{ taxes[entity.noteNo].id }}" value="{{ taxes[entity.noteNo].inputValue }}">
                                </td>
                                <td>
                                    <input type="hidden" name="setupId[]" id="setupId" value="{{ taxes[entity.noteNo].id }}" ></input>
                                    <select data-id="{{ taxes[entity.noteNo].id }}" class="action text-left form-control" id="taxMode-{{ taxes[entity.noteNo].id }}" name="taxMode[]">
                                        {% set taxModes = {'Percent':'percent','Flat':'flat'} %}
                                        {% for mode,key in taxModes %}
                                            <option {% if taxes[entity.noteNo].taxMode == key %} selected="selected" {% endif %} value="{{ key }}">{{ mode }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tax Setup For Input(Local Purhase)'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width:5%">S/N</th>
                            <th scope="col" style="width:30%">Name</th>
                            <th scope="col" class="text-center">Note No</th>
                            <th scope="col">Mode</th>
                            <th scope="col" style="width:40%">Value</th>
                            <th scope="col" class="text-center">Tax Mode</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in inputs %}
                            {% if entity.mode == 'local' and entity.noteNo != 21  %}
                                <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.name }}</td>
                                <td class="text-center">{{ entity.noteNo }}</td>
                                    <td>
                                        <select class="action text-left form-control" data-id="{{ taxes[entity.noteNo].id }}" id="inputMode-{{ taxes[entity.noteNo].id }}" name="inputMod[]">
                                            {% set modes = {'Dropdown':'dropdown','Input':'input'} %}
                                            {% for mode,key in modes %}
                                                <option {% if taxes[entity.noteNo].inputMode == key %} selected="selected" {% endif %} value="{{ key }}">{{ mode }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td><input data-id="{{ taxes[entity.noteNo].id }}" placeholder="Input data for tax" class="action text-left form-control" name="inputValue[]" id="inputValue-{{ taxes[entity.noteNo].id }}" value="{{ taxes[entity.noteNo].inputValue }}">
                                    </td>
                                    <td>
                                        <input type="hidden" name="setupId[]" id="setupId" value="{{ taxes[entity.noteNo].id }}" ></input>
                                        <select data-id="{{ taxes[entity.noteNo].id }}" class="action text-left form-control" id="taxMode-{{ taxes[entity.noteNo].id }}" name="taxMode[]">
                                            {% set taxModes = {'Percent':'percent','Flat':'flat'} %}
                                            {% for mode,key in taxModes %}
                                                <option {% if taxes[entity.noteNo].taxMode == key %} selected="selected" {% endif %} value="{{ key }}">{{ mode }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Tax Setup For Input (Import)'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="width:5%">S/N</th>
                            <th scope="col" style="width:30%">Name</th>
                            <th scope="col" class="text-center">Note No</th>
                            <th scope="col">Mode</th>
                            <th scope="col" style="width:40%">Value</th>
                            <th scope="col" class="text-center">Tax Mode</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in inputs %}
                        {% if entity.mode == 'foreign' %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.name }}</td>
                                <td class="text-center">{{ entity.noteNo }}</td>
                                <td>
                                    <select class="action text-left form-control" data-id="{{ taxes[entity.noteNo].id }}" id="inputMode-{{ taxes[entity.noteNo].id }}" name="inputMod[]">
                                        {% set modes = {'Dropdown':'dropdown','Input':'input'} %}
                                        {% for mode,key in modes %}
                                            <option {% if taxes[entity.noteNo].inputMode == key %} selected="selected" {% endif %} value="{{ key }}">{{ mode }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input data-id="{{ taxes[entity.noteNo].id }}" placeholder="Input data for tax" class="action text-left form-control" name="inputValue[]" id="inputValue-{{ taxes[entity.noteNo].id }}" value="{{ taxes[entity.noteNo].inputValue }}">
                                </td>
                                <td>
                                    <input type="hidden" name="setupId[]" id="setupId" value="{{ taxes[entity.noteNo].id }}" ></input>
                                    <select data-id="{{ taxes[entity.noteNo].id }}" class="action text-left form-control" id="taxMode-{{ taxes[entity.noteNo].id }}" name="taxMode[]">
                                        {% set taxModes = {'Percent':'percent','Flat':'flat'} %}
                                        {% for mode,key in taxModes %}
                                            <option {% if taxes[entity.noteNo].taxMode == key %} selected="selected" {% endif %} value="{{ key }}">{{ mode }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </form>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/nbrvat/taxsetup/scripts.js') }}"></script>
{% endblock  %}
