{% extends 'print/report-base.html.twig' %}

{% block report_header %}
   {# <table class="style_15" style="border-collapse: collapse; empty-cells: show; width: 100%;">
        <tr valign="top">
            <td><img class="nbr-logo"  src="{{ asset('assets/images/nbr.png') }}"></td>
            <td style="vertical-align: middle">
                <div class="style_16" style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</div>
                <div class="style_17" id="AUTOGENBOOKMARK_3_e6f87220-df2a-4b91-aa02-53e3300828d4" style=" text-align:center; vertical-align: middle">জাতীয় রাজস্ব বোর্ড ,&nbsp; ঢাকা</div>
            </td>
            <td class="musuk-name"><span>মূসক-৬.১</span></td>
        </tr>
    </table>#}
    <table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed; border: 1px solid #000;border-bottom: none;margin-bottom: -3px">
        <tbody>
        <tr valign="top">
            <td>{#<img class="nbr-logo"  src="{{ asset('assets/images/nbr.png') }}">#}</td>
            <td style=" overflow:hidden;">
                <h4 class="text-center"><strong>{{ domain.organizationName }}, {{ domain.address|raw }} এবং {{ domain.binNo|bn_number }}</strong></h4>
                <h4 style="text-align:center; margin: 0;">ক্রয় হিসাব পুস্তক</h4>
                <h4 style="text-align:center; margin: 0;">(পণ্য বা সেবা প্রক্রিয়াকরণে সম্পৃক্ত এমন নিবন্ধিত বা তালিকাভুক্ত ব্যক্তির জন্য প্রযোজ্য)</h4>
                <h4 style="text-align:center; margin: 0 0 3px 0;">[বিধি ৪০(১) এর দফা (ক) এবং ৪১ এর দফা (ক) দ্রষ্টব্য]</h4>
            </td>
            <td class="musuk-name"><span>মূসক-৬.১</span></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
{% block report_body %}
    <div id="pdf-report-page">
        <table border="0" class="" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;">
            <tbody>
            <tr valign="top">
                <td style="overflow:hidden;">

                    <table class="style_17 table" style="border-collapse: collapse; empty-cells: show; overflow:hidden; table-layout:fixed;">
                        <colgroup>
                            <col style=" width: 3%;">
                            <col style=" width: 4%;">
                            <col style=" width: 4%;">
                            <col style=" width: 5%;">
                            <col style=" width: 4%;">
                            <col style=" width: 4%;">
                            <col style=" width: 5%;">
                            <col style=" width: 5%;">
                            <col style=" width: 6%;">
                            <col style=" width: 5%;">
                            <col style=" width: 5%;">
                            <col style=" width: 5%;">
                            <col style=" width: 5%;">
                            <col style=" width: 5%;">
                            <col style=" width: 5%;">
                            <col style=" width: 5%;">
                            <col style=" width: 5%;">
                            <col style=" width: 5%;">
                            <col style=" width: 5%;">
                        </colgroup>
                        <tbody>
                        <tr class="style_18" valign="top" align="center">
                            <th class="style_19" colspan="21" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_7_c87576c6-fa60-4745-936b-3b2e939b61c9" style=" text-align:center;">পণ্য/সেবার উপকরণ ক্রয়</div>
                            </th>
                        </tr>
                        <tr class="style_23" valign="top">
                            <td colspan="21" style=" overflow:hidden;">
                                HS Code:  {{ item.masterItem.hsCode }} - {{ item.name }} , Item Unit: {{ item.unit.name }}
                            </td>
                        </tr>
                        <tr class="style_20" valign="top" align="center">
                            <th class="style_19" rowspan="3" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_8_76712254-492e-4ec5-88de-d1e05819b323" style=" text-align:center;">ক্রমিক সংখ্যা</div>
                            </th>
                            <th class="style_19" rowspan="3" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_9_d6e0f628-3a00-43f7-927b-90465ebefa7e" style=" text-align:center;">তারিখ</div>
                            </th>
                            <th class="style_19" colspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_10_c3632313-4f32-47ef-9d1e-5b9ce0238774" style=" text-align:center;">মজুদ উপকরণের<br>প্রারম্ভিক জের</div>
                            </th>
                            <th class="style_19" colspan="14" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_11_b30ad9c8-ad21-41ea-a98d-3d797942289c" style=" text-align:center;">ক্রয়কৃত উপকরণ<br></div>
                            </th>
                            <th class="style_19" colspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_12_c00fc6a6-9eb8-4290-87e1-81da8ca0d789" style=" text-align:center;">উপকরণের প্রান্তিক<br>জের</div>
                            </th>

                            <th class="style_21" rowspan="3" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_13_22ff1fc6-0125-4a3e-8505-b7d445b4b67b" style=" text-align:center;">মন্তব্য</div>
                            </th>
                        </tr>
                        <tr class="style_20" valign="top" align="center">
                            <th class="style_19" rowspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_14_e0a2d095-9d51-4ea8-89aa-03ef62845332" style=" text-align:center;">পরিমাণ</div>
                            </th>
                            <th class="style_19" rowspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_15_4ea78a2e-6677-4265-8927-1c9ba909c008" style=" text-align:center;">মূল্য</div>
                            </th>
                            <th class="style_19" rowspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_16_10ff4482-9930-4d89-8c0c-ac93fe1b1cb4" style=" text-align:center;">চালানপত্র/<br>বিল অব<br>এন্ট্রি নং</div>
                            </th>
                            <th class="style_19" rowspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_17_6c239a69-1172-49a0-bef6-503580848ae7" style=" text-align:center;">তারিখ</div>
                            </th>
                            <th class="style_19" colspan="3" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_18_ca3c1a1b-06c8-4af6-b2ad-be90b0d3a515" style=" text-align:center;">বিক্রেতা/ সরবরাহকারী</div>
                            </th>
                            <th class="style_19" rowspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_19_f5a238d8-5a84-4714-9b44-658b44f8df02" style=" text-align:center;">বিবরণ</div>
                            </th>
                            <th class="style_19" rowspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_20_6f9b2157-6ba3-45f1-88e8-b045ab59b8f2" style=" text-align:center;">পরিমাণ</div>
                            </th>
                            <th class="style_19" rowspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_21_216719a9-aa24-4ea9-912b-bce270160b11" style=" text-align:center;">মূল্য<br>(মূসক ও সম্পূরক<br>শুল্ক<br>বাদে)</div>
                            </th>
                            <th class="style_19" rowspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_22_69ff75a9-0d7c-4a89-879e-4cdc135f656a" style=" text-align:center;">সম্পূরক<br>শুল্ক (যদি<br>থাকে)</div>
                            </th>
                            <th class="style_21" rowspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_23_4883c11d-d9fb-404f-a8b5-947399513757" style="text-align: center">মূসক</div>
                            </th>
                            <th class="style_19" colspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_24_dc99836f-958f-45fd-bf7d-bd23b947d87c" style=" text-align:center;">উপকরণের&nbsp; পরিমাণ</div>
                            </th>
                            <th class="style_19" colspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_24_dc99836f-958f-45fd-bf7d-bd23b947d87c" style=" text-align:center;">পণ্য প্রস্তুত/প্রক্রিয়াকরণে<br>উপকরণের&nbsp; ব্যবহার<br></div>
                            </th>
                            <th class="style_22" rowspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_25_3601a9fa-eea8-43c4-b188-a9db171dedea" style=" text-align:center;">পরিমাণ</div>
                            </th>
                            <th class="style_19" rowspan="2" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_26_089a521b-f737-440f-ac62-1cc3e1848a40" style=" text-align:center;">মূল্য</div>
                            </th>

                        </tr>
                        <tr class="style_20" valign="top" align="center">
                            <th class="style_19" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_27_1209d95f-2d8e-4860-b228-b8ab45b9a23e" style=" text-align:center;">নাম</div>
                            </th>
                            <th class="style_19" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_28_29199633-c747-49fe-8e62-e6ee6fa1ccb4" style=" text-align:center;">ঠিকানা</div>
                            </th>
                            <th class="style_19" style="text-align: center" align="left">
                                নিবন্ধন/তালিকাভুক্তি/ জাতীয় পরিচয়পত্র নং
                            </th>
                            <th class="style_19" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_30_2bd48fa6-051f-49cc-8898-0ce7bb25aeb1" style=" text-align:center;">পরিমাণ</div>
                            </th>
                            <th class="style_19" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_31_d96c0566-948a-4e5d-b036-d381d5a7444a" style=" text-align:center;">মূল্য</div>
                            </th>
                            <th class="style_19" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_30_2bd48fa6-051f-49cc-8898-0ce7bb25aeb1" style=" text-align:center;">পরিমাণ</div>
                            </th>
                            <th class="style_19" style=" overflow:hidden;" align="left">
                                <div id="AUTOGENBOOKMARK_31_d96c0566-948a-4e5d-b036-d381d5a7444a" style=" text-align:center;">মূল্য</div>
                            </th>
                        </tr>
                        <tr class="style_20" valign="top" align="center">
                            <th class="style_19 text-center" >(১)</th>
                            <th class="style_19 text-center">(২)</th>
                            <th class="style_19 text-center" >(৩)</th>
                            <th class="style_19 text-center" >(৪)</th>
                            <th class="style_19 text-center" >(৫)</th>
                            <th class="style_19 text-center" >(৬)</th>
                            <th class="style_19 text-center" >(৭)</th>
                            <th class="style_19 text-center" >(৮)</th>
                            <th class="style_19 text-center" >(৯)</th>
                            <th class="style_19 text-center" >(১০)</th>
                            <th class="style_19 text-center" >(১১)</th>
                            <th class="style_19 text-center" >(১২)</th>
                            <th class="style_19 text-center" >(১৩)</th>
                            <th class="style_19 text-center" >(১৪)</th>
                            <th class="style_19 text-center" >(১৫) <br/>=(৩+১১)</th>
                            <th class="style_19 text-center" >(১৬)<br/>=(৪+১২)</th>
                            <th class="style_19 text-center" >(১৭)</th>
                            <th class="style_19 text-center" >(১৮)</th>
                            <th class="style_19 text-center">(১৯)</th>
                            <th class="style_19 text-center">({{ "20"|bn_number }})</th>
                            <th class="style_19 text-center">({{ "21"|bn_number }})</th>
                        </tr>

                        {% for stockItem in entities %}
                        <tr valign="top">
                            <td class="td-value text-center">
                                {{ loop.index|bn_number }}.
                            </td>
                            <td class="td-value">
                                {{ stockItem.updated|date('d-m-y')|bn_number }}
                            </td>
                            <td class="style_33" style=" overflow:hidden;" align="left">
                                {{ stockItem.openingQuantity|number_format|bn_number }} {% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}
                            </td>
                            <td class="td-value" style=" overflow:hidden;">
                                {{ stockItem.openingBalance|number_format|bn_number }}
                            </td>
                            <td class="td-value" style=" overflow:hidden;">
                                {% if stockItem.mode in  ['purchase'] %}
                                    {% if stockItem.purchaseItem is not empty %}{{ stockItem.purchaseItem.purchase.challanNo|bn_number }}{% endif %}
                                {% elseif stockItem.mode in  ['purchase-return'] %}
                                    {% if stockItem.purchaseReturnItem is not empty %}{{ stockItem.purchaseReturnItem.purchaseReturn.invoice|bn_number }}{% endif %}
                                 {% else %}
                                    {% if stockItem.productionBatchItem is not empty %}{{ stockItem.productionBatchItem.batch.invoice|bn_number }}{% endif %}
                                    {% if stockItem.productionReceiveItem is not empty %}{{ stockItem.productionBatchItem.batch.invoice|bn_number }}{% endif %}
                                {% endif %}
                            </td>
                            <td class="td-value" style=" overflow:hidden;">
                                {% if stockItem.purchaseItem is not empty %}
                                    {{ stockItem.purchaseItem.purchase.receiveDate|date('d-m-y')|bn_number }}
                                {% else %}
                                    {{ stockItem.updated|date("d-m-y")|bn_number }}
                                {% endif %}
                            </td>
                            <td class="td-value" style=" overflow:hidden;">
                                {% if stockItem.purchaseItem is not empty %}{{ stockItem.purchaseItem.purchase.vendor.companyName }} {% endif %}
                                {% if stockItem.remark in ["Contractual-consumption","Contractual-return"]  and stockItem.productionBatchItem is not empty %}
                                    {{ stockItem.productionBatchItem.batch.vendor.companyName }}
                                {% endif %}
                            </td>
                            <td class="td-value" style=" overflow:hidden;">
                                {% if stockItem.purchaseItem is not empty %}
                                    {{ stockItem.purchaseItem.purchase.vendor.address|raw }}
                                {% endif %}
                                {% if stockItem.remark in ["Contractual-consumption","Contractual-return"]  and stockItem.productionBatchItem is not empty %}
                                    {{ stockItem.productionBatchItem.batch.vendor.address|raw }}
                                {% endif %}
                            </td>
                            <td class="td-value" style=" overflow:hidden;">
                                {% if stockItem.purchaseItem is not empty %}
                                    {% if stockItem.purchaseItem.purchase.vendor.binNo is not empty %}
                                        {{ stockItem.purchaseItem.purchase.vendor.binNo|bn_number }}
                                    {% else %}
                                        {{ stockItem.purchaseItem.purchase.vendor.nidNo|bn_number }}
                                    {% endif %}
                                {% endif %}
                                {% if stockItem.remark in ["Contractual-consumption","Contractual-return"]  and stockItem.productionBatchItem is not empty %}
                                    {% if stockItem.productionBatchItem.batch.vendor.binNo is not empty %}
                                            {{ stockItem.productionBatchItem.batch.vendor.binNo|bn_number }}
                                    {% else %}
                                            {{ stockItem.productionBatchItem.batch.vendor.nidNo|bn_number }}
                                    {% endif %}
                                {% endif %}

                            </td>
                            <td class="style_33 text-center">
                              {% if stockItem.purchaseItem is not empty %}  {{ stockItem.purchaseItem.name }}{% endif %}
                            </td>
                            <td class="style_36" style=" overflow:hidden;" align="center">
                                {% if stockItem.mode == 'purchase' %}
                                    {{ stockItem.purchaseQuantity|number_format|bn_number }}
                                    {% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}
                                {% elseif stockItem.mode == 'production-expense-return' %}
                                    {{ stockItem.productionExpenseReturnQuantity|bn_number }}
                                    {% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}
                                {% endif %}

                            </td>
                            <td class="td-value text-center" style=" overflow:hidden;">
                                {% if stockItem.mode in  ['purchase','production-expense-return'] %}
                                    {{ stockItem.subTotal|number_format|bn_number }}
                                {% endif %}
                            </td>
                            <td class="td-value text-center" style=" overflow:hidden;">
                                {% if stockItem.mode == 'purchase'  %}
                                {{ stockItem.supplementaryDuty|number_format|bn_number }}
                                {% endif %}
                            </td>
                            <td class="td-value text-center">
                                {% if stockItem.mode == 'purchase'  %}
                                {{ stockItem.valueAddedTax|number_format|bn_number }}
                                {% endif %}
                            </td>
                            <td class="style_36 text-center" >
                                {% if stockItem.mode == 'purchase'  %}
                                    {{ (stockItem.closingQuantity)|number_format|bn_number }}
                                {% elseif stockItem.mode == 'production-expense'  %}
                                    {{ (stockItem.openingQuantity)|number_format|bn_number }}
                                {% elseif stockItem.mode == 'purchase-return'  %}
                                    {{ (stockItem.openingQuantity )|number_format|bn_number }}
                                {% elseif stockItem.mode == 'production-expense-return'  %}
                                    {{ (stockItem.closingQuantity)|number_format|bn_number }}
                                {% endif %}
                            </td>
                            <td class="td-value text-center" style=" overflow:hidden;">
                                {% if stockItem.mode == 'purchase'  %}
                                    {{ (stockItem.closingBalance)|number_format|bn_number }}
                                {% elseif stockItem.mode == 'production-expense'  %}
                                    {{ (stockItem.openingBalance)|number_format|bn_number }}
                                {% elseif stockItem.mode == 'purchase-return'  %}
                                     {{ (stockItem.openingBalance )|number_format|bn_number }}
                                {% elseif stockItem.mode == 'production-expense-return'  %}
                                     {{ (stockItem.closingBalance )|number_format|bn_number }}
                                {% endif %}
                            </td>
                            <td class="style_36 text-center" >
                                {% if stockItem.mode == 'production-expense'  %}
                                    {{ (stockItem.productionExpenseQuantity)|number_format|bn_number }}
                                    {% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }} {% endif %}
                                {% elseif stockItem.mode == 'purchase-return'  %}
                                    {{ (stockItem.purchaseReturnQuantity )|number_format|bn_number }}
                                    {% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }} {% endif %}
                                {% endif %}

                            </td>
                            <td class="td-value" style=" overflow:hidden;">
                                {% if stockItem.mode == 'production-expense'  %}
                                    {{ (stockItem.subTotal)|abs|number_format|bn_number }}
                                {% elseif stockItem.mode == 'purchase-return'  %}
                                    {{ (stockItem.subTotal )|number_format|bn_number }}
                                {% endif %}
                            </td>
                            <td class="style_36 text-center">
                                {{ stockItem.closingQuantity|number_format|bn_number }} {% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}
                            </td>
                            <td class="td-value text-center">
                                {{ stockItem.closingBalance |number_format|bn_number }}
                            </td>
                            <td class="td-value">
                                {{ stockItem.remark|capitalize }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block report_footer %}
    <table class="style_15" style="margin-top: 25px; border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;">
        <colgroup>
            <col>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <h4 style="text-align:left; margin: 0;">বিশেষ দ্রষ্টব্য</h4>
                <p style="text-align:left; margin: 0;">১। অর্থনৈতিক কার্যক্রম সংশ্লিষ্ট সকল প্রকার ক্রয়ের তথ্য এই ফর্মে অন্তর্ভুক্ত করিতে হইবে। </p>
                <p style="text-align:left; margin: 0;">২। যে ক্ষেত্রে অনিবন্ধিত ব্যক্তির নিকট হইতে পণ্য ক্রয় করা হইবে সেই ক্ষেত্রে উক্ত ব্যক্তির পূর্ণাঙ্গ নাম, ঠিকানা ও জাতীয় পরিচয়পত্র নম্বর যথাযথভাবে সংশ্লিষ্ট কলাম [(৭), (৮) ও (৯)] এ আবশ্যিকভাবে উল্লেখ করিতে হইবে।</p>
                <p style="text-align:left; margin: 0;">৩। পণ্য ক্রয়ের স্বপক্ষে প্রামাণিক দলিল হিসাবে বিল অব এন্ট্রি বা চালানপত্রের কপি সংরক্ষণ করিতে হইবে।</p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
