
<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-th-large"></i>
         {% if post.mode == "purchase"%}
            {{ 'Purchase Challan No'|trans }}: {{ post.invoice }}
         {% else %}
             {{ 'Sales Challan No'|trans }}: {{ post.invoice }}
         {% endif %}
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead class="thead-dark">
                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>Created</th>
                            <th>Certificate No</th>
                            <th>Amount</th>
                            <th>Process</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if  post.vdsTransactions is not empty %}
                            {% for entity in post.vdsTransactions %}
                                <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.created|date('d-m-Y') }}</td>
                                <td>{{ entity.invoice }}</td>
                                <td>{{ entity.amount|number_format(2) }}</td>
                                <td>{{ entity.process }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
