{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ 'Manage VDS Certificate'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage VDS Certificate'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('nbrvat_vds_new',{'mode':'purchase'}) }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Purchhase'|trans }}</a>
                            <a href="{{ path('nbrvat_vds_new',{'mode':'sales'}) }}" class="btn btn-sm  blue-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Sales'|trans }}</a>
                            <a href="{{ path('nbrvat_vds') }}" class="btn btn-sm  gray-bg white-font"><i class="fa fa-list"></i>{{ 'VDS'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>Created</th>
                            <th>Certificate No</th>
                            <th>Party/Company</th>
                            <th>Challan</th>
                            <th>Total</th>
                            <th>Balance</th>
                            <th>Amount</th>
                            <th>Process</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/nbrvat/vds/ajax-certificate-pagination.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

