{% extends 'print/report-base.html.twig' %}

{% block report_header %}


{% endblock %}

{% block report_body %}
    <table cellpadding="0" rules="none" border="0" style="empty-cells: show; width:8.5in; overflow: hidden; table-layout:fixed;">
        <colgroup><col>
        </colgroup><tbody><tr>
            <td valign="top">
                <table class="style_14" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_1_6f322299-65b6-485b-897e-5db7fe75ddd2">
                    <colgroup><col>
                    </colgroup><tbody><tr valign="top">
                        <td style=" overflow:hidden;">
                            <div id="AUTOGENBOOKMARK_2_0485725c-8c1d-4143-a82c-66bcc0e30ce0" style=" text-align:right;">মূসক -৬.৬&nbsp;&nbsp;</div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;">
                            <div class="style_5" style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;">
                            <div id="AUTOGENBOOKMARK_3_f1a17f0f-0954-4808-85a8-ba600b09814e" style=" text-align:center;">জাতীয় রাজস্ব বোর্ড</div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;">
                            <div id="AUTOGENBOOKMARK_4_fc87f4b7-4aa0-41b1-9aac-c628d053b78c" style=" text-align:center;">
                                <div style="visibility:hidden">&nbsp;</div>
                            </div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;">
                            <div class="style_5" id="AUTOGENBOOKMARK_5_547de129-3897-4000-9c35-c5fbbe908971" style=" text-align:center;">উৎসে কর কর্তন সনদপত্র&nbsp;</div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;">
                            <div id="AUTOGENBOOKMARK_6_19eb9a2e-886d-4443-af4a-86271e936b61" style=" text-align:center;">[বিধি ৪০ এর উপ-বিধি&nbsp; (১) এর দফা (চ) দ্রষ্টব্য]</div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;">
                            <div id="AUTOGENBOOKMARK_7_0617681f-bea5-4d4e-bf0f-be07ce814c6e">
                                <div style="visibility:hidden">&nbsp;</div>
                            </div>
                        </td>
                    </tr>
                    </tbody></table>
                <table class="style_14" style="border-collapse: collapse; empty-cells: show; height: 2.806in; width: 100%; overflow:hidden; table-layout:fixed;" id="__bookmark_1">
                    <colgroup><col style=" width: 20%;">
                        <col>
                        <col style=" width: 20%;">
                        <col>
                    </colgroup><tbody><tr valign="top">
                        <td colspan="4" style=" overflow:hidden;" align="center">
                            <span id="AUTOGENBOOKMARK_8_602ddd91-c92e-4f44-acab-83791fff0719">উৎসে কর কর্তনকারী সত্তার নাম :</span>
                            <span id="__bookmark_2">&nbsp;</span>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td colspan="4" style=" overflow:hidden;" align="center">
                            <span id="AUTOGENBOOKMARK_9_0361ae7d-0d91-4bc7-8b25-01c69589b9f6">উৎসে কর কর্তনকারী সত্তার ঠিকানা:</span>
                            <span>&nbsp;</span>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" style=" overflow:hidden;">
                            <div id="AUTOGENBOOKMARK_10_ee7ccaf0-40b7-495d-9217-f2a599e8d2bb">উৎসে কর কর্তনকারী সত্তার বিআইএন (প্রযোজ্য ক্ষেত্রে ):&nbsp;</div>
                        </td>
                        <td colspan="2" style=" overflow:hidden;">
                            <div>
                                <div style="visibility:hidden">&nbsp;</div>
                            </div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;">
                            <div id="AUTOGENBOOKMARK_11_d6ec7528-de12-4891-a37a-1ed5c3c55a13">উৎসে কর কর্তন সনদপত্র নং:&nbsp;</div>
                        </td>
                        <td style=" overflow:hidden;"></td>
                        <td style=" overflow:hidden;">
                            <div id="AUTOGENBOOKMARK_12_2f5720f5-5c57-469e-acff-009515de8336">জারির&nbsp; তারিখ :&nbsp;</div>
                        </td>
                        <td style=" overflow:hidden;"></td>
                    </tr>
                    <tr valign="top">
                        <td colspan="4" style=" overflow:hidden;">
                            <div id="AUTOGENBOOKMARK_13_505c3fb3-9ccf-42b0-a736-a7084324acc9">এই মর্মে প্রত্যয়ন করা যাইতেছে যে , আইনের ধারা ৪৯ অনুযায়ী উৎসে কর কর্তনযোগ্য সরবরাহ হইতে প্রযোজ্য মূল্য সংযোজন কর বাবদ উৎসে কর কর্তন করা হইল । কর্তনকৃত মূল্য সংযোজন কর্মের অর্থ বুক ট্রান্সফার/ট্রেজারি চালান/দাখিলপর্ত্রে বৃদ্ধিকারী সমন্বয়ের মাধ্যমে সরকারী কোষাগারে প্রদান করা হইয়াছে । কপি এতদসঙ্গে সংযুক্ত করা হইল (প্রযোজ্য ক্ষেত্রে) ।&nbsp;</div>
                        </td>
                    </tr>
                    </tbody></table>
                <div class="style_17" id="AUTOGENBOOKMARK_14_204ecbcd-7c19-44c6-8366-4c32186b0aeb" style=" text-align:center;">
                    <div style="visibility:hidden">&nbsp;</div>
                </div>
                <table class="style_18" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="__bookmark_3">
                    <colgroup><col style=" width: 6%;">
                        <col style=" width: 12%;">
                        <col style=" width: 14%;">
                        <col style=" width: 12%;">
                        <col style=" width: 14%;">
                        <col style=" width: 14%;">
                        <col style=" width: 14%;">
                        <col style=" width: 14%;">
                    </colgroup><tbody><tr class="style_19" valign="top" align="center">
                        <th class="style_20" rowspan="2" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_15_3e09dfec-62c8-47b1-bad6-49790d1fb162" style=" text-align:center;">ক্রমিক সংখ্যা</div>
                        </th>
                        <th class="style_20" colspan="2" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_16_cc59d770-6c71-4f21-bf0b-16ce327e8354" style=" text-align:center;">সরবরাহকারীর&nbsp;</div>
                        </th>
                        <th class="style_20" colspan="2" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_17_e2b1d26e-367d-49aa-bd7e-6404e9c4f485" style=" text-align:center;">সংশ্লিষ্ট কর চালানপত্র</div>
                        </th>
                        <th class="style_20" rowspan="2" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_18_70f789cd-10b6-4888-9ecb-6a9e0891f395" style=" text-align:center;">মোট সরবরাহ মূল্য১&nbsp; (টাকা)</div>
                        </th>
                        <th class="style_20" rowspan="2" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_19_e88a0f6d-bb16-464e-ac81-88fc51530bb4" style=" text-align:center;">মুসকের পরিমাণ&nbsp; (টাকা)</div>
                        </th>
                        <th class="style_20" rowspan="2" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_20_f16c1252-5efa-40d9-93d4-c1acc6b8c7d7" style=" text-align:center;">&nbsp;উৎসে কর্তনকৃত মুসকের পরিমাণ (টাকা)</div>
                        </th>
                    </tr>
                    <tr class="style_19" valign="top" align="center">
                        <th class="style_20" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_21_f8111df6-0b0f-4331-a89a-f94f380c413a" style=" text-align:center;">নাম&nbsp;</div>
                        </th>
                        <th class="style_20" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_22_d05e97df-05ab-463f-8ee7-87aee14c5090" style=" text-align:center;">বিআইএন</div>
                        </th>
                        <th class="style_20" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_23_5b7615a9-2ed0-40ec-b58f-6a17b76d83e9" style=" text-align:center;">&nbsp;নম্বর&nbsp;</div>
                        </th>
                        <th class="style_20" style=" overflow:hidden;" align="left">
                            <div class="style_21" id="AUTOGENBOOKMARK_24_6403bbaa-2114-4948-9df3-0ce137eee029" style=" text-align:center;">ইস্যুর তারিখ&nbsp;</div>
                        </th>
                    </tr>
                    <tr class="style_19" valign="top" align="center">
                        <th class="style_20" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_25_b5ab44bb-3fd4-4ef3-a211-4c41841a0fce" style=" text-align:center;">(১)</div>
                        </th>
                        <th class="style_20" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_26_08d38301-7b3a-4e5c-b225-ccecbe59cc2d" style=" text-align:center;">(২)</div>
                        </th>
                        <th class="style_20" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_27_6b17caba-bf2c-4f23-a38b-32fe4b896d95" style=" text-align:center;">(৩)</div>
                        </th>
                        <th class="style_20" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_28_c0659d7d-7ca5-421f-af71-8b969d9a77b9" style=" text-align:center;">(৪)</div>
                        </th>
                        <th class="style_20" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_29_2e733473-bf34-4cb4-9422-3a3870dd3a55" style=" text-align:center;">(৫)</div>
                        </th>
                        <th class="style_20" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_30_995423f9-e74e-4506-97b3-ec019e2ee805" style=" text-align:center;">(৬)</div>
                        </th>
                        <th class="style_20" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_31_688ac423-2b34-4f71-981b-aa4e422d5264" style=" text-align:center;">(৭ )</div>
                        </th>
                        <th class="style_20" style=" overflow:hidden;" align="left">
                            <div id="AUTOGENBOOKMARK_32_2cfc8e1a-34b1-4f91-baa5-21a0f077ed30" style=" text-align:center;">(৮)</div>
                        </th>
                    </tr>
                    <tr valign="top">
                        <td class="style_26" style=" overflow:hidden;"></td>
                        <td class="style_26" style=" overflow:hidden;"></td>
                        <td class="style_26" style=" overflow:hidden;"></td>
                        <td class="style_26" style=" overflow:hidden;"></td>
                        <td class="style_26" style=" overflow:hidden;"></td>
                        <td class="style_26" style=" overflow:hidden;"></td>
                        <td class="style_26" style=" overflow:hidden;"></td>
                        <td class="style_26" style=" overflow:hidden;"></td>
                    </tr>
                    </tbody></table>
                <div id="AUTOGENBOOKMARK_33_c3c5679a-f491-4aa1-8418-269fff116816">
                    <div style="visibility:hidden">&nbsp;</div>
                </div>
                <table class="style_14" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_34_2a43e15a-c0ec-4136-a7b8-644ddcd7aafd">
                    <colgroup><col>
                    </colgroup><tbody><tr valign="top">
                        <td style=" overflow:hidden;"></td>
                    </tr>
                    <tr valign="top">
                        <td style=" overflow:hidden;">
                            <div id="AUTOGENBOOKMARK_35_3a51a680-eaeb-43e8-ab10-0fc0579b7082">&nbsp;&nbsp;<br>ক্ষমতাপ্রাপ্ত কর্মকর্তার স্বাক্ষর-&nbsp;<br>&nbsp;<br>&nbsp;<br>স্বাক্ষর:&nbsp; ....<br>নাম: ....<br><br><br>১ মূসক ও সম্পূরক শুল্ক (যদি থাকে) সহ মূল্য ।&nbsp;<br></div>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;" id="AUTOGENBOOKMARK_36_835b6930-3790-40c3-9345-582b9cc77e1a">
                    <colgroup><col style=" width: 1.5in;">
                        <col>
                        <col style=" width: 1.5in;">
                    </colgroup><tbody><tr valign="top">
                        <td class="style_3" colspan="3" style=" overflow:hidden;"></td>
                    </tr>
                    <tr valign="top">
                        <td class="style_3" style=" overflow:hidden;">
                            <div class="style_7">08/11/2019 11:29</div>
                        </td>
                        <td class="style_8" style=" overflow:hidden;" align="center" valign="bottom">
                            <div>
                                <div style="visibility:hidden">&nbsp;</div>
                            </div>
                        </td>
                        <td class="style_9" style=" overflow:hidden;" align="right" valign="bottom">
                            <span class="style_10" id="AUTOGENBOOKMARK_37_97427e30-02ef-4430-9190-ab9b47f7a686" style=" text-align:right;">Page&nbsp;</span>
                            <span class="style_11">1</span>
                            <span class="style_12" id="AUTOGENBOOKMARK_38_ba9d03e9-a7e6-4cc5-b282-48f416ecc3b2" style=" text-align:right;">&nbsp;of&nbsp;</span>
                            <span class="style_13" style=" text-align:right;">1</span>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}

{% block report_footer %}

{% endblock %}
