
<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-th-large"></i>
            Advance Tax Paid at Import Stage
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead class="thead-dark">
                        <tr>
                            <th><i class="feather icon-list"></i> Serial No.</th>
                            <th>Bill of Entry
                                Number</th>
                            <th>Date</th>
                            <th>Custom
                                House/Customs
                                Station</th>
                            <th>Advance Tax
                                Amount</th>
                            <th>Notes</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% set totalSd = 0 %}
                        {% set totalVat = 0 %}
                        {% if subForm is not empty %}
                            {% for entity in subForm %}
                                {% set total = total + entity.rebateAt  %}
                                <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.billOfEntryNo }}</td>
                                <td>{{ entity.billOfEntryDate|date('d-m-Y') }}</td>
                                <td>{{ entity.customHouse }}</td>
                                <td>{{ entity.rebateAt|number_format(2) }}</td>
                                <td></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr><th colspan="4">Total</th><th>{{ total|number_format(2) }}</th><td></td></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
