{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('nbrvat_taxreturn') }}">  {{ 'Tax Return List'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Tax Return'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('nbrvat_taxreturn_new') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Tax Return'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr>
                           {# <th><input type="checkbox" class="allCheckbox" id="allCheck" name="allCheck"></th>#}
                            <th>{{ 'Created'|trans }}</th>
                            <th>{{ 'Submission Date'|trans }}</th>
                            <th>{{ 'Tax Period'|trans }}</th>
                            <th>{{ 'Return Type'|trans }}</th>
                            <th>{{ 'VAT Balance'|trans }}</th>
                            <th>{{ 'SD Balance'|trans }}</th>
                            <th>{{ 'Refund'|trans }}</th>
                            <th>{{ 'Refund Confirm'|trans }}</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr id="remove-{{ entity.id }}">
                               {# <input class="process" type="checkbox" name="process" id="process" value="{{ entity.id }}">#}
                                <td>{{ entity.created|date('d-m-Y') }}</td>
                                <td>{{ entity.submissionDate|date('d-m-Y') }}</td>
                                <td>{{ entity.taxPeriod }}</td>
                                <td>{% if entity.returnType is not empty %}{{ entity.returnType.name }}{% endif %}</td>
                                <td>{{ entity.closingBalanceVatPart10|number_format(2) }}</td>
                                <td>{{ entity.closingBalanceSdPart10|capitalize }}</td>
                                <td>{% if entity.refund == 1 %} Yes {% else %}No{% endif %}</td>
                                <td>{% if entity.refundConfirm != 1 %} <a href="">Confirm</a> {% else %}No{% endif %}</td>
                                <td>
                                    <div class="btn-group">
                                        {% if entity.process != "approved" %}
                                        <a href="javascript:" data-action="{{ path('nbrvat_treasuary_process',{'id':entity.id}) }}" data-id="{{ entity.id }}" class="btn approve indigo-bg white-font btn-sm"><i class="feather icon-check"></i> {{ 'Approve'|trans }}</a>
                                            <a  class="btn approve yellow-bg white-font btn-sm" href="{{ path('nbrvat_taxreturn_edit',{id:entity.id}) }}" class="btn btn-sm  btn-yellow red-font"><i class="feather icon-edit"></i> Edit</a>
                                        <a href="javascript:" data-action="{{ path('nbrvat_taxreturn_delete',{id:entity.id}) }}" class="btn btn-sm  btn-transparent red-font remove"><i class="fa fa-remove"></i></a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
