{% extends 'admin/layout.html.twig' %}
 {% block body_id 'nbrvat_taxreturn_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{{ path('nbrvat_taxreturn') }}">{{ "Tax Return"|trans }}</a></li>
                        <li class="breadcrumb-item">{{ entity.terminal.organizationName }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Organization'|trans }} : {{ entity.terminal.organizationName }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a target="_blank" href="{{ path('nbrvat_report_mushuk_9_1_preview',{'id':entity.id}) }}" class="btn btn-sm  indigo-bg white-font"><i class="fa fa-download"></i>Mushuk 9.1</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Part-1: TAXPAYER’S INFORMATION'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        <form action="{{ actionUrl }}" novalidate="novalidate" method="post" class="form-horizontal" id="postForm" data-action="{{ dataAction }}" enctype="multipart/form-data">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group-label">
                                            <label class="col-md-3 text-right">{{ 'BIN No.'|trans }}</label>
                                            <div class="col-md-9" >{% if entity.terminal is not empty %}{{  entity.terminal.binNo }}{% endif %}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group-label">
                                            <label class="col-md-3 text-right">{{ 'Name of Taxpayer'|trans }}</label>
                                            <div class="col-md-8" >{% if entity.terminal is not empty %}{{  entity.terminal.organizationName }}{% endif %}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group-label">
                                            <label class="col-md-3 text-right">{{ 'Address of Taxpayer'|trans }}</label>
                                            <div class="col-md-9" >{% if entity.terminal is not empty %}{{  entity.terminal.address }}{% endif %}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group-label">
                                            <label class="col-md-3 text-right">{{ 'Type of Ownership'|trans }}</label>
                                            <div class="col-md-9" >{% if entity.terminal is not empty %}{{  entity.terminal.company.businessOwnership.name }}{% endif %}</div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group-label">
                                            <label class="col-md-3 text-right">{{ 'Economic Activity'|trans }}</label>
                                            <div class="col-md-9" >{% if entity.terminal is not empty %}{{  entity.terminal.company.economicActivity.name }}{% endif %}</div>
                                        </div>
                                    </div>
                                </div>



                                <div class="clearfix"><br/></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>{{ "Part-2: RETURN SUBMISSION DATA"|trans }}</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group-label">
                                            {{ form_label(form.taxPeriod, 'Tax Period'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                            <div class="col-md-3" >
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.taxPeriod) }}
                                                {{ form_errors(form.taxPeriod) }}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"><br/></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.returnType, 'Type of Return'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.returnType) }}
                                                {{ form_errors(form.returnType) }}
                                                {{ form_help(form.returnType) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-3">&nbsp;</label>
                                            <div class="col-md-6">
                                                {{ form_widget(form.activitiesTaxPeriod) }}
                                                {{ form_errors(form.activitiesTaxPeriod) }}
                                                {{ form_help(form.activitiesTaxPeriod) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.submissionDate, 'Date of Submission'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                            <div class="col-md-2">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.submissionDate) }}
                                                {{ form_errors(form.submissionDate) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                {% if entity.taxPeriod is not empty %}
                                <div class="card-header grey-bg inner-header">
                                    <h5>Part-3: SUPPLY - OUTPUT TAX</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="text-left span7"  colspan="2" >Nature of Supply</th>
                                        <th class="text-center span1">Note</th>
                                        <th class="text-right span1">Value(a)</th>
                                        <th class="text-right span1">SD(b)</th>
                                        <th class="text-right span1">VAT(c)</th>
                                        <th class="text-right span1">Sub-Form</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-left span5"  rowspan="2">Zero Rated Goods/Service</td>
                                        <td class="text-left span2">Direct Export</td>
                                        <td class="text-center span1">1</td>
                                        <td class="text-right">{% if outputTax['1'] is defined and outputTax['1'] is not empty %}{{ outputTax['1'].subTotal|number_format(2) }}{% endif %}</td>
                                        <td class="text-right span1">  {% if outputTax['1'] is defined and outputTax['1'] is not empty %}   {{ outputTax['1'].sd|number_format(2) }} {% endif %}</td>
                                        <td class="text-right span1">  {% if outputTax['1'] is defined and outputTax['1'] is not empty %}   {{ outputTax['1'].vat|number_format(2) }} {% endif %}</td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-1&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform',{'id':1,'tax':entity.id}) }}" id="postView-1"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span2">Deemed Export</td>
                                        <td class="text-center span1">2</td>
                                        <td class="text-right span1">
                                            {% if outputTax['2'] is defined and outputTax['2'] is not empty %}   {{ outputTax['2'].subTotal|number_format(2) }} {% endif %}</td>
                                        <td class="text-right span1">  {% if outputTax['2'] is defined and outputTax['2'] is not empty %}   {{ outputTax['2'].sd|number_format(2) }} {% endif %}</td>
                                        <td class="text-right span1">  {% if outputTax['2'] is defined and outputTax['2'] is not empty %}   {{ outputTax['2'].vat|number_format(2) }} {% endif %}</td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-2&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform',{'id':2,'tax':entity.id}) }}" id="postView-2"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span7" colspan="2" >Exempted Goods/Service</td>
                                        <td class="text-center span1">3</td>
                                        <td class="text-right span1">  {% if outputTax['3'] is defined and outputTax['3'] is not empty %}   {{ outputTax['3'].subTotal|number_format(2) }} {% endif %}</td>
                                        <td class="text-right span1">  {% if outputTax['3'] is defined and outputTax['3'] is not empty %}   {{ outputTax['3'].sd|number_format(2) }} {% endif %}</td>
                                        <td class="text-right span1">  {% if outputTax['3'] is defined and outputTax['3'] is not empty %}   {{ outputTax['3'].vat|number_format(2) }} {% endif %}</td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-3&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform',{'id':3,'tax':entity.id}) }}" id="postView-3"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span7" colspan="2" >Standard Rated Goods/Service</td>
                                        <td class="text-center span1">4</td>
                                        <td class="text-right span1">  {% if outputTax['4'] is defined and outputTax['4'] is not empty %}   {{ outputTax['4'].subTotal|number_format(2) }} {% endif %}</td>
                                        <td class="text-right span1">  {% if outputTax['4'] is defined and outputTax['4'] is not empty %}   {{ outputTax['4'].sd|number_format(2) }} {% endif %}</td>
                                        <td class="text-right span1">  {% if outputTax['4'] is defined and outputTax['4'] is not empty %}   {{ outputTax['4'].vat|number_format(2) }} {% endif %}</td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-4&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform',{'id':4,'tax':entity.id}) }}" id="postView-4"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span7" colspan="2" >Goods Based on MRP</td>
                                        <td class="text-center span1">5</td>
                                       <td class="text-right span1">  {% if outputTax['5'] is defined and outputTax['5'] is not empty %}   {{ outputTax['5'].subTotal|number_format(2) }} {% endif %}</td>
                                       <td class="text-right span1">  {% if outputTax['5'] is defined and outputTax['5'] is not empty %}   {{ outputTax['5'].sd|number_format(2) }} {% endif %}</td>
                                       <td class="text-right span1">  {% if outputTax['5'] is defined and outputTax['5'] is not empty %}   {{ outputTax['5'].vat|number_format(2) }} {% endif %}</td>
                                       <td class="text-right span1">
                                           <a href="?process=postView-5&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform',{'id':5,'tax':entity.id}) }}" id="postView-5"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                       </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span7" colspan="2" >Goods/Service Based on Specific VAT</td>
                                        <td class="text-center span1">6</td>
                                       <td class="text-right span1">  {% if outputTax['6'] is defined and outputTax['6'] is not empty %}   {{ outputTax['6'].subTotal|number_format(2) }} {% endif %}</td>
                                       <td class="text-right span1">  {% if outputTax['6'] is defined and outputTax['6'] is not empty %}   {{ outputTax['6'].sd|number_format(2) }} {% endif %}</td>
                                       <td class="text-right span1">  {% if outputTax['6'] is defined and outputTax['6'] is not empty %}   {{ outputTax['6'].vat|number_format(2) }} {% endif %}</td>
                                       <td class="text-right span1">
                                           <a href="?process=postView-6&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform',{'id':6,'tax':entity.id}) }}" id="postView-6"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                       </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span7" colspan="2" >Goods/Service Other than Standard
                                            Rate</td>
                                        <td class="text-center span1">7</td>
                                       <td class="text-right span1">  {% if outputTax['7'] is defined and outputTax['7'] is not empty %}   {{ outputTax['7'].subTotal|number_format(2) }} {% endif %}</td>
                                       <td class="text-right span1">  {% if outputTax['7'] is defined and outputTax['7'] is not empty %}   {{ outputTax['7'].sd|number_format(2) }} {% endif %}</td>
                                       <td class="text-right span1">  {% if outputTax['7'] is defined and outputTax['7'] is not empty %}   {{ outputTax['7'].vat|number_format(2) }} {% endif %}</td>
                                       <td class="text-right span1">
                                           <a href="?process=postView-7&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform',{'id':7,'tax':entity.id}) }}" id="postView-7"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                       </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span7" colspan="2" >Retail/Wholesale/Trade Based Supply</td>
                                        <td class="text-center span1">8</td>
                                       <td class="text-right span1">  {% if outputTax['8'] is defined and outputTax['8'] is not empty %}   {{ outputTax['8'].subTotal|number_format(2) }} {% endif %}</td>
                                       <td class="text-right span1">  {% if outputTax['8'] is defined and outputTax['8'] is not empty %}   {{ outputTax['8'].sd|number_format(2) }} {% endif %}</td>
                                       <td class="text-right span1">  {% if outputTax['8'] is defined and outputTax['8'] is not empty %}   {{ outputTax['8'].vat|number_format(2) }} {% endif %}</td>
                                       <td class="text-right span1">
                                           <a href="?process=postView-8&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform',{'id':8,'tax':entity.id}) }}" id="postView-8"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                       </td>
                                    </tr>
                                    <tr>
                                        <th class="text-left span7" colspan="2">Total Sales Value & Total Payable
                                            Taxes</th>
                                        <th class="text-center span1">9</th>
                                        <th class="text-right span1">{{ entity.outputValue|number_format(2) }}</th>
                                        <th class="text-right span1">{{ entity.outputSd|number_format(2) }}</th>
                                        <th class="text-right span1">{{ entity.outputVat|number_format(2) }}</th>
                                    </tr>
                                    </tbody>

                                </table>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Part-4: PURCHASE - INPUT TAX</h5>
                                </div>
                                <div class="clearfix"></div>
                                <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="text-left span8"  colspan="2">Nature of Purchase</th>
                                        <th class="text-center span1">Note</th>
                                        <th class="text-right span1">Value(a)</th>
                                        <th class="text-right span1">VAT(b)</th>
                                        <th class="text-right span1">Sub-Form</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-left span6" rowspan="2">Zero Rated Goods/Service</td>
                                        <td class="text-left span2">Local Purchase</td>
                                        <td class="text-center span1">10</td>
                                        <td class="text-right span1">
    {% if inputTax["10"] is defined and  inputTax["10"] is not empty %}{{ inputTax["10"].subTotal|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
        {% if inputTax["10"] is defined and inputTax["10"] is not empty %}{{ inputTax["10"].vat|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-10&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':10,'tax':entity.id}) }}" id="postView-10"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span2">Import</td>
                                        <td class="text-center span1">11</td>
                                        <td class="text-right span1">
                                            {% if inputTax["11"] is defined and  inputTax["11"] is not empty %}{{ inputTax["11"].subTotal|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            {% if inputTax["11"] is defined and inputTax["11"] is not empty %}{{ inputTax["11"].vat|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-11&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':11,'tax':entity.id}) }}" id="postView-11"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span6"  rowspan="2">Exempted Goods/Service</td>
                                        <td class="text-left span2">Local Purchase</td>
                                        <td class="text-center span1">12</td>
                                        <td class="text-right span1">
                                            {% if inputTax["12"] is defined and  inputTax["12"] is not empty %}{{ inputTax["12"].subTotal|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            {% if inputTax["12"] is defined and inputTax["12"] is not empty %}{{ inputTax["12"].vat|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-12&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':12,'tax':entity.id}) }}" id="postView-12"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span2">Import</td>
                                        <td class="text-center span1">13</td>
                                        <td class="text-right span1">
                                            {% if inputTax["13"] is defined and  inputTax["13"] is not empty %}{{ inputTax["13"].subTotal|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            {% if inputTax["13"] is defined and inputTax["13"] is not empty %}{{ inputTax["13"].vat|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1"> <a href="?process=postView-13&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':13,'tax':entity.id}) }}" id="postView-13"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span6" rowspan="2">Standard Rated Goods/Service</td>
                                        <td class="text-left span2">Local Purchase</td>
                                        <td class="text-center span1">14</td>
                                        <td class="text-right span1">
                                            {% if inputTax["14"] is defined and  inputTax["14"] is not empty %}{{ inputTax["14"].subTotal|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            {% if inputTax["14"] is defined and inputTax["14"] is not empty %}{{ inputTax["14"].vat|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-14&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':14,'tax':entity.id}) }}" id="postView-14"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span2">Import</td>
                                        <td class="text-center span1">15</td>
                                        <td class="text-right span1">
                                            {% if inputTax["15"] is defined and  inputTax["15"] is not empty %}{{ inputTax["15"].subTotal|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            {% if inputTax["15"] is defined and inputTax["15"] is not empty %}{{ inputTax["15"].vat|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-15&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':15,'tax':entity.id}) }}" id="postView-15"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span6" rowspan="2">Goods/Service Other than Standard Rate</td>
                                        <td class="text-left span2">Local Purchase</td>
                                        <td class="text-center span1">16</td>
                                        <td class="text-right span1">
                                            {% if inputTax["16"] is defined and  inputTax["16"] is not empty %}{{ inputTax["16"].subTotal|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            {% if inputTax["16"] is defined and inputTax["16"] is not empty %}{{ inputTax["16"].vat|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-16&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':16,'tax':entity.id}) }}" id="postView-16"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span2">Import</td>
                                        <td class="text-center span1">17</td>
                                        <td class="text-right span1">
                                            {% if inputTax["17"] is defined and  inputTax["17"] is not empty %}{{ inputTax["17"].subTotal|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            {% if inputTax["17"] is defined and inputTax["17"] is not empty %}{{ inputTax["17"].vat|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1"> <a href="?process=postView-17&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':17,'tax':entity.id}) }}" id="postView-17"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span6">Goods/Service Based on Specific VAT</td>
                                        <td class="text-left span2">Local Purchase</td>
                                        <td class="text-center span1">18</td>
                                        <td class="text-right span1">
                                            {% if inputTax["18"] is defined and  inputTax["18"] is not empty %}{{ inputTax["18"].subTotal|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            {% if inputTax["18"] is defined and inputTax["18"] is not empty %}{{ inputTax["18"].vat|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-18&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':18,'tax':entity.id}) }}" id="postView-18"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <div class="clearfix"></div>
                                    <tr>
                                        <td class="text-left span2" rowspan="2">Goods/Service Not Admissible for Credit (Local Purchase)</td>
                                        <td class="text-left span2">From Turnover Tax
                                            Units</td>
                                        <td class="text-center span1">19</td>
                                        <td class="text-right span1">{% if inputTax['note1-zero-rated'] is defined and inputTax['note1-zero-rated'].subTotal is not empty %}{{ inputTax['note1-zero-rated'].subTotal|number_format(2) }}{% endif %}</td>
                                        <td class="text-right span1">0</td>
                                        <td class="text-right span1"> <a href="?process=postView-19&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':19,'tax':entity.id}) }}" id="postView-19"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span2">From Unregistered
                                            Entities</td>
                                        <td class="text-center span1">20</td>
                                        <td class="text-right span1">{% if inputTax["20"] is defined and inputTax["20"].subTotal is not empty %}{{ inputTax["20"].subTotal|number_format(2) }}{% endif %}</td>
                                        <td class="text-right span1">0</td>
                                        <td class="text-right span1"> <a href="?process=postView-20&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':20,'tax':entity.id}) }}" id="postView-20"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span6" rowspan="2">Goods/Service Not
                                            Admissible for Credit
                                            (Taxpayers who sell only
                                            Exempted/Specific VAT and
                                            Goods/Service Other than
                                            Standard Rate/ Credits not
                                            taken within stipulated time)</td>
                                        <td class="text-left span2">Local Purchase</td>
                                        <td class="text-center span1">21</td>
                                        <td class="text-right span1">{% if inputTax["21"] is defined and inputTax["21"].subTotal is not empty %}{{ inputTax["21"].subTotal|number_format(2) }}{% endif %}</td>
                                        <td class="text-right span1"></td>
                                        <td class="text-right span1"> <a href="?process=postView-21&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':21,'tax':entity.id}) }}" id="postView-21"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span2">Import</td>
                                        <td class="text-center span1">22</td>
                                        <td class="text-right span1">
                                            {% if inputTax["22"] is defined and  inputTax["22"] is not empty %}{{ inputTax["22"].subTotal|number_format(2) }} {% endif %}
                                        </td>
                                        <td class="text-right span1"></td>
                                        <td class="text-right span1"> <a href="?process=postView-22&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_input',{'id':22,'tax':entity.id}) }}" id="postView-22"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a></td>
                                    </tr>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th class="text-left span6" colspan="2">Total Input Tax Credit</th>
                                        <th class="text-center span1">23</th>
                                        <th class="text-right span1">{{ entity.inputValue|number_format(2) }}</th>
                                        <th class="text-right span1">{{ entity.inputVat|number_format(2) }}</th>
                                        <td class="text-right span1"></td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Part-5: INCREASING ADJUSTMENTS (VAT)</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="text-left span8">Adjustment Details</th>
                                        <th class="text-center span1">Note</th>
                                        <th class="text-right span2">VAT Amount</th>
                                        <th class="text-right span1">Sub-Form</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set incVds = 0 %}
                                    {% set incAdjBank = 0 %}
                                    {% set incDebNote = 0 %}
                                    {% set incAdjOthers = 0 %}
                                    {% set totalIncresingSectionAdjustment = 0 %}

                                    {% if totalVds['purchase'] is defined and totalVds['purchase'] is not empty %}
                                        {% set incVds = totalVds['purchase'].amount %}
                                    {% endif %}
                                    {% if totalAdjustmentBankingChannel is not empty %}
                                        {% set incAdjBank = totalAdjustmentBankingChannel.amount %}
                                    {% endif %}
                                    {% if totalDebitNote is not empty %}
                                        {% set incDebNote =  totalDebitNote.vat %}
                                    {% endif %}
                                    {% if totalAdjustment['increasing-adjutment'] is defined and totalAdjustment['increasing-adjutment'] is not empty %}
                                        {% set incAdjOthers = totalAdjustment['increasing-adjutment'].amount %}
                                    {% endif %}

                                    <tr>
                                        <td class="text-left span8">Due to VAT Deducted at Source by   supply receiver</td>
                                        <td class="text-center span1">24</td>
                                        <td class="text-right span1">{{ incVds|number_format(2) }}</td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-24&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_vds',{'id':entity.id,'mode':'purchase'}) }}" id="postView-24"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Payment Not Made Through Banking Channel</td>
                                        <td class="text-center span1">25</td>
                                        <td class="text-right span2">{{ incAdjBank|number_format(2) }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Issuance of Debit Note</td>
                                        <td class="text-center span1">26</td>
                                        <td class="text-right span1">{{ incDebNote|number_format(2) }}</td>
                                        <td class="text-right span1"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">
                                            Any Other Adjustments (please specify below)
                                            <br/>
                                            <ul>
                                            {% if increasingAdjustmentParticular is not empty %}
                                                {% for increasing in increasingAdjustmentParticular %}
                                                    <li>{{ increasing.particular }}</li>
                                                {% endfor %}
                                            {% endif %}
                                             </ul>
                                        </td>
                                        <td class="text-center span1">27</td>
                                        <td class="text-right span2">
                                         {% if totalAdjustment['increasing-adjutment'] is defined and totalAdjustment['increasing-adjutment'] is not empty %} {{ incAdjOthers|number_format(2) }} {% endif %}</td><td></td>

                                    </tr>
                                    <tr>
                                        <th class="text-left span8">Total Increasing Adjustment</th>
                                        <td class="text-center span1">28</td>
                                        <th class="text-right span2">
                                            {{ entity.incresingAdjustmentPart5|number_format(2) }}
                                        </th>
                                        <td></td>

                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Part-6: DECREASING ADJUSTMENTS (VAT)</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                    {% set decVds = 0 %}
                                    {% set decAdjAt = 0 %}
                                    {% set decCreNote = 0 %}
                                    {% set decAdjOthers = 0 %}
                                    {% set totalDereasingSectionAdjustment = 0 %}

                                    <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="text-left span8">Adjustment Details</th>
                                        <th class="text-center span1">Note</th>
                                        <th class="text-right span2">VAT Amount</th>
                                        <th class="text-right span1">Sub-Form</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if totalVds['sales'] is defined and totalVds['sales'] is not empty %}
                                        {% set decVds = totalVds['sales'].amount %}
                                    {% endif %}
                                    {% if totalDebitNote is not empty %}
                                        {% set decCreNote =  totalCreditNote.vat %}
                                    {% endif %}
                                    {% if totalAdjustment['decreasing-adjutment'] is defined and totalAdjustment['decreasing-adjutment'] is not empty %}
                                        {% set decAdjOthers = totalAdjustment['decreasing-adjutment'].amount %}
                                    {% endif %}
                                    <tr>
                                        <td class="text-left span8">Due to VAT Deducted at Source from the supplies delivered</td>
                                        <td class="text-center span1">29</td>
                                        <td class="text-right span1">{{ decVds|number_format(2) }}</td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-29&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_vds',{'id':entity.id,'mode':'sales'}) }}" id="postView-29"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Advance Tax Paid at Import Stage</td>
                                        <td class="text-center span1">30</td>
                                        <td class="text-right span2">{{ entity.advanceTaxImportVatPart7|number_format(2) }}</td>
                                        <td class="text-right span1">
                                                <a href="?process=postView-30&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_at_vat',{'id':entity.id}) }}" id="postView-30"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Issuance of Credit Note</td>
                                        <td class="text-center span1">31</td>
                                        <td class="text-right span1">{{ decCreNote|number_format(2) }}</td>
                                        <td class="text-right span1"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">
                                            Any Other Adjustments (please specify below)
                                            <br/>
                                            <ul>
                                                {% if decreasingAdjustmentParticular is not empty %}
                                                    {% for decreasing in decreasingAdjustmentParticular %}
                                                        <li>{{ decreasing.particular }}</li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </td>
                                        <td class="text-center span1">32</td>
                                        <td class="text-right span2">{{ decAdjOthers|number_format(2) }}</td><td></td>

                                    </tr>
                                    <tr>
                                        <th class="text-left span8">Total Decreasing Adjustment</th>
                                        <td class="text-center span1">33</td>
                                        <th class="text-right span2">
                                            {{ entity.decresingAdjustmentPart6|number_format(2) }}
                                        </th>
                                        <td class="text-right span2"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Part-7: NET TAX CALCULATION</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="text-left span8">Items</th>
                                        <th class="text-center span1">Note</th>
                                        <th class="text-right span2">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-left span8">Net Payable VAT for the Tax Period (Section- 45)
                                            ( 9C-23B+28-33)</td>
                                        <td class="text-center span1">34</td>
                                        <td class="text-right span1">
                                            {{ entity.netPayableVatPart7|number_format(2) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Net Payable VAT for the Tax Period after Adjustment with Closing Balance and balance of form 18.6 [34-(52+56)]</td>
                                        <td class="text-center span1">35</td>
                                        <td class="text-right span1">
                                            {{ entity.netPayableVatAdjustmentPart7|number_format(2) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Net Payable Supplementary Duty for the Tax Period (Before adjustment with Closing Balance) [9B+38-(39+40)]</td>
                                        <td class="text-center span1">36</td>
                                        <td class="text-right span1">
                                            {{ entity.netPayableSdBeforePart7|number_format(2) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Net Payable Supplementary Duty for the Tax Period after Adjusted with Closing Balance and balance of form 18.6
                                            [36-(53+57)]</td>
                                        <td class="text-center span1">37</td>
                                        <td class="text-right span1">
                                            {{ entity.netPayableSdAfterPart7|number_format(2) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Supplementary Duty Against Issuance of Debit Note</td>
                                        <td class="text-center span1">38</td>
                                        <td class="text-right span1"> {{ entity.sdAgainstDebitNotePart7|number_format(2) }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Supplementary Duty Against Issuance of Credit Note</td>
                                        <td class="text-center span1">39</td>
                                        <td class="text-right span1"> {{ entity.sdAgainstCreditNotePart7|number_format(2) }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Supplementary Duty Paid on Inputs Against Exports</td>
                                        <td class="text-center span1">40</td>
                                        <td class="text-right span1">
                                            {{ entity.sdAgainstExportPart7|number_format(2) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Interest on Overdue VAT (Based on note 35)</td>
                                        <td class="text-center span1">41</td>
                                        <td class="text-right span1">
                                            {% if netTaxPayable['part-7-interest-on-overdue-vat-based-on-note-35'] is defined and netTaxPayable['part-7-interest-on-overdue-vat-based-on-note-35'] is not empty %}  {{ netTaxPayable['part-7-interest-on-overdue-vat-based-on-note-35'].amount }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Interest on Overdue SD (Based on note 37)</td>
                                        <td class="text-center span1">42</td>
                                        <td class="text-right span1">
                                            {% if netTaxPayable['part-7-interest-on-overdue-sd-based-on-note-37'] is defined and  netTaxPayable['part-7-interest-on-overdue-sd-based-on-note-37'] is not empty %}  {{ netTaxPayable['part-7-interest-on-overdue-sd-based-on-note-37'].amount }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Fine/Penalty for Non-submission of Return</td>
                                        <td class="text-center span1">43</td>
                                        <td class="text-right span1">
                                            {% if netTaxPayable['part-7-fine-penalty-for-non-submission-of-return'] is defined and  netTaxPayable['part-7-fine-penalty-for-non-submission-of-return'] is not empty %}  {{ netTaxPayable['part-7-fine-penalty-for-non-submission-of-return'].amount }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Other Fine/Penalty/Interest</td>
                                        <td class="text-center span1">44</td>
                                        <td class="text-right span1">
                                            {% if netTaxPayable['part-7-other-fine-penalty-interest'] is defined and netTaxPayable['part-7-other-fine-penalty-interest'] is not empty %}  {{ netTaxPayable['part-7-other-fine-penalty-interest'].amount }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Payable Excise Duty</td>
                                        <td class="text-center span1">45</td>
                                        <td class="text-right span1">
                                            {% if netTaxPayable['part-7-payable-excise-duty'] is defined and netTaxPayable['part-7-payable-excise-duty'] is not empty %}  {{ netTaxPayable['part-7-payable-excise-duty'].amount }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Payable Development Surcharge</td>
                                        <td class="text-center span1">46</td>
                                        <td class="text-right span1">
                                            {% if netTaxPayable['part-7-payable-development-surcharge'] is defined and netTaxPayable['part-7-payable-development-surcharge'] is not empty %}  {{ netTaxPayable['part-7-payable-development-surcharge'].amount }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Payable ICT Development Surcharge</td>
                                        <td class="text-center span1">47</td>
                                        <td class="text-right span1">
                                            {% if netTaxPayable['part-7-payable-ict-development-surcharge'] is defined and  netTaxPayable['part-7-payable-ict-development-surcharge'] is not empty %}  {{ netTaxPayable['part-7-payable-ict-development-surcharge'].amount }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Payable Health Care Surcharge</td>
                                        <td class="text-center span1">48</td>
                                        <td class="text-right span1">
                                            {% if netTaxPayable['part-7-payable-health-care-surcharge'] is defined and  netTaxPayable['part-7-payable-health-care-surcharge'] is not empty %}  {{ netTaxPayable['part-7-payable-health-care-surcharge'].amount }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Payable Environmental Protection Surcharge</td>
                                        <td class="text-center span1">49</td>
                                        <td class="text-right span1">
                                            {% if netTaxPayable['part-7-payable-environmental-protection-surcharge'] is defined and netTaxPayable['part-7-payable-environmental-protection-surcharge'] is not empty %}  {{ netTaxPayable['part-7-payable-environmental-protection-surcharge'].amount }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Net payable VAT for treasury deposit ( 35+41+43+44)</td>
                                        <td class="text-center span1">50</td>
                                        <td class="text-right span1">
                                            {{ entity.netPayableVatTreasuryPart7|number_format(2) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Net payable SD for treasury deposit ( 37+42)</td>
                                        <td class="text-center span1">51</td>
                                        <td class="text-right span1"> {{ entity.netPayableSdTreasuryPart7|number_format(2) }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Closing Balance of Last Tax Period (VAT)</td>
                                        <td class="text-center span1">52</td>
                                        <td class="text-right span1">{{ entity.lastTaxPeriodVatPart7|number_format(2) }}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Closing Balance of Last Tax Period (SD)</td>
                                        <td class="text-center span1">53</td>
                                        <td class="text-right span1">{{ entity.lastTaxPeriodSdPart7|number_format(2) }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Part-8: ADJUSTMENT FOR OLD ACCOUNT CURRENT BALANCE</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="text-left span8">Items</th>
                                        <th class="text-center span1">Note</th>
                                        <th class="text-right span2">Amount</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-left span8">Remaining Balance (VAT) from Mushak-18.6, [ Rule 118(5)]</td>
                                        <td class="text-center span1">54</td>
                                        <td class="text-right span3">{{ entity.oldRemainingVatBalancePart8|number_format(2) }}</td>

                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Remaining Balance (SD) from Mushak-18.6, [ Rule 118(5)]</td>
                                        <td class="text-center span1">55</td>
                                        <td class="text-right span3">{{ entity.oldRemainingSDBalancePart8|number_format(2) }}</td>

                                    </tr>
                                     <tr>
                                        <td class="text-left span8">Decreasing Adjustment for Note 54 (up to 10% of Note 34)</td>
                                        <td class="text-center span1">56</td>
                                        <td class="text-right span3">
                                            {{ entity.oldDecresingAdjustmentVatPart8|number_format(2) }}
                                        </td>

                                    </tr>
                                     <tr>
                                        <td class="text-left span8">Decreasing Adjustment for Note 55 (up to 10% of Note 36)</td>
                                        <td class="text-center span1">57</td>
                                        <td class="text-right span3">
                                            {{ entity.oldDecresingAdjustmentSdPart8|number_format(2) }}
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Part-9: ACCOUNTS CODE WISE PAYMENT SCHEDULE (TREASURY DEPOSIT)</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="text-left span6">Items</th>
                                        <th class="text-center span1">Note</th>
                                        <th class="text-right span3">Account Code</th>
                                        <th class="text-right span1">Amount</th>
                                        <th class="text-right span1">Sub-Form</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-left span6">VAT Deposit for the Current Tax Period</td>
                                        <td class="text-center span1">58</td>
                                        <td class="text-left span3">
                                            {% if bankTreasury['part-1-vat-deposit-for-the-current-tax-period'] is defined and  bankTreasury['part-1-vat-deposit-for-the-current-tax-period'] is not empty %}
                                                {{ bankTreasury['part-1-vat-deposit-for-the-current-tax-period'].accountCode }}{% endif %}
                                        </td>
                                        <td class="text-center span1">
                                            {% if bankTreasury['part-1-vat-deposit-for-the-current-tax-period'] is defined and  bankTreasury['part-1-vat-deposit-for-the-current-tax-period'] is not empty %}
                                                {{ bankTreasury['part-1-vat-deposit-for-the-current-tax-period'].amount }}{% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-58&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_deposite_treasury',{'id':'part-1-vat-deposit-for-the-current-tax-period','tax':entity.id}) }}" id="postView-58"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="text-left span6">SD Deposit for the Current Tax Period</td>
                                        <td class="text-center span1">59</td>
                                        <td class="text-left span3">
                                            {% if bankTreasury['part-1-sd-deposit-for-the-current-tax-period'] is defined and  bankTreasury['part-1-sd-deposit-for-the-current-tax-period'] is not empty %}
                                                {{ bankTreasury['part-1-sd-deposit-for-the-current-tax-period'].accountCode }}{% endif %}
                                        </td>
                                        <td class="text-center span1">
                                            {% if bankTreasury['part-1-sd-deposit-for-the-current-tax-period'] is defined and  bankTreasury['part-1-sd-deposit-for-the-current-tax-period'] is not empty %}
                                                {{ bankTreasury['part-1-sd-deposit-for-the-current-tax-period'].amount }}{% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-59&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_deposite_treasury',{'id':'part-1-sd-deposit-for-the-current-tax-period','tax':entity.id}) }}" id="postView-59"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="text-left span6">Excise Duty</td>
                                        <td class="text-center span1">60</td>
                                        <td class="text-left span3">
                                            {% if bankTreasury['part-1-excise-duty'] is defined and  bankTreasury['part-1-excise-duty'] is not empty %}
                                                {{ bankTreasury['part-1-excise-duty'].accountCode }}{% endif %}
                                        </td>
                                        <td class="text-center span1">
                                            {% if bankTreasury['part-1-excise-duty'] is defined and  bankTreasury['part-1-excise-duty'] is not empty %}
                                                {{ bankTreasury['part-1-excise-duty'].amount }}{% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-60&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_deposite_treasury',{'id':'part-1-excise-duty','tax':entity.id}) }}" id="postView-60"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="text-left span6">Development Surcharge</td>
                                        <td class="text-center span1">61</td>
                                        <td class="text-left span3">
                                            {% if bankTreasury['part-1-development-surcharge'] is defined and  bankTreasury['part-1-development-surcharge'] is not empty %}
                                                {{ bankTreasury['part-1-development-surcharge'].accountCode }}{% endif %}
                                        </td>
                                        <td class="text-center span1">
                                            {% if bankTreasury['part-1-development-surcharge'] is defined and  bankTreasury['part-1-development-surcharge'] is not empty %}
                                                {{ bankTreasury['part-1-development-surcharge'].amount }}{% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-61&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_deposite_treasury',{'id':'part-1-development-surcharge','tax':entity.id}) }}" id="postView-61"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="text-left span6">ICT Development Surcharge</td>
                                        <td class="text-center span1">62</td>
                                        <td class="text-left span3">
                                            {% if bankTreasury['part-1-ict-development-surcharge'] is defined and  bankTreasury['part-1-ict-development-surcharge'] is not empty %}
                                                {{ bankTreasury['part-1-ict-development-surcharge'].accountCode }}{% endif %}
                                        </td>
                                        <td class="text-center span1">
                                            {% if bankTreasury['part-1-ict-development-surcharge'] is defined and  bankTreasury['part-1-ict-development-surcharge'] is not empty %}
                                                {{ bankTreasury['part-1-ict-development-surcharge'].amount }}{% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-62&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_deposite_treasury',{'id':'part-1-ict-development-surcharge','tax':entity.id}) }}" id="postView-62"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="text-left span6">Health Care Surcharge</td>
                                        <td class="text-center span1">63</td>
                                        <td class="text-left span3">
                                            {% if bankTreasury['part-1-health-care-surcharge'] is defined and  bankTreasury['part-1-health-care-surcharge'] is not empty %}
                                                {{ bankTreasury['part-1-health-care-surcharge'].accountCode }}{% endif %}
                                        </td>
                                        <td class="text-center span1">
                                            {% if bankTreasury['part-1-health-care-surcharge'] is defined and  bankTreasury['part-1-health-care-surcharge'] is not empty %}
                                                {{ bankTreasury['part-1-health-care-surcharge'].amount }}{% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-63&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_deposite_treasury',{'id':'part-1-health-care-surcharge','tax':entity.id}) }}" id="postView-63"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td class="text-left span6">Environmental Protection Surcharge</td>
                                        <td class="text-center span1">64</td>
                                        <td class="text-left span3">
                                            {% if bankTreasury['part-1-environmental-protection-surcharge'] is defined and  bankTreasury['part-1-environmental-protection-surcharge'] is not empty %}
                                                {{ bankTreasury['part-1-environmental-protection-surcharge'].accountCode }}{% endif %}
                                        </td>
                                        <td class="text-center span1">
                                            {% if bankTreasury['part-1-environmental-protection-surcharge'] is defined and  bankTreasury['part-1-environmental-protection-surcharge'] is not empty %}
                                                {{ bankTreasury['part-1-environmental-protection-surcharge'].amount }}{% endif %}
                                        </td>
                                        <td class="text-right span1">
                                            <a href="?process=postView-64&check=show#modal" data-action="{{ path('nbrvat_taxreturn_subform_deposite_treasury',{'id':'part-1-environmental-protection-surcharge','tax':entity.id}) }}" id="postView-64"  class="btn btn-mini green-bg white-font" > <i class="fa fa-eye"></i> Sub-Form</a>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Part-10: CLOSING BALANCE</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="text-left span8">Items</th>
                                        <th class="text-center span1">Note</th>
                                        <th class="text-right span2">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-left span8">Closing Balance (VAT) [58 - (50 + 67) + The refund amount not approved]</td>
                                        <td class="text-center span1">65</td>
                                        <td class="text-right span1">
                                            {{ entity.closingBalanceVatPart10|number_format(2) }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span8">Closing Balance (SD) [59 - (51 + 68) + The refund amount not approved]</td>
                                        <td class="text-center span1">66</td>
                                        <td class="text-right span1">
                                            {{ entity.closingBalanceSdPart10|number_format(2) }}
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Part-11:REFUND</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                    <tbody>
                                    <tr>
                                        <th class="text-left span6" rowspan="3">I am interested to get refund of my Closing Balance</th>
                                        <th class="text-left span3">Item</th>
                                        <th class="text-center span1">Note</th>
                                        <th class="text-right span2">
                                            <div class="row">
                                                <div class="col-md-6"> <input type="radio" name="isRefund" value="1" {% if entity.isRefund  == 1 %} checked="checked" {% endif %} class="action"> Yes</div>
                                                <div class="col-md-6"> <input type="radio" name="isRefund" value="0" {% if entity.isRefund  == 0 %} checked="checked" {% endif %} class="action">No</div>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="text-left span3">Requested Amount for
                                            Refund (VAT)</td>
                                        <td class="text-center span1">67</td>
                                        <td class="text-right span2">
                                            {% if entity.isRefund == 1 %}
                                                {{ form_widget(form.refundVatPart11) }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-left span3">Requested Amount for
                                            Refund (SD)</td>
                                        <td class="text-center span1">68</td>
                                        <td class="text-right span2">
                                            {% if entity.isRefund == 1 %}
                                                {{ form_widget(form.refundSdPart11) }}
                                            {% endif %}
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Part-12: DECLARATION</h5>
                                </div>
                                <div class="clearfix"><br/></div>
                                <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                    <tbody>
                                    <tr>
                                        <th class="text-left span6">Name</th>
                                        <td class="text-center span1">:</td>
                                        <td class="text-left span5"> {{ form_widget(form.signaturePerson) }}
                                            {{ form_errors(form.signaturePerson) }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left span6">Designation</th>
                                        <td class="text-center span1">:</td>
                                        <td class="text-left span5">{{ form_widget(form.signatureDesignation) }}
                                            {{ form_errors(form.signatureDesignation) }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left span6"> Mobile Number</th>
                                        <td class="text-center span1">:</td>
                                        <td class="text-left span5">{{ form_widget(form.signatureMobile) }}
                                            {{ form_errors(form.signatureMobile) }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left span6">National ID/Passport Number</th>
                                        <td class="text-center span1">:</td>
                                        <td class="text-left span5">{{ form_widget(form.signatureNid) }}
                                            {{ form_errors(form.signatureNid) }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left span6">Email</th>
                                        <td class="text-center span1">:</td>
                                        <td class="text-left span5">{{ form_widget(form.signatureEmail) }}
                                            {{ form_errors(form.signatureEmail) }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-left span6">Signature<br/>
                                            [Not required for electronic submission]</th>
                                        <td class="text-center span1">:</td>
                                        <td class="text-right span5"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix"></div>
                                {% endif %}
                                <div class="clearfix"></div>
                                <div class="form-actions right">
                                    <div class="col-md-12">
                                        <div class="btn-group" role="group">
                                            <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'SaveAndCreate', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/nbrvat/taxreturn/scripts.js') }}"></script>
{% endblock  %}