
<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-th-large"></i>
           {{ post.noteNo }}-{{ post.name }}
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead class="thead-dark">
                        <tr>
                            <th><i class="feather icon-list"></i> Serial No.</th>
                            <th>Goods / Service</th>
                            <th>Goods/Service Code</th>
                            <th> Goods / Service Commercial Description</th>
                            <th>Value(a)</th>
                            <th>SD(b)</th>
                            <th>VAT(c)</th>
                            <th>Remark</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% set totalSd = 0 %}
                        {% set totalVat = 0 %}
                        {% if subForm is not empty %}
                            {% for entity in subForm %}
                                {% set total = total + entity.subTotal  %}
                                {% set totalSd = totalSd + entity.sd %}
                                {% set totalVat = totalVat + entity.vat %}
                                <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.hsName }}</td>
                                <td>{{ entity.hsCode }}</td>
                                <td>{{ entity.itemName }}</td>
                                <td>{{ entity.subTotal|number_format(2) }}</td>
                                <td>{{ entity.sd|number_format(2) }}</td>
                                <td>{{ entity.vat|number_format(2) }}</td>
                                <td>{{ entity.narration }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr><th colspan="4">Total</th><th>{{ total|number_format(2) }}</th><th>{{ totalSd|number_format(2) }}</th><th>{{ totalVat|number_format(2) }}</th><td></td></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
