
<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-th-large"></i>
           {{ post.noteNo }}-{{ post.name }}
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead class="thead-dark">
                        <tr>
                            <th><i class="feather icon-list"></i> Serial No.</th>
                            <th>Treasury Challan Number</th>
                            <th>Bank</th>
                            <th>Branch</th>
                            <th>Date</th>
                            <th>Tax Deposit Account Code</th>
                            <th>Amount</th>
                            <th>Remark</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% set totalSd = 0 %}
                        {% set totalVat = 0 %}
                        {% if subForm is not empty %}
                            {% for entity in subForm %}
                                {% set total = total + entity.amount  %}
                                <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.treasuryChallanNo }}</td>
                                <td>{{ entity.bank.name }}</td>
                                <td>{{ entity.bankBranch }}</td>
                                <td>{{ entity.updated|date('d-m-Y') }}</td>
                                <td>{{ entity.treasuaryCode.name }}</td>
                                <td>{{ entity.amount|number_format(2) }}</td>
                                <td>{{ entity.remark }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr><th colspan="6" class="text-right">Total</th><th>{{ total|number_format(2) }}</th><td></td></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
