
<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-th-large"></i>

        </div>
    </div>
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead class="thead-dark">
                        <tr>
                            <th><i class="feather icon-list"></i> Serial No.</th>
                            <th>Supplier’s BIN</th>
                            <th>Supplier’s Name</th>
                            <th>Supplier’s Address</th>
                            <th>Value</th>
                            <th>Deducted VAT</th>
                            <th>Invoice No./Challan / Bill No. etc.)</th>
                            <th>Invoice/Challan/ Bill Date</th>
                            <th>VAT Deduction at source, Certificate No</th>
                            <th>VAT Deduction at source, Certificate date</th>
                            <th>Tax deposit Account Code</th>
                            <th>Tax deposit serial number of Book transfer</th>
                            <th>Tax deposit date</th>
                            <th>Notes</th>
                            <th>Remark</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set total = 0 %}
                        {% set totalSd = 0 %}
                        {% set totalVat = 0 %}
                        {% if subForm is not empty %}
                            {% for entity in subForm %}
                                {% set total = total + entity.vdsTotal  %}
                                {% set totalVat = totalVat + entity.amount %}
                                <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.companyName }}</td>
                                <td>{{ entity.address }}</td>
                                <td>{% if entity.binNo is not empty %}{{ entity.binNo }}{% else %} {{ entity.nid }}{% endif %}</td>
                                <td>{{ entity.vdsTotal|number_format(2) }}</td>
                                <td>{{ entity.amount|number_format(2) }}</td>
                                <td>{{ entity.challanNo }}</td>
                                <td>{{ entity.challanDate|date('d-m-Y') }}</td>
                                <td>{{ entity.invoice }}</td>
                                <td>{{ entity.created|date('d-m-Y') }}</td>
                                <td></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr><th colspan="4">Total</th><th>{{ total|number_format(2) }}</th><th>{{ totalVat|number_format(2) }}</th><td></td></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
