{% extends 'print/report-base.html.twig' %}

{% block report_header %}
    <table class="table" >
        <colgroup>
            <col style=" width: 20%;">
            <col style=" width: 60%;">
            <col style=" width: 20%;">
        </colgroup>
        <tbody>
        <tr valign="top">
            <td><img class="nbr-logo"  src="{{ asset('assets/images/nbr.png') }}"></td>
            <td style="vertical-align: middle">
                <div class="style_16" style=" text-align:center;">গণপ্রজাতন্ত্রী বাংলাদেশ সরকার</div>
                <div class="style_17" id="AUTOGENBOOKMARK_3_e6f87220-df2a-4b91-aa02-53e3300828d4" style=" text-align:center; vertical-align: middle">জাতীয় রাজস্ব বোর্ড ,&nbsp; ঢাকা</div>
            </td>
            <td class="musuk-name"><span>মূসক - ৬.৮</span></td>
        </tr>
        </tbody>
    </table>
    <table class="table" >
        <colgroup><col style=" width: 25%;">
            <col style=" width: 30%;">
            <col style=" width: 20%;">
            <col style=" width: 25%;">
        </colgroup>
        <tbody>
        <tr valign="top">
            <td>
                <div class="style_19 text-center"><strong> ডেবিট নোট </strong></div>
            </td>
        </tr>
        <tr valign="top">
            <td>
                <div id="AUTOGENBOOKMARK_6_c175b133-46fb-4e50-b04b-084fd9bb85cf" style=" text-align:center;"> [বিধি ৪০ এর উপবিধি  (১) এর দফা (ছ) দ্রষ্টব্য]</div>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table" >
        <colgroup><col style=" width: 25%;">
            <col style=" width: 30%;">
            <col style=" width: 20%;">
            <col style=" width: 25%;">
        </colgroup><tbody>
        <tr valign="top">
            <td><br/><br/></td>

        </tr>
        <tr valign="top">
            <td>
                <div> ফেরত প্রদানকারী ব্যাক্তির -  </div>
            </td>
            <td></td>
            <td> <div>ফেরত গ্রহনকারী ব্যাক্তির - </div></td>
            <td></td>
        </tr>
        <tr valign="top">
            <td>
                <div> নাম :</div>
            </td>
            <td>{{ domain.organizationName }}</td>
            <td> নাম :</td>
            <td>{{ post.purchase.vendor.companyName }}</td>
        </tr>
        <tr valign="top">
            <td>
                <div >বিআইএন: </div>
            </td>
            <td>
                {% if  domain.binNo is not empty %}{{ domain.binNo|bn_number }} {% else %} {{  domain.nid }} {% endif %}
            </td>
            <td> <div>বিআইএন: </div></td>
            <td>
                {% if  post.purchase.vendor.binNo is not empty %}{{ post.purchase.vendor.binNo|bn_number }} {% else %} {{  post.purchase.vendor.nid }} {% endif %}
            </td>
        </tr>
        <tr valign="top">
            <td>
                <div>মূল চালান নম্বর:</div>
            </td>
            <td>
                <div>{{  post.purchase.invoice }}</div>
            </td>
            <td>ডেবিট নোট নম্বর: </td>
            <td>{{ post.invoice }}</td>
        </tr>
        <tr valign="top">
            <td>
                মূল চালান ইস্যুর তারিখ :
            </td>
            <td>
                <div>{{ post.purchase.receiveDate|date('d-m-Y')|bn_number }}</div>
            </td>
            <td>ইস্যুর তারিখ :</td>
            <td> <div>{{ post.receiveDate|date('d-m-Y')|bn_number }}</div></td>
        </tr>
        <tr valign="top">
            <td></td>
            <td></td>
            <td>ইস্যুর সময় : </td>
            <td> <div>{{ post.receiveTime|bn_number }}</div></td>
        </tr>
        <tr valign="top"><td><br/></td></tr>
        <tr><td colspan="4" class="text-center"><strong>সরবরাহের বিবরন </strong></td></tr>
        </tbody>
    </table>

{% endblock %}

{% block report_body %}
    <table class="table-body table"  id="__bookmark_2">
        <colgroup><col style=" width: 7%;">
            <col style=" width: 30%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 18%;">
        </colgroup>
        <tbody>
        <tr class="style_24" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div  style=" text-align:center;">ক্রমিক সংখ্যা</div>
            </th>
            <th class="table-body-td" align="left">
                <div> ফেরতপ্রাপ্ত সরবরাহের বিবরন </div>
            </th>
            <th class="table-body-td" align="left">
                <div> সরবরাহের একক  </div>
            </th>
            <th class="table-body-td" align="left">
                <div id="AUTOGENBOOKMARK_17_d8bf0063-bc25-4c97-b311-5d079c204552" style=" text-align:center;"> পরিমাণ</div>
            </th>
            <th class="table-body-td" align="left">
                <div id="AUTOGENBOOKMARK_18_e362de33-8171-4c7d-8451-ce0f7dd9fec3" style=" text-align:center;"> একক মূল্য <sup>১</sup> (টাকায়) </div>
            </th>
            <th class="table-body-td" align="left">
                <div id="AUTOGENBOOKMARK_19_19659a44-f4e3-473b-9833-d649f69f4da3" style=" text-align:center;"> মোট মূল্য (টাকায়) </div>
            </th>
        </tr>
        <tr class="style_24" valign="top" align="center">
            <th class="table-body-td" align="left">
                <div id="AUTOGENBOOKMARK_21_01bd0593-b9f3-44e3-9559-c7745c09c819" style=" text-align:center;">(১)</div>
            </th>
            <th class="table-body-td" align="left">
                <div id="AUTOGENBOOKMARK_22_33c77132-a4d9-4683-835b-6b766377364d" style=" text-align:center;">(২)</div>
            </th>
            <th class="table-body-td" align="left">
                <div id="AUTOGENBOOKMARK_23_71c51ab4-a8d1-4ccc-9d5c-20b1bae1332b" style=" text-align:center;">(৩)</div>
            </th>
            <th class="table-body-td" align="left">
                <div id="AUTOGENBOOKMARK_24_1cd33f8c-a62d-4969-94ad-20b65dd8e1a1" style=" text-align:center;">(৪)</div>
            </th>
            <th class="table-body-td" align="left">
                <div id="AUTOGENBOOKMARK_25_bd7a9c05-b9fc-400a-be4d-85a53f94e134" style=" text-align:center;">(৫)</div>
            </th>
            <th class="table-body-td" align="left">
                <div id="AUTOGENBOOKMARK_25_bd7a9c05-b9fc-400a-be4d-85a53f94e134" style=" text-align:center;">(৬)</div>
            </th>
        </tr>
        {% if post.returnItems is defined and post.returnItems is not empty %}
            {% for item in post.returnItems %}
                <tr class="" valign="top" align="center">
                    <td class="table-body-td" align="left">
                        <div id="AUTOGENBOOKMARK_21_01bd0593-b9f3-44e3-9559-c7745c09c819" style=" text-align:center;">({{ loop.index|bn_number }})</div>
                    </td>
                    <td class="table-body-td" align="left">
                        <div id="AUTOGENBOOKMARK_22_33c77132-a4d9-4683-835b-6b766377364d" style=" text-align:center;">
                            {{ item.item.name }}</div>
                    </td>
                    <td class="table-body-td" align="left">
                        <div id="AUTOGENBOOKMARK_22_33c77132-a4d9-4683-835b-6b766377364d" style=" text-align:center;">
                            {{ item.item.unit.name }}</div>
                    </td>
                    <td class="table-body-td" align="left">
                        <div id="AUTOGENBOOKMARK_23_71c51ab4-a8d1-4ccc-9d5c-20b1bae1332b" style=" text-align:center;">
                            {{ item.quantity|number_format(2)|bn_number }}
                        </div>
                    </td>
                    <td class="table-body-td" align="left">
                        <div id="AUTOGENBOOKMARK_24_1cd33f8c-a62d-4969-94ad-20b65dd8e1a1" style=" text-align:center;">
                            {{ (item.total / item.quantity )|number_format(2)|bn_number }}
                        </div>
                    </td>
                    <td class="table-body-td" align="right">
                        <div id="AUTOGENBOOKMARK_25_bd7a9c05-b9fc-400a-be4d-85a53f94e134" style=" text-align:center;">
                            {{ item.total|number_format(2)|bn_number }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        <tr valign="top">
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'>মোট মূল্য </td>
            <td class='text-right'>{{ post.total|number_format(2)|bn_number }}</td>
        </tr>
    </table>
    <table class="table">
        <colgroup><col style=" width: 7%;">
            <col style=" width: 30%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 15%;">
            <col style=" width: 18%;">
        </colgroup>
        <tbody>
        <tr valign="top">
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'> বাদ কর্তন <sup>২</sup> </td>
            <td class='text-right'></td>
        </tr>
        <tr valign="top">
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'>মূসকসহ মূল্য </td>
            <td class='text-right'>{{ post.total|number_format(2)|bn_number }}</td>
        </tr>
        <tr valign="top">
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'> মূসকের পরিমাণ </td>
            <td class='text-right'>{{ post.valueAddedTax|number_format(2)|bn_number }}</td>
        </tr>
        <tr valign="top">
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'> সম্পূরক শুল্কের পরিমাণ  </td>
            <td class='text-right'>{{ post.supplementaryDuty|number_format(2)|bn_number }}</td>
        </tr>
        <tr valign="top">
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'></td>
            <td class='text-left'> মোট কর <sup>৩</sup> </td>
            <td class='text-right'>{{ post.totalTaxIncidence|number_format(2)|bn_number }}</td>
        </tr>
        <tr valign="top">
            <td class='text-left' colspan="6"><strong>ফেরতের কারণ</strong> </td>
        </tr>
        <tr valign="top">
            <td colspan="6" class='text-left' style="width: 100%">
                <div style="border: 1px solid #000; padding: 5px">
                    {{ post.narration }}
                </div>
            </td>
        </tr>

        </tbody>
    </table>

{% endblock %}

{% block report_footer %}
    <table class="footer-table" >
        <colgroup>
            <col>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <div class="table1" id="AUTOGENBOOKMARK_40_c4825729-6fc2-4ccb-92a0-da3fbec67cbc" style=" text-align:left;"><br>দায়িত্বপ্রাপ্ত ব্যাক্তির স্বাক্ষর <br/><br/><br/></div>

            </td>
        </tr>
        <tr valign="top">
            <td style=" overflow:hidden;">
                <p>১ প্রতি একক পণ্য / সেবার মূসক ও সম্পূরক শুল্ক সহ মূল্য । </p>
                <p>২ ফেরত প্রদানের জন্য কোনো কর্তন থাকইলে উহার পরিমাণ । </p>
                <p>৩ মূসক ও সম্পূরক শুল্কের যোগফল ।  </p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
