{% extends 'print/report-base.html.twig' %}

{% block report_body %}
    <div id="pdf-report-page">
        <table align="left" border="1" cellpadding="0" cellspacing="0" id="mushok_6_2" style="border-collapse: collapse; empty-cells: show; width: 100%; overflow:hidden; table-layout:fixed;">
            <tbody>
            <tr>
                <td colspan="21" style="text-align:right; vertical-align:middle;margin-bottom:0">মূসক-৬.২</td>
            </tr>
            <tr>
                <td colspan="21" style="text-align:center; vertical-align:middle">

                    <p><strong>{{ domain.organizationName }}, {{ domain.address|raw }} এবং {{ domain.binNo|bn_number }}</strong></p>

                    <p><strong>বিক্রয় হিসাব পুস্তক</strong></p>

                    <p><strong>(পণ্য বা সেবা প্রক্রিয়াকরণে সম্পৃক্ত এমন নিবন্ধিত বা তালিকাভুক্ত ব্যক্তির জন্য প্রযোজ্য)</strong></p>

                    <p><strong>[বিধি ৪০ এর উপদফা (১) এর দফা (খ) এবং ৪১ এর দফা (ক) দ্রষ্টব্য ]</strong></p>
                </td>
            </tr>
            <tr>
                <td colspan="21" style="text-align:center; vertical-align:middle"><strong>পণ্য/সেবার বিক্রয়</strong></td>
            </tr>
            <tr class="style_23" valign="top" id="__TOC_0">
                <td colspan="21" style=" overflow:hidden;">
                    HS Code:  {{ item.masterItem.hsCode|bn_number }}-{{ item.name }}
                </td>
            </tr>
            <tr>
                <td colspan="1" rowspan="2" style="text-align:center; vertical-align:top">ক্রমিক সংখ্যা</td>
                <td colspan="1" rowspan="2" style="text-align:center; vertical-align:top">তারিখ</td>
                <td colspan="2" rowspan="1" style="text-align:center; vertical-align:top">উৎপাদিত পণ্য/সেবার<br />
                    প্রারম্ভিক জের</td>
                <td colspan="2" rowspan="1" style="text-align:center; vertical-align:top">উৎপাদন</td>
                <td colspan="2" rowspan="1" style="text-align:center; vertical-align:top">মোট উৎপাদিত পণ্য/সেবা</td>
                <td colspan="3" rowspan="1" style="text-align:center; vertical-align:top">ক্রেতা/ সরবরাহ গ্রহীতা</td>
                <td colspan="2" rowspan="1" style="text-align:center; vertical-align:top">চালানপত্রের বিবরণ</td>
                <td colspan="5" rowspan="1" style="text-align:center; vertical-align:top">বিক্রিত/সরবরাহকৃত পণ্যের বিবরণ</td>
                <td colspan="2" rowspan="1" style="text-align:center; vertical-align:top">পণ্যের প্রান্তিক&nbsp;জের</td>
                <td colspan="1" rowspan="2" style="text-align:center; vertical-align:top">মন্তব্য</td>
            </tr>
            <tr>
                <td style="text-align:center">পরিমাণ<br />
                    (একক)</td>
                <td style="text-align:center">মূল্য<br />
                    (সকল প্রকার কর ব্যতীত)</td>
                <td style="text-align:center">পরিমাণ<br />
                    (একক)</td>
                <td style="text-align:center">মূল্য<br />
                    (সকল প্রকার কর ব্যতীত)</td>
                <td style="text-align:center">পরিমাণ<br />
                    (একক)</td>
                <td style="text-align:center">মূল্য<br />
                    (সকল প্রকার কর ব্যতীত)</td>
                <td style="text-align:center; vertical-align:top">নাম</td>
                <td style="text-align:center; vertical-align:top">ঠিকানা</td>
                <td style="text-align:center; vertical-align:top">নিবন্ধন/তালিকাভুক্তি/ জাতীয় পরিচয়পত্র নং</td>
                <td style="text-align:center; vertical-align:top">নম্বর</td>
                <td style="text-align:center; vertical-align:top">তারিখ</td>
                <td style="text-align:center; vertical-align:top">বিবরণ</td>
                <td style="text-align:center; vertical-align:top">পরিমাণ</td>
                <td style="text-align:center; vertical-align:top">করযোগ্য মূল্য</td>
                <td style="text-align:center; vertical-align:top">সম্পূরক শুল্ক<br />
                    (যদি থাকে)</td>
                <td style="text-align:center; vertical-align:top">মূসক</td>
                <td style="text-align:center; vertical-align:top">পরিমাণ<br />
                    (একক)</td>
                <td style="text-align:center; vertical-align:top">মূল্য<br />
                    (সকল প্রকার কর ব্যতীত)</td>
            </tr>
            <tr>
                <td style="text-align:center; vertical-align:middle">(১)</td>
                <td style="text-align:center; vertical-align:middle">(২)</td>
                <td style="text-align:center; vertical-align:middle">(৩)</td>
                <td style="text-align:center; vertical-align:middle">(৪)</td>
                <td style="text-align:center; vertical-align:middle">(৫)</td>
                <td style="text-align:center; vertical-align:middle">(৬)</td>
                <td style="text-align:center; vertical-align:middle">(৭)<br />
                    =(৩+৫)</td>
                <td style="text-align:center; vertical-align:middle">(৮)<br />
                    =(৪+৬)</td>
                <td style="text-align:center; vertical-align:middle">(৯)</td>
                <td style="text-align:center; vertical-align:middle">(১০)</td>
                <td style="text-align:center; vertical-align:middle">(১১)</td>
                <td style="text-align:center; vertical-align:middle">(১২)</td>
                <td style="text-align:center; vertical-align:middle">(১৩)</td>
                <td style="text-align:center; vertical-align:middle">(১৪)</td>
                <td style="text-align:center; vertical-align:middle">(১৫)</td>
                <td style="text-align:center; vertical-align:middle">(১৬)</td>
                <td style="text-align:center; vertical-align:middle">(১৭)</td>
                <td style="text-align:center; vertical-align:middle">(১৮)</td>
                <td style="text-align:center; vertical-align:middle">(১৯)<br>=(৭-১১)</td>
                <td style="text-align:center; vertical-align:middle">(২০)<br>=(৮-২৬)</td>
                <td style="text-align:center; vertical-align:middle">(২১)</td>
            </tr>

            {% for stockItem in entities %}
                <tr valign="top">
                    <td class="style_32 text-center" style=" overflow:hidden;">
                        {{ loop.index|bn_number }}
                    </td>
                    <td class="style_32" style=" overflow:hidden;">
                        <div id="__bookmark_2" style=" text-align:center;">{{ stockItem.updated|date('d-m-y')|bn_number }}</div>
                    </td>
                    <td class="style_33 text-center" style=" overflow:hidden;">
                            {{ stockItem.openingQuantity|number_format(2)|bn_number }}
                        <span>{% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}</span>
                    </td>
                    <td class="style_32" style=" overflow:hidden;">
                        <div id="__bookmark_4" style=" text-align:center;">{{ stockItem.openingBalance|number_format(2)|bn_number }}</div>
                    </td>
                    <td class="style_32 text-center">
                        <div>
                            {% if stockItem.mode == 'production-stock' %}
                            {{ stockItem.productionBatchItemQuantity|bn_number }}
                            <span>{% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}</span>
                            {% elseif stockItem.mode == 'sales-return' %}
                                {{ stockItem.salesReturnQuantity|bn_number }}
                                <span>{% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}</span>
                             {% endif %}

                        </div>
                    </td>
                    <td class="style_32" style=" overflow:hidden;">
                        <div id="__bookmark_5" style=" text-align:center;">
                            {% if stockItem.mode in  ['production-stock','sales-return'] %}
                            {{ (stockItem.subTotal)|number_format(2)|bn_number }}
                            <div style="visibility:hidden">&nbsp;</div>
                            {% endif %}
                        </div>
                    </td>
                    <td class="style_32 text-center">
                        <div id="__bookmark_6" style=" text-align:center;">
                            {% if stockItem.mode in  ['production-stock','sales-return'] %}
                            {{ (stockItem.closingQuantity)|bn_number }}
                            <span>{% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}</span>
                            {% endif %}
                        </div>
                        <div id="__bookmark_6" style=" text-align:center;">
                            {% if stockItem.mode in  ['sales'] %}
                                {{ (stockItem.openingQuantity)|bn_number }}
                                <span>{% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}</span>
                            {% endif %}
                        </div>
                    </td>
                    <td class="style_32" style=" overflow:hidden;">
                        {% if stockItem.mode in  ['production-stock','sales-return'] %}
                        <div id="__bookmark_5" style=" text-align:center;">
                            {{ (stockItem.closingBalance)|number_format(2)|bn_number }}
                            <div style="visibility:hidden">&nbsp;</div>
                        </div>
                        {% endif %}
                        {% if stockItem.mode in  ['sales'] %}
                            <div id="__bookmark_5" style=" text-align:center;">
                                {{ (stockItem.openingBalance)|number_format(2)|bn_number }}
                                <div style="visibility:hidden">&nbsp;</div>
                            </div>
                        {% endif %}
                    </td>
                    {% if stockItem.mode in  ['sales','sales-return'] %}
                        <td class="style_32" style=" overflow:hidden;">
                            <div id="__bookmark_7" style=" text-align:center;">
                                {% if stockItem.salesItem is not empty and stockItem.salesItem.sales.customer is not empty  %}
                                    {{ stockItem.salesItem.sales.customer.name }}
                                {% endif %}
                                <div style="visibility:hidden">&nbsp;</div>
                            </div>
                        </td>
                        <td class="style_32" style=" overflow:hidden;">
                            <div id="__bookmark_7" style=" text-align:center;">
                                {% if stockItem.salesItem is not empty and stockItem.salesItem.sales.customer is not empty %}
                                    {{ stockItem.salesItem.sales.customer.address|raw }}
                                {% endif %}
                                <div style="visibility:hidden">&nbsp;</div>
                            </div>
                        </td>
                        <td class="style_32" style=" overflow:hidden;">
                            <div id="__bookmark_8" style=" text-align:center;">
                                {% if stockItem.salesItem is not empty and stockItem.salesItem.sales.customer is not empty %}
                                    {{ stockItem.salesItem.sales.customer.binNo }}
                                {% elseif stockItem.salesItem is not empty and stockItem.salesItem.sales.customer is not empty %}
                                    {{ stockItem.salesItem.sales.customer.nid }}
                                {% endif %}
                                <div style="visibility:hidden">&nbsp;</div>
                            </div>
                        </td>
                        <td class="style_33" style=" overflow:hidden;" align="center">

                            {% if stockItem.salesItem is not empty and stockItem.mode == 'sales' %}
                                {{ stockItem.sales.invoice }}
                            {% elseif stockItem.salesReturnItem is not empty and stockItem.mode == 'sales-return' %}
                                {{ stockItem.salesReturn.invoice }}
                            {% endif %}
                        </td>
                        <td class="style_33" style=" overflow:hidden;" align="center">
                            {% if stockItem.salesItem is not empty %}  {{ stockItem.updated|date('d-m-Y') }}{% endif %}
                        </td>
                    {% elseif stockItem.mode in  ['production-stock'] %}
                        <td class="style_32" style=" overflow:hidden;">
                            <div id="__bookmark_7" style=" text-align:center;">
                                {% if stockItem.productionBatchItem is not empty and stockItem.productionReceive is not empty  and stockItem.remark == 'Contractual-production'  %}
                                    {{ stockItem.productionBatchItem.batch.vendor.companyName }}
                                {% endif %}
                                <div style="visibility:hidden">&nbsp;</div>
                            </div>
                        </td>
                        <td class="style_32" style=" overflow:hidden;">
                            <div id="__bookmark_7" style=" text-align:center;">
                                {% if stockItem.productionBatchItem is not empty and stockItem.productionReceive is not empty  and stockItem.remark == 'Contractual-production'  %}
                                    {{ stockItem.productionBatchItem.batch.vendor.address|raw }}
                                {% endif %}
                                <div style="visibility:hidden">&nbsp;</div>
                            </div>
                        </td>
                        <td class="style_32" style=" overflow:hidden;">
                            <div id="__bookmark_8" style=" text-align:center;">
                                {% if stockItem.productionBatchItem is not empty and stockItem.productionReceive is not empty and stockItem.remark == 'Contractual-production'  %}
                                    {% if stockItem.productionBatchItem.batch.vendor.binNo is not empty %}
                                        {{ stockItem.productionBatchItem.batch.vendor.binNo }}
                                    {% elseif stockItem.productionBatchItem.batch.vendor.binNo is not empty %}
                                        {{ stockItem.productionBatchItem.batch.vendor.nid }}
                                    {% endif %}
                                {% endif %}
                                <div style="visibility:hidden">&nbsp;</div>
                            </div>
                        </td>
                        <td class="style_33" style=" overflow:hidden;" align="center">
                            {% if stockItem.remark == 'Contractual-production' and stockItem.productionReceive is not empty %}
                                {{ stockItem.productionReceive.challanNo }}
                            {% else %}
                                {{ stockItem.productionBatch.invoice }}
                            {% endif %}

                        </td>
                        <td class="style_33" style=" overflow:hidden;" align="center">
                            {% if stockItem.remark == 'Contractual-production' and stockItem.productionReceive is not empty %}
                                {{ stockItem.productionReceive.receiveDate|date('d-m-Y') }}
                            {% else %}
                                {{ stockItem.updated|date('d-m-Y') }}
                            {% endif %}

                        </td>
                    {% endif %}

                     <td class="style_33" style=" overflow:hidden;" align="center">
                      {#{{ stockItem.item.name }}#}
                    </td>
                    <td class="style_36" style=" overflow:hidden;" align="center">
                        {% if stockItem.salesQuantity %}
                            <span style=" text-align:center;">{{ stockItem.salesQuantity|number_format|bn_number }}</span>
                            <span> {% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}</span>{% endif %}
                    </td>
                    <td class="style_32" style=" overflow:hidden;">
                        <div style=" text-align:center;">
                            {% if stockItem.mode == 'sales' %}
                                {{ stockItem.subTotal|number_format|bn_number }}
                            {% endif %}
                        </div>
                    </td>
                    <td class="style_32" style=" overflow:hidden;">
                        <div style=" text-align:center;">
                            {% if stockItem.salesItem is not empty and stockItem.mode == 'sales' %}
                                {{ stockItem.salesItem.supplementaryDuty|number_format(2)|bn_number }}
                            {% endif %}
                        </div>
                    </td>
                    <td class="style_32" style=" overflow:hidden;">
                        {% if stockItem.salesItem is not empty and stockItem.mode == 'sales' %}
                        <div style=" text-align:center;">{{ stockItem.salesItem.valueAddedTax|number_format(2)|bn_number }}</div>
                        {% endif %}
                    </td>

                    <td class="style_36" style=" overflow:hidden;" align="center">
                        <span style=" text-align:center;">{{ stockItem.closingQuantity|number_format(2)|bn_number }}</span>
                        <span>{% if stockItem.item.unit is not empty %} {{ stockItem.item.unit.name }}{% endif %}</span>
                    </td>
                    <td class="style_32" style=" overflow:hidden;">
                        <div style=" text-align:center;">{{ stockItem.closingBalance|number_format(2)|bn_number }}</div>
                    </td>
                    <td class="style_32" style=" overflow:hidden;">
                        {{ stockItem.remark|capitalize }}
                        <div id="__bookmark_16" style="display: none; text-align:center;">
                            <div style="visibility:hidden">&nbsp;</div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br/>
        <br/>
        <h3><strong>বিশেষ দ্রষ্টব্যঃ</strong></h3>
        <ul>
            <li>যেইক্ষেত্রে অনিবন্ধিত ব্যক্তির নিকট পণ্য বিক্রয় করা হইবে সেইক্ষেত্রে উক্ত ব্যক্তির পূর্ণাঙ্গ নাম, ঠিকানা ও জাতীয় পরিচয়পত্র নম্বর যথাযথভাবে সংশ্লিষ্ট কলাম [(৯), (১০) ও (১১)] আবশ্যিকভাবে উল্লেখ করিতে হইবে।</li>
        </ul>

    </div>
{% endblock %}
